In [1]:
# 1 Importing Pandas

import pandas as pd

# Display max columns (watch out for match df over 200K rows)
#pd.set_option('display.max_rows', None)

In [2]:
# 2 Loading Data Sets

champs = df1= pd.read_excel("Data-Sets/Champions-2024.xlsx",).round(1)
match = df2 = pd.read_csv("Data-Sets/lol_match_data.csv",).round(1)

In [ ]:
# 2A Champion Details (Can Skip)
# https://www.kaggle.com/datasets/gabkgonzales/league-of-legends-dataset

champs

In [ ]:
# 2B Match Data (Can Skip)
# Link - https://www.kaggle.com/datasets/mldatastudent/league-of-legends-match-data (Big File)

match

In [3]:
# 3 Majors Changes to Match DF

# Count the occurrences for each value in 'Difficulty'
champ_difficulity_count = champs['Difficulty'].value_counts()

# Assigning Difficulty levels based on 1-6
champs['Difficulty'] = champs['Difficulty'].replace({'Beginner' : '1',
                                                     'Novice' : '2',
                                                     'Intermediate' : '3',
                                                     'Intermediate_Plus' : '4',
                                                     'Advanced' : '5',
                                                     'Expert' : '6',
                                                     })

# Count Difficulity Levels (1-6)
champ_difficulity_count = champs['Difficulty'].value_counts()

# Display df
print(champ_difficulity_count)

# Dropping unneccessary columns
champs.drop(['Nick Name',  
             'Range type', 
             'Resourse type', 
             'Base HP', 
             'Base mana',
             'Classes'], axis=1, inplace=True)

# Slicing secondary roles from Role column
champs['Role'] = champs['Role'].str.split(',').str[0]

# Sliced 'Release Date' to remove HH:MM:SS
champs['Release Date'] = pd.to_datetime(champs['Release Date'], errors='coerce')

champs['Release Date'] = pd.to_datetime(champs['Release Date'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

# Reformat 'Release Date' to MM/DD/YYYY format
champs['Release Date'] = champs['Release Date'].dt.strftime('%m/%d/%Y')

# Rearranging champs df 
champs = champs[['Name', 
               'Role', 
               'Difficulty',
               'Release Date', 
               'Last Changed', 
               'RP', 
               'Blue Essence',]]

# Replace mis-match names with punctation within name or spaces needed
champs['Name'] = champs['Name'].replace({'Dr. mundo': "Dr. Mundo",
                                               'Chogath' : "Cho'Gath",
                                               'Dr. mundo' : 'Dr. Mundo',
                                               'Jarvan Iv' : 'Jarvan IV',
                                               "KSante" : "K'Sante",
                                               "Kaisa" : "Kai'Sa",
                                               'Khazix' : "Kha'Zix",
                                               'KogMaw' : "Kog'Maw",
                                               'LeeSin' : "Lee Sin",
                                               'MasterYi' : 'Master Yi ',
                                               'MissFortune' : 'Miss Fortune ',
                                               'Nunu' : 'Nunu & Willump',
                                               'RekSai' : "Rek'Sai",
                                               'Renata' : 'Renata Glasc',
                                               'TahmKench' : 'Tahm Kench ',
                                               'TwistedFate' : 'Twisted Fate',
                                               'Velkoz' : "Vel'Koz",
                                               'MonkeyKing' : 'Wukong',
                                               'XinZhao' : 'Xin Zhao'})

blue_essence_count = champs['Blue Essence'].value_counts()

champs_rp_count = champs['RP'].value_counts

# Count the occurrences for each value in 'Blue Essence' and 'RP'

blue_essence_count = champs['Blue Essence'].value_counts()

champs_rp_count = champs['RP'].value_counts()

# Display the results

print(blue_essence_count)

print(champs_rp_count)

champs

Difficulty
2    43
3    38
1    29
4    28
5    15
6    15
Name: count, dtype: int64
Blue Essence
4800    59
3150    47
1350    31
450     23
6300     5
7800     1
4444     1
3141     1
Name: count, dtype: int64
RP
880    57
790    47
585    32
260    26
975     6
Name: count, dtype: int64

        Name     Role Difficulty Release Date Last Changed   RP  Blue Essence
0     Aatrox      Top          5   06/13/2013       V14.14  880          4800
1       Ahri   Middle          3   12/14/2011       V14.18  790          3150
2      Akali      Top          6   05/11/2010       V14.18  790          3150
3     Akshan   Middle          4   07/22/2021       V14.14  880          4800
4    Alistar  Support          2   02/21/2009       V14.16  585          1350
..       ...      ...        ...          ...          ...  ...           ...
163     Zeri   Bottom          4   01/20/2022       V14.18  880          4800
164    Ziggs   Bottom          2   02/01/2012       V14.18  880          4800
165   Zilean  Support          3   04/18/2009       V13.22  585          1350
166      Zoe   Middle          6   11/21/2017        V14.9  880          4800
167     Zyra  Support          4   07/24/2012       V14.15  790          3150

[168 rows x 7 columns]

In [4]:
# 4 Cleaning / Removing unwanted columns for match df
# Dropping 99 columns retaining 9 columns from match df

match = df2[['player_teamPosition',
            'player_champName',
            'player_champName_ban',
            'player_kills', 
            'player_deaths', 
            'player_assists',
            'player_kda',
            'player_totalMinionsKilled', 
            'player_gameLength',]]

match

# 5 Creating copy of match(df)
match = match.copy()

# 5A Rename match columns to make key 'Name' for df merge (see #7)
match.rename(columns={'player_teamPosition' : 'Position', 
                     'player_champName' : 'Name', 
                     'player_champName_ban' : 'Banned Champ',
                     'player_kills' : 'Kills',
                     'player_deaths' : 'Deaths', 
                     'player_assists' : 'Assist', 
                     'player_kda' : 'KDA',
                     'player_totalMinionsKilled' : 'CS', 
                     'player_gameLength' : "Game Time (s)",}, inplace=True)

# Replace mis-match names with punctation within name or spaces needed
match['Name'] = match['Name'].replace({'AurelionSol': 'Aurelion Sol', 
                                               'Belveth': "Bel'veth",
                                               'Chogath' : "Cho'gath",
                                               'DrMundo' : 'Dr. Mundo',
                                               'JarvanIV' : 'Jarvan IV',
                                               "KSante" : "K'sante",
                                               "Kaisa" : "Kai'sa",
                                               'Khazix' : "Kha'zix",
                                               "Kogmaw" : "Kog'maw",
                                               'LeeSin' : "Lee Sin",
                                               'MasterYi ' : 'Master Yi',
                                               'MissFortune ' : 'Miss Fortune' ,
                                               'Nunu' : 'Nunu & Willump',
                                               "Rek'Sai" : "Rek'sai",
                                               'Renata' : 'Renata Glasc',
                                               'TahmKench ' : 'Tahm Kench' ,
                                               'TwistedFate' : 'Twisted Fate',
                                               'Velkoz' : "Vel'koz",
                                               'MonkeyKing' : 'Wukong',
                                               'XinZhao' : 'Xin Zhao',})



# Display the modified DataFrame
print(match)

champs['Name'] = champs['Name'].replace({'Master Yi ': 'Master Yi', 
                                               'Miss Fortune ': "Miss Fortune",
                                               'Tahm Kench ' : "Tahm Kench",})

# Replace specific values in a column
match['Position'] = match['Position'].replace({'TOP': 'Top',
                                    'MIDDLE': 'Middle',
                                    'JUNGLE' : 'Jungle',
                                    'BOTTOM' : 'Bottom',
                                    'UTILITY' : 'Support'})

match

       Position        Name  Banned Champ  Kills  Deaths  Assist  KDA     CS  \
0           TOP         Jax         Fiora   14.0     4.0     5.0  4.8  210.0
1        JUNGLE    Xin Zhao  Fiddlesticks    2.0     4.0    17.0  4.8   18.0
2        MIDDLE       Neeko      Volibear    2.0     6.0    16.0  3.0  184.0
3        BOTTOM      Kai'sa          Pyke   19.0     7.0    10.0  4.1  229.0
4       UTILITY  Blitzcrank           Lux    2.0     5.0    24.0  5.2   34.0
...         ...         ...           ...    ...     ...     ...  ...    ...
205105      TOP        Zeri           NaN   19.0     8.0     7.0  3.2  254.0
205106   JUNGLE        Zyra       Karthus    7.0     7.0    15.0  3.1   85.0
205107   MIDDLE    Tristana           NaN    6.0     7.0     7.0  1.9  262.0
205108   BOTTOM        Ornn       Smolder    3.0     9.0    15.0  2.0  120.0
205109  UTILITY       Senna        Lillia    9.0     7.0    22.0  4.4   36.0

        Game Time (s)
0              1835.0
1              1835.0
2              1835.0
3              1835.0
4              1835.0
...               ...
205105         1851.8
205106         1851.8
205107         1851.8
205108         1851.8
205109         1851.8

[205110 rows x 9 columns]

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s)
0,Top,Jax,Fiora,14.0,4.0,5.0,4.8,210.0,1835.0
1,Jungle,Xin Zhao,Fiddlesticks,2.0,4.0,17.0,4.8,18.0,1835.0
2,Middle,Neeko,Volibear,2.0,6.0,16.0,3.0,184.0,1835.0
3,Bottom,Kai'sa,Pyke,19.0,7.0,10.0,4.1,229.0,1835.0
4,Support,Blitzcrank,Lux,2.0,5.0,24.0,5.2,34.0,1835.0
...,...,...,...,...,...,...,...,...,...
205105,Top,Zeri,NaN,19.0,8.0,7.0,3.2,254.0,1851.8
205106,Jungle,Zyra,Karthus,7.0,7.0,15.0,3.1,85.0,1851.8
205107,Middle,Tristana,NaN,6.0,7.0,7.0,1.9,262.0,1851.8
205108,Bottom,Ornn,Smolder,3.0,9.0,15.0,2.0,120.0,1851.8
205109,Support,Senna,Lillia,9.0,7.0,22.0,4.4,36.0,1851.8

In [5]:
# Get the count of each champion picked (based on 'Name' column)
match_champ_count = match['Name'].value_counts()

# Display the results

print(match_champ_count)

# 6 Sort by Position and then by the desired column, if needed
match_sorted = match.sort_values(by=['Position'])

# Display the sorted dataframe
print(match_sorted)

# Name sort to pick up NaN values for Positions
name_sorted = match.sort_values(by=['Name'])

print(name_sorted)

# 7 Merge Sorted Lanes and Champ information
# change how type from left to right
merged_df = pd.merge(match_sorted, champs, on='Name', how='left')

# Merge Sorted Names and Champ information (picked up NaN values not in 'merged df')
name_df = pd.merge(match_sorted, champs, on='Name', how='left')

# Groupby 'Name' Column and count the number of times each champ has been played
merged_df_count = merged_df.groupby('Name').agg(
    Count=('Name', 'count'),
    Kills=('Kills', 'sum'),
    Deaths=('Deaths', 'sum'),
    Assist=('Assist', 'sum'),
    Game_Time=('Game Time (s)', 'sum')
)

# Function to convert total seconds to DD:HH:MM:SS format
def seconds_to_dhms(seconds):
    days = seconds // 86400  # 86400 seconds in a day
    hours = (seconds % 86400) // 3600  # 3600 seconds in an hour
    minutes = (seconds % 3600) // 60  # 60 seconds in a minute
    sec = seconds % 60  # Remaining seconds
    
    # Return formatted string in DD:HH:MM:SS
    return f"{int(days)}d {int(hours):02d}h {int(minutes):02d}m {int(sec):02d}s"

# Apply function to the 'Game_Time' column
merged_df_count['Game_Time'] = merged_df_count['Game_Time'].apply(seconds_to_dhms)

# Display updated dataframe
print(merged_df_count)

# 8 Groupby 'Name' Column and count each time a champ has been played
merged_df_count = merged_df.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(merged_df_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
# Convert Game_Time to HH:MM:SS formart

merged_df_count = merged_df.groupby('Name').agg(Count=('Name', 'count'), 
                                        Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))

print(merged_df_count)

Name
Ezreal          6897
Kai'sa          6729
Zeri            5586
Leona           4326
Rell            3934
                ...
Vel'koz          180
Singed           169
Heimerdinger     163
Trundle          131
Yorick            83
Name: count, Length: 168, dtype: int64
       Position      Name  Banned Champ  Kills  Deaths  Assist  KDA     CS  \
102540   Bottom   Sejuani  Twisted Fate    3.0     6.0     5.0  1.3  123.0
147983   Bottom    Draven          Pyke    6.0     5.0     1.0  1.4  220.0
114230   Bottom    Kai'sa          Ashe    1.0     3.0     1.0  0.7  131.0
50623    Bottom      Jinx           NaN    1.0     1.0     0.0  1.0   82.0
179798   Bottom  Aphelios         Yasuo   10.0     5.0    10.0  4.0  233.0
...         ...       ...           ...    ...     ...     ...  ...    ...
192708      NaN    Lucian          Ashe    0.0     0.0     0.0  0.0    0.0
196498      NaN   Smolder      Tristana    0.0     0.0     0.0  0.0    0.0
198596      NaN     Viego        Aatrox    0.0     0.0     0.0  0.0    0.0
202520      NaN   Camille         Yuumi    0.0     0.0     0.0  0.0    0.0
203237      NaN      Ryze         Senna    0.0     0.0     0.0  0.0    0.0

        Game Time (s)
102540         1234.3
147983         1958.3
114230         1100.3
50623           883.6
179798         2021.4
...               ...
192708          202.2
196498          120.3
198596          149.0
202520          224.1
203237          172.2

[205110 rows x 9 columns]
       Position    Name Banned Champ  Kills  Deaths  Assist   KDA     CS  \
49610       Top  Aatrox      LeBlanc    7.0    10.0     6.0   1.3  219.0
12645       Top  Aatrox     Nautilus    3.0     9.0     3.0   0.7  276.0
167025      Top  Aatrox       Aurora    0.0     7.0     1.0   0.1   87.0
179200      Top  Aatrox      Hecarim   10.0     4.0     2.0   3.0  192.0
167010      Top  Aatrox        Leona   12.0    10.0     3.0   1.5  106.0
...         ...     ...          ...    ...     ...     ...   ...    ...
137651   Jungle    Zyra      LeBlanc    0.0     1.0     0.0   0.0    0.0
20681    Jungle    Zyra      LeBlanc    0.0     4.0     3.0   0.8    9.0
107355   Jungle    Zyra       Ezreal    1.0     5.0    10.0   2.2    8.0
42736    Jungle    Zyra          NaN    6.0     2.0    16.0  11.0   31.0
5336     Jungle    Zyra          NaN   13.0     5.0    16.0   5.8   39.0

        Game Time (s)
49610          2104.9
12645          2385.6
167025          912.4
179200         1285.2
167010         1319.7
...               ...
137651          353.8
20681           920.9
107355         1111.6
42736          1437.5
5336           1723.2

[205110 rows x 9 columns]
         Count    Kills   Deaths   Assist        Game_Time
Name
Aatrox    2105   9578.0  11049.0   9878.0  36d 16h 00m 44s
Ahri      1067   5519.0   4490.0   7625.0  18d 09h 24m 07s
Akali     1313   8391.0   6598.0   5473.0  22d 21h 24m 20s
Akshan     744   5405.0   3546.0   4170.0  13d 01h 54m 02s
Alistar   2379   3249.0  12779.0  31298.0  40d 20h 15m 39s
...        ...      ...      ...      ...              ...
Zeri      5586  35807.0  26942.0  33032.0  96d 10h 49m 43s
Ziggs      747   3610.0   3388.0   5094.0  12d 23h 31m 43s
Zilean     383    661.0   1644.0   4501.0   6d 19h 48m 02s
Zoe        591   3713.0   2671.0   4411.0  10d 12h 40m 08s
Zyra      1650   7545.0   7683.0  15138.0  29d 04h 15m 09s

[168 rows x 5 columns]
         Count
Name
Aatrox    2105
Ahri      1067
Akali     1313
Akshan     744
Alistar   2379
...        ...
Zeri      5586
Ziggs      747
Zilean     383
Zoe        591
Zyra      1650

[168 rows x 1 columns]
         Count    Kills   Deaths   Assist  Game_Time
Name
Aatrox    2105   9578.0  11049.0   9878.0  3168044.2
Ahri      1067   5519.0   4490.0   7625.0  1589047.3
Akali     1313   8391.0   6598.0   5473.0  1977860.7
Akshan     744   5405.0   3546.0   4170.0  1130042.6
Alistar   2379   3249.0  12779.0  31298.0  3528939.4
...        ...      ...      ...      ...        ...
Zeri      5586  35807.0  26942.0  33032.0  8333383.4
Ziggs      747   3610.0   3388.0   5094.0  1121503.4
Zilean     383    661.0   1644.0   4501.0   589682.7
Zoe        591   3713.0   2671.0   4411.0   909608.3
Zyra      1650   7545.0   7683.0  15138.0  2520909.5

[168 rows x 5 columns]

In [6]:
#df.set_option('display.max_rows', None)

# 9 Groupby 'Banned Champ' column and count each time a champ has been banned
merged_df_banned_count = merged_df.groupby('Banned Champ').agg(Count=('Name', 'count'))

# Sort to get top 50 banned champs
top50_merged_banned = merged_df_banned_count.sort_values('Count', ascending=False)#.head(50)

# Reset index to make 'Banned Champ' a column
top50_merged_banned = top50_merged_banned.reset_index()

# Rename the columns to 'Name' and 'Count'
top50_merged_banned = top50_merged_banned.rename(columns={'Banned Champ': 'Name'})

# Display the result
top50_merged_banned

# Attach lane 
top50_merged_banned = pd.merge(top50_merged_banned, champs, on='Name', how='right')

# Dropping all columns but Name, Count, and Role
top50_merged_banned = top50_merged_banned[['Name',
                                           'Count',
                                           'Role',]]
# Top 50
top50_merged_banned.head(50)

merged_df_count['Game_Time'] = pd.to_numeric(merged_df_count['Game_Time'], errors='coerce')


merged_df_count['Game_Time'] = merged_df_count['Game_Time'].apply(
    lambda x: str(int(x // 86400)) + 'd ' + 
              str(int((x % 86400) // 3600)).zfill(2) + 'h ' + 
              str(int((x % 3600) // 60)).zfill(2) + 'm ' + 
              str(int(x % 60)).zfill(2) + 's' if pd.notna(x) else 'NaN'
)


merged_df_count.rename(columns={
    'Kills': 'Kills(Total)', 
    'Deaths': 'Deaths(Total)', 
    'Assist': 'Assist(Total)',
    'Game_Time': 'Game_Time(Total)', 
}, inplace=True)

# Display the result
print(merged_df_count)

# 11 Groupby 'Name' Column and count each time a champ has been played
merged_df_mean = merged_df.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(merged_df_mean)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
merged_df_mean = merged_df.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

merged_df_mean.round(1)

merged_df_mean.rename(columns={
    'Kills': 'Kills(Mean)', 
    'Deaths': 'Deaths(Mean)', 
    'Assist': 'Assist(Mean)',
    'Game_Time': 'Game_Time(Mean)',
    'KDA' : 'KDA(Mean)' 
}, inplace=True)

# 13 Merge Sorted Lanes and Champ information
merged_count_mean = pd.merge(merged_df_count, merged_df_mean, on='Name', how='left')

# Convert 'Game_Time(Mean)' to MM:SS format
merged_count_mean['Game_Time(Mean)'] = merged_count_mean['Game_Time(Mean)'].apply(
    lambda x: str(int(x // 60)).zfill(2) + 'm ' + 
              str(int(x % 60)).zfill(2) + 's' if pd.notna(x) else 'NaN')

# Display the merged DataFrame
merged_count_mean

# 14 Rearranging Total & Average Dataframe
# fix 'Game_Time(Mean)'
merged_count_mean = merged_count_mean[['Kills(Total)','Kills(Total)', 'Deaths(Total)', 'Deaths(Total)', 'Assist(Total)', 'Assist(Mean)', 'KDA(Mean)', 'Game_Time(Mean)']]#removed(mean)

# KDA Leader (Mean)
kda_kill_leaders = merged_count_mean.sort_values('KDA(Mean)', ascending=False)

# KDA Leaders (Mean)
kda_kill_leaders

         Count  Kills(Total)  Deaths(Total)  Assist(Total) Game_Time(Total)
Name
Aatrox    2105        9578.0        11049.0         9878.0  36d 16h 00m 44s
Ahri      1067        5519.0         4490.0         7625.0  18d 09h 24m 07s
Akali     1313        8391.0         6598.0         5473.0  22d 21h 24m 20s
Akshan     744        5405.0         3546.0         4170.0  13d 01h 54m 02s
Alistar   2379        3249.0        12779.0        31298.0  40d 20h 15m 39s
...        ...           ...            ...            ...              ...
Zeri      5586       35807.0        26942.0        33032.0  96d 10h 49m 43s
Ziggs      747        3610.0         3388.0         5094.0  12d 23h 31m 43s
Zilean     383         661.0         1644.0         4501.0   6d 19h 48m 02s
Zoe        591        3713.0         2671.0         4411.0  10d 12h 40m 08s
Zyra      1650        7545.0         7683.0        15138.0  29d 04h 15m 09s

[168 rows x 5 columns]
         Count
Name
Aatrox    2105
Ahri      1067
Akali     1313
Akshan     744
Alistar   2379
...        ...
Zeri      5586
Ziggs      747
Zilean     383
Zoe        591
Zyra      1650

[168 rows x 1 columns]

,Kills(Total),Kills(Total),Deaths(Total),Deaths(Total),Assist(Total),Assist(Mean),KDA(Mean),Game_Time(Mean)
Name,,,,,,,,
Yuumi,559.0,559.0,1567.0,1567.0,6328.0,13.492537,6.627719,24m 09s
Ivern,1588.0,1588.0,2399.0,2399.0,8532.0,12.658754,6.444659,24m 39s
Jarvan IV,5389.0,5389.0,5004.0,5004.0,11884.0,11.383142,5.300958,25m 01s
Nidalee,21556.0,21556.0,13477.0,13477.0,25342.0,7.961671,5.289947,24m 29s
Janna,1826.0,1826.0,5342.0,5342.0,17401.0,13.385385,5.221615,25m 07s
...,...,...,...,...,...,...,...,...
Irelia,7698.0,7698.0,8536.0,8536.0,5852.0,4.350929,2.190335,25m 03s
Mordekaiser,1672.0,1672.0,2073.0,2073.0,1494.0,3.860465,2.121705,24m 30s
Trundle,440.0,440.0,658.0,658.0,536.0,4.091603,2.100000,24m 09s
Yorick,286.0,286.0,395.0,395.0,283.0,3.409639,2.067470,25m 23s
Illaoi,1040.0,1040.0,1391.0,1391.0,1067.0,4.167969,2.048437,25m 34s

In [7]:
# 15 Sort Values by highest (Count) "Kills, Deaths, Assist, etc"

# Kills
merged_kills_count = merged_df_count.sort_values(by='Kills(Total)', ascending=False)

# Deaths
merged_deaths_count = merged_df_count.sort_values(by='Deaths(Total)', ascending=False)

# Assist
merged_assist_count = merged_df_count.sort_values(by='Assist(Total)', ascending=False)

# 16 Sort Values by highest (Mean)"Kills, Deaths, Assist, etc"

# Kills
merged_kills_mean = merged_df_mean.sort_values(by='Kills(Mean)', ascending=False)

# Deaths
merged_deaths_mean = merged_df_mean.sort_values(by='Deaths(Mean)', ascending=False)

# Assist
merged_assist_mean = merged_df_mean.sort_values(by='Assist(Mean)', ascending=False)

In [ ]:
# 17 Top Data Frame

TOP = merged_df[merged_df['Position'].isin(['Top'])]

print(TOP)

# 18 Groupby 'Name' Column and count each time a champ has been played
top_count = TOP.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(top_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
top_count = TOP.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(top_count)

# Kills
top_count_kills = top_count.sort_values(by='Kills', ascending=False)

# Deaths
top_count_deaths = top_count.sort_values(by='Deaths', ascending=False)

# Assist
top_count_assists = top_count.sort_values(by='Assist', ascending=False)

# 19 Groupby 'Name' Column and count each time a champ has been played
top_sum = TOP.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(top_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
top_sum = TOP.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean')).round(1)

# New Dataframe (Average)
print(top_sum)

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Role,Difficulty,Release Date,Last Changed,RP,Blue Essence
164021,Top,Nasus,Kayn,1.0,2.0,0.0,0.5,93.0,911.3,Top,1,10/01/2009,V14.18,585.0,1350.0
164022,Top,Gnar,Zeri,4.0,0.0,1.0,5.0,159.0,957.4,Top,4,08/14/2014,V14.18,880.0,4800.0
164023,Top,Bard,Fiora,2.0,5.0,23.0,5.0,194.0,2223.1,Support,5,03/12/2015,V14.15,880.0,4800.0
164024,Top,Twisted Fate,Graves,5.0,7.0,2.0,1.0,184.0,1523.3,Middle,3,02/21/2009,V14.12,585.0,4800.0
164025,Top,Pantheon,Hecarim,3.0,5.0,6.0,1.8,191.0,1648.7,Top,2,02/02/2010,V14.13,585.0,1350.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205019,Top,Jayce,Akshan,3.0,13.0,8.0,0.8,183.0,1856.3,Top,4,07/07/2012,V14.18,880.0,4800.0
205020,Top,Tryndamere,Vi,4.0,1.0,1.0,5.0,129.0,918.1,Top,2,05/01/2009,V14.12,585.0,1350.0
205021,Top,Cassiopeia,Akshan,1.0,6.0,14.0,2.5,171.0,1841.3,Middle,3,12/14/2010,V14.16,880.0,4800.0
205022,Top,TahmKench,Ezreal,1.0,6.0,1.0,0.3,125.0,1451.8,NaN,NaN,NaN,NaN,NaN,NaN
205023,Top,Jax,Fiora,14.0,4.0,5.0,4.8,210.0,1835.0,Top,2,02/21/2009,V14.18,585.0,1350.0

In [11]:
# 20 JUNGLE Data Frame

JUNGLE = merged_df[merged_df['Position'].isin(['Jungle'])]

JUNGLE

# 21 Groupby 'Name' Column and count each time a champ has been played
jungle_count = JUNGLE.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(jungle_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
jungle_count = JUNGLE.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(jungle_count)

# 22 Groupby 'Name' Column and count each time a champ has been played
jungle_sum = JUNGLE.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(jungle_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
jungle_sum = JUNGLE.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean')).round(1)

# New Dataframe (Average)
print(jungle_sum)

         Count
Name
Aatrox       3
Ahri         1
Akali        2
Akshan       2
Alistar      1
...        ...
Zac        641
Zed        169
Zeri        23
Ziggs        1
Zyra      1491

[125 rows x 1 columns]
          Kills  Deaths   Assist     KDA  Game_Time
Name
Aatrox      9.0    29.0     24.0     3.6     5270.2
Ahri        0.0     1.0      0.0     0.0      224.7
Akali       0.0     0.0      0.0     0.0      206.2
Akshan      9.0    10.0     26.0     6.7     3506.3
Alistar     0.0     0.0      0.0     0.0      111.2
...         ...     ...      ...     ...        ...
Zac      3088.0  2660.0   6425.0  3617.4   957500.2
Zed      1284.0   949.0   1035.0   583.2   266584.2
Zeri      156.0   120.0    156.0    73.9    33431.1
Ziggs       5.0     9.0     17.0     2.4     1795.2
Zyra     7014.0  6730.0  13455.0  6703.4  2256926.5

[125 rows x 5 columns]
         Count
Name
Aatrox       3
Ahri         1
Akali        2
Akshan       2
Alistar      1
...        ...
Zac        641
Zed        169
Zeri        23
Ziggs        1
Zyra      1491

[125 rows x 1 columns]
         Kills  Deaths  Assist  KDA  Game_Time
Name
Aatrox     3.0     9.7     8.0  1.2     1756.7
Ahri       0.0     1.0     0.0  0.0      224.7
Akali      0.0     0.0     0.0  0.0      103.1
Akshan     4.5     5.0    13.0  3.4     1753.2
Alistar    0.0     0.0     0.0  0.0      111.2
...        ...     ...     ...  ...        ...
Zac        4.8     4.1    10.0  5.6     1493.8
Zed        7.6     5.6     6.1  3.5     1577.4
Zeri       6.8     5.2     6.8  3.2     1453.5
Ziggs      5.0     9.0    17.0  2.4     1795.2
Zyra       4.7     4.5     9.0  4.5     1513.7

[125 rows x 5 columns]

In [13]:
# 23 MIDDLE Data Frame

MIDDLE = merged_df[merged_df['Position'].isin(['Middle'])]

MIDDLE

# 24 Groupby 'Name' Column and count each time a champ has been played
middle_count = MIDDLE.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(middle_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
middle_count = MIDDLE.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(middle_count)

# 25 Groupby 'Name' Column and count each time a champ has been played
middle_sum = MIDDLE.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(middle_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
middle_sum = MIDDLE.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean')).round(1)

# New Dataframe (Average)
print(middle_sum)

         Count
Name
Aatrox      46
Ahri      1041
Akali      756
Akshan     619
Alistar      8
...        ...
Zeri      1050
Ziggs      223
Zilean      69
Zoe        517
Zyra         5

[161 rows x 1 columns]
          Kills  Deaths  Assist     KDA  Game_Time
Name
Aatrox    278.0   264.0   277.0   131.6    68643.1
Ahri     5433.0  4386.0  7512.0  4336.1  1556558.4
Akali    5208.0  3605.0  3329.0  2524.7  1134633.8
Akshan   4697.0  2941.0  3518.0  2515.7   941348.9
Alistar    19.0    47.0    87.0    19.9    11934.2
...         ...     ...     ...     ...        ...
Zeri     6412.0  5386.0  5684.0  3386.4  1568696.4
Ziggs    1133.0   937.0  1481.0   889.1   340332.3
Zilean    210.0   202.0   651.0   400.7   104058.5
Zoe      3438.0  2248.0  3765.0  2438.4   798070.3
Zyra       22.0    28.0    49.0    12.5     9045.4

[161 rows x 5 columns]
         Count
Name
Aatrox      46
Ahri      1041
Akali      756
Akshan     619
Alistar      8
...        ...
Zeri      1050
Ziggs      223
Zilean      69
Zoe        517
Zyra         5

[161 rows x 1 columns]
         Kills  Deaths  Assist  KDA  Game_Time
Name
Aatrox     6.0     5.7     6.0  2.9     1492.2
Ahri       5.2     4.2     7.2  4.2     1495.3
Akali      6.9     4.8     4.4  3.3     1500.8
Akshan     7.6     4.8     5.7  4.1     1520.8
Alistar    2.4     5.9    10.9  2.5     1491.8
...        ...     ...     ...  ...        ...
Zeri       6.1     5.1     5.4  3.2     1494.0
Ziggs      5.1     4.2     6.6  4.0     1526.2
Zilean     3.0     2.9     9.4  5.8     1508.1
Zoe        6.6     4.3     7.3  4.7     1543.7
Zyra       4.4     5.6     9.8  2.5     1809.1

[161 rows x 5 columns]

In [15]:
# 26 Bottom Dataframe

BOTTOM = merged_df[merged_df['Position'].isin(['Bottom'])]

BOTTOM

# 27 Groupby 'Name' Column and count each time a champ has been played
bottom_count = BOTTOM.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(bottom_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
bottom_count = BOTTOM.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(bottom_count)

# 28 Groupby 'Name' Column and count each time a champ has been played
bottom_sum = BOTTOM.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(bottom_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
bottom_sum = BOTTOM.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean')).round(1)

# New Dataframe (Average)
print(bottom_sum)

         Count
Name
Aatrox       1
Ahri         3
Akali        2
Akshan      13
Alistar      1
...        ...
Zeri      4314
Ziggs      510
Zilean       2
Zoe          4
Zyra        23

[128 rows x 1 columns]
           Kills   Deaths   Assist      KDA  Game_Time
Name
Aatrox       6.0      5.0     15.0      4.2     2318.6
Ahri        20.0      9.0     14.0     11.3     3875.6
Akali        6.0     11.0      3.0      1.7     2441.2
Akshan      65.0     49.0     76.0     43.7    17623.8
Alistar      2.0      9.0     11.0      1.4     1643.5
...          ...      ...      ...      ...        ...
Zeri     28183.0  20345.0  26248.0  16696.8  6432574.4
Ziggs     2438.0   2376.0   3523.0   1804.7   762910.1
Zilean      10.0      8.0     19.0      7.3     3118.6
Zoe         20.0     14.0     32.0     19.6     5834.9
Zyra       113.0    102.0    207.0     95.1    39941.3

[128 rows x 5 columns]
         Count
Name
Aatrox       1
Ahri         3
Akali        2
Akshan      13
Alistar      1
...        ...
Zeri      4314
Ziggs      510
Zilean       2
Zoe          4
Zyra        23

[128 rows x 1 columns]
         Kills  Deaths  Assist  KDA  Game_Time
Name
Aatrox     6.0     5.0    15.0  4.2     2318.6
Ahri       6.7     3.0     4.7  3.8     1291.9
Akali      3.0     5.5     1.5  0.8     1220.6
Akshan     5.0     3.8     5.8  3.4     1355.7
Alistar    2.0     9.0    11.0  1.4     1643.5
...        ...     ...     ...  ...        ...
Zeri       6.5     4.7     6.1  3.9     1491.1
Ziggs      4.8     4.7     6.9  3.5     1495.9
Zilean     5.0     4.0     9.5  3.6     1559.3
Zoe        5.0     3.5     8.0  4.9     1458.7
Zyra       4.9     4.4     9.0  4.1     1736.6

[128 rows x 5 columns]

In [16]:
# 29 SUPPORT Data Frame

SUPPORT = merged_df[merged_df['Position'].isin(['Support'])]

SUPPORT

# 30 Groupby 'Name' Column and count each time a champ has been played
support_count = SUPPORT.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(support_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
support_count = SUPPORT.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(support_count)

# 31 Groupby 'Name' Column and count each time a champ has been played
support_sum = SUPPORT.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(support_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
support_sum = SUPPORT.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean')).round(1)

# New Dataframe (Average)
print(support_sum)

         Count
Name
Aatrox       4
Ahri         3
Akshan       1
Alistar   2364
Amumu       87
...        ...
Zac        178
Ziggs       10
Zilean     290
Zoe         61
Zyra       130

[130 rows x 1 columns]
          Kills   Deaths   Assist     KDA  Game_Time
Name
Aatrox     20.0     33.0     22.0     3.7     6347.7
Ahri        8.0     22.0     24.0     5.0     4436.5
Akshan      8.0      1.0      5.0    13.0      931.8
Alistar  3220.0  12707.0  31141.0  9181.2  3507134.1
Amumu     212.0    636.0   1104.0   271.3   136565.8
...         ...      ...      ...     ...        ...
Zac       459.0    910.0   2066.0   775.0   260923.9
Ziggs      16.0     47.0     53.0    28.7    11362.2
Zilean    393.0   1350.0   3623.0  1299.3   449637.3
Zoe       220.0    363.0    580.0   174.5    93441.2
Zyra      393.0    814.0   1419.0   350.5   213585.7

[130 rows x 5 columns]
         Count
Name
Aatrox       4
Ahri         3
Akshan       1
Alistar   2364
Amumu       87
...        ...
Zac        178
Ziggs       10
Zilean     290
Zoe         61
Zyra       130

[130 rows x 1 columns]
         Kills  Deaths  Assist   KDA  Game_Time
Name
Aatrox     5.0     8.2     5.5   0.9     1586.9
Ahri       2.7     7.3     8.0   1.7     1478.8
Akshan     8.0     1.0     5.0  13.0      931.8
Alistar    1.4     5.4    13.2   3.9     1483.6
Amumu      2.4     7.3    12.7   3.1     1569.7
...        ...     ...     ...   ...        ...
Zac        2.6     5.1    11.6   4.4     1465.9
Ziggs      1.6     4.7     5.3   2.9     1136.2
Zilean     1.4     4.7    12.5   4.5     1550.5
Zoe        3.6     6.0     9.5   2.9     1531.8
Zyra       3.0     6.3    10.9   2.7     1643.0

[130 rows x 5 columns]