In [1]:
# 1 Importing Pandas

import pandas as pd

# Display max columns (watch out for match df over 200K rows)
#pd.set_option('display.max_rows', None)

In [2]:
# 2 Loading Data Sets

champs = df1= pd.read_excel("Data-Sets/Champions-2024.xlsx",)
match = df2 = pd.read_csv("Data-Sets/lol_match_data.csv",)
#main_event = df3 = pd.read_csv("Data-Sets/champions.csv",)
#swiss_stage = df4 = pd.read_csv("Data-Sets/lol_player_data.csv",)

In [ ]:
# Set Max Rows
# If you use dont do match df will freeze computer 200K rows x 100+ columns
#pd.set_option('display.max_rows', None)

# Display all champs
champs['Name']

In [ ]:
# 2A Champion Details (Can Skip)
# https://www.kaggle.com/datasets/gabkgonzales/league-of-legends-dataset

#Investigate NaN values for champs 'Role' need to display all
champs

In [ ]:
# 2B Match Data (Can Skip)
# Link - https://www.kaggle.com/datasets/mldatastudent/league-of-legends-match-data (Big File)

#Investigate NaN values for champs 'Role' need to display all
match

In [ ]:
# 2C 2024 Main Event Champion Latest Stats (Can Skip)
# https://www.kaggle.com/datasets/anmatngu/league-of-legends-worlds-2024-swiss-stage-stats

#main_event

In [ ]:
# 2D 2024 (Can Skip)
# 

#swiss_stage

In [3]:
# Count the occurrences for each value in 'Difficulty'
champ_difficulity_count = champs['Difficulty'].value_counts()

# Assigning Difficulty levels based on 1-6

champs['Difficulty'] = champs['Difficulty'].replace({'Beginner' : '1',
                                                     'Novice' : '2',
                                                     'Intermediate' : '3',
                                                     'Intermediate_Plus' : '4',
                                                     'Advanced' : '5',
                                                     'Expert' : '6',
                                                     })

# Count Difficulity Levels (1-6)
champ_difficulity_count = champs['Difficulty'].value_counts()

champ_difficulity_count

Difficulty
2    43
3    38
1    29
4    28
5    15
6    15
Name: count, dtype: int64

In [4]:
# 3 Dropping Unneccessary columns for champs df
# Dropping 8 Columns from champions df(cleaning)

champs.drop(['Nick Name',  
             'Range type', 
             'Resourse type', 
             'Base HP', 
             'Base mana',
             'Classes'], axis=1, inplace=True)

# Slicing secondary roles from Role column
champs['Role'] = champs['Role'].str.split(',').str[0]

# Sliced 'Release Date' to remove HH:MM:SS
champs['Release Date'] = pd.to_datetime(champs['Release Date'], errors='coerce')

champs['Release Date'] = pd.to_datetime(champs['Release Date'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

# Convert 'Release Date' to datetime
champs['Release Date'] = pd.to_datetime(champs['Release Date'], errors='coerce')

# Reformat 'Release Date' to MM/DD/YYYY format
champs['Release Date'] = champs['Release Date'].dt.strftime('%m/%d/%Y')

# Rearranging champs df 
champs = champs[['Name', 
               'Role', 
               'Difficulty',
               'Release Date', 
               'Last Changed', 
               'RP', 
               'Blue Essence',]]


champs

        Name     Role Difficulty Release Date Last Changed   RP  Blue Essence
0     Aatrox      Top          5   06/13/2013       V14.14  880          4800
1       Ahri   Middle          3   12/14/2011       V14.18  790          3150
2      Akali      Top          6   05/11/2010       V14.18  790          3150
3     Akshan   Middle          4   07/22/2021       V14.14  880          4800
4    Alistar  Support          2   02/21/2009       V14.16  585          1350
..       ...      ...        ...          ...          ...  ...           ...
163     Zeri   Bottom          4   01/20/2022       V14.18  880          4800
164    Ziggs   Bottom          2   02/01/2012       V14.18  880          4800
165   Zilean  Support          3   04/18/2009       V13.22  585          1350
166      Zoe   Middle          6   11/21/2017        V14.9  880          4800
167     Zyra  Support          4   07/24/2012       V14.15  790          3150

[168 rows x 7 columns]

In [ ]:
# Skip looking for NaN values

# Check for NaN values in the 'Game_Time' column
nan_values = champs['Role'].isna()

# Display rows with NaN values
print(champs[nan_values])

In [5]:
# 4 Cleaning / Removing unwanted columns for match df
# Dropping 99 columns retaining 9 columns from match df

match = df2[['player_teamPosition',
            'player_champName',
            'player_champName_ban',
            'player_kills', 
            'player_deaths', 
            'player_assists',
            'player_kda',
            'player_totalMinionsKilled', 
            'player_gameLength',]].round(2)

match

,player_teamPosition,player_champName,player_champName_ban,player_kills,player_deaths,player_assists,player_kda,player_totalMinionsKilled,player_gameLength
0,TOP,Jax,Fiora,14.0,4.0,5.0,4.75,210.0,1834.97
1,JUNGLE,XinZhao,Fiddlesticks,2.0,4.0,17.0,4.75,18.0,1834.97
2,MIDDLE,Neeko,Volibear,2.0,6.0,16.0,3.00,184.0,1834.97
3,BOTTOM,Kaisa,Pyke,19.0,7.0,10.0,4.14,229.0,1834.97
4,UTILITY,Blitzcrank,Lux,2.0,5.0,24.0,5.20,34.0,1834.97
...,...,...,...,...,...,...,...,...,...
205105,TOP,Zeri,NaN,19.0,8.0,7.0,3.25,254.0,1851.84
205106,JUNGLE,Zyra,Karthus,7.0,7.0,15.0,3.14,85.0,1851.84
205107,MIDDLE,Tristana,NaN,6.0,7.0,7.0,1.86,262.0,1851.84
205108,BOTTOM,Ornn,Smolder,3.0,9.0,15.0,2.00,120.0,1851.84
205109,UTILITY,Senna,Lillia,9.0,7.0,22.0,4.43,36.0,1851.84

In [6]:
# 5 Creating copy of match(df)
match = match.copy()

# 5A Rename match columns to make key 'Name' for df merge (see #7)
match.rename(columns={'player_teamPosition' : 'Position', 
                     'player_champName' : 'Name', 
                     'player_champName_ban' : 'Banned Champ',
                     'player_kills' : 'Kills',
                     'player_deaths' : 'Deaths', 
                     'player_assists' : 'Assist', 
                     'player_kda' : 'KDA',
                     'player_totalMinionsKilled' : 'CS', 
                     'player_gameLength' : "Game Time (s)",}, inplace=True)


# Converting Game Time to MM:SS format
#match['Game Time (s)'] = match['Game Time (s)'].apply(lambda x: str(int((x % 3600) // 60)).zfill(2) + ':' + str(int(x % 60)).zfill(2))

# Changing Game Time (s) to Game Time ()
# testing due to total errors
#match.rename(columns={'Game Time (s)' : 'Game Time (MM:SS)',}, inplace=True)

match

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s)
0,TOP,Jax,Fiora,14.0,4.0,5.0,4.75,210.0,1834.97
1,JUNGLE,XinZhao,Fiddlesticks,2.0,4.0,17.0,4.75,18.0,1834.97
2,MIDDLE,Neeko,Volibear,2.0,6.0,16.0,3.00,184.0,1834.97
3,BOTTOM,Kaisa,Pyke,19.0,7.0,10.0,4.14,229.0,1834.97
4,UTILITY,Blitzcrank,Lux,2.0,5.0,24.0,5.20,34.0,1834.97
...,...,...,...,...,...,...,...,...,...
205105,TOP,Zeri,NaN,19.0,8.0,7.0,3.25,254.0,1851.84
205106,JUNGLE,Zyra,Karthus,7.0,7.0,15.0,3.14,85.0,1851.84
205107,MIDDLE,Tristana,NaN,6.0,7.0,7.0,1.86,262.0,1851.84
205108,BOTTOM,Ornn,Smolder,3.0,9.0,15.0,2.00,120.0,1851.84
205109,UTILITY,Senna,Lillia,9.0,7.0,22.0,4.43,36.0,1851.84

In [7]:
# Get the count of each champion picked (based on 'Name' column)
match_champ_count = match['Name'].value_counts()

# Display the results

match_champ_count

Name
Ezreal          6897
Kaisa           6729
Zeri            5586
Leona           4326
Rell            3934
                ...
Velkoz           180
Singed           169
Heimerdinger     163
Trundle          131
Yorick            83
Name: count, Length: 168, dtype: int64

In [8]:
# 6 Sort by Position and then by the desired column, if needed
match_sorted = match.sort_values(by=['Position'])

# Display the sorted dataframe
match_sorted

# Name sort to pick up NaN values for Positions
name_sorted = match.sort_values(by=['Name'])

name_sorted

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s)
49610,TOP,Aatrox,LeBlanc,7.0,10.0,6.0,1.30,219.0,2104.85
12645,TOP,Aatrox,Nautilus,3.0,9.0,3.0,0.67,276.0,2385.56
167025,TOP,Aatrox,Aurora,0.0,7.0,1.0,0.14,87.0,912.42
179200,TOP,Aatrox,Hecarim,10.0,4.0,2.0,3.00,192.0,1285.20
167010,TOP,Aatrox,Leona,12.0,10.0,3.0,1.50,106.0,1319.72
...,...,...,...,...,...,...,...,...,...
79231,JUNGLE,Zyra,Brand,4.0,4.0,1.0,1.25,25.0,1358.44
149881,JUNGLE,Zyra,Ezreal,0.0,4.0,2.0,0.50,7.0,963.37
186363,JUNGLE,Zyra,Tryndamere,2.0,11.0,10.0,1.09,20.0,1499.48
79396,JUNGLE,Zyra,Skarner,2.0,3.0,6.0,2.67,13.0,1384.09
18191,JUNGLE,Zyra,Fiora,4.0,5.0,8.0,2.40,28.0,1674.35

In [9]:

# 7 Merge Sorted Lanes and Champ information

merged_df = pd.merge(match_sorted, champs, on='Name', how='left')

# Merge Sorted Names and Champ information (picked up NaN values not in 'merged df')
name_df = pd.merge(match_sorted, champs, on='Name', how='left')

In [10]:
merged_df

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Role,Difficulty,Release Date,Last Changed,RP,Blue Essence
0,BOTTOM,Sejuani,Twisted Fate,3.0,6.0,5.0,1.33,123.0,1234.26,Jungle,2,01/17/2012,V14.15,260.0,450.0
1,BOTTOM,Zeri,Rell,6.0,6.0,5.0,1.83,216.0,1506.63,Bottom,4,01/20/2022,V14.18,880.0,4800.0
2,BOTTOM,Kalista,NaN,11.0,8.0,12.0,2.88,202.0,1934.45,Middle,4,11/20/2014,V14.13,880.0,4800.0
3,BOTTOM,Jhin,Illaoi,4.0,4.0,6.0,2.50,269.0,1839.55,Bottom,4,02/01/2016,V14.8,880.0,4444.0
4,BOTTOM,MissFortune,NaN,3.0,3.0,2.0,1.67,118.0,942.35,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205105,NaN,Lucian,Ashe,0.0,0.0,0.0,0.00,0.0,202.22,Bottom,2,08/22/2013,V14.16,585.0,1350.0
205106,NaN,Smolder,Tristana,0.0,0.0,0.0,0.00,0.0,120.28,Bottom,2,01/31/2024,V14.18,975.0,6300.0
205107,NaN,Viego,Aatrox,0.0,0.0,0.0,0.00,0.0,149.01,Jungle,3,01/21/2021,V14.18,880.0,4800.0
205108,NaN,Camille,Yuumi,0.0,0.0,0.0,0.00,0.0,224.10,Top,6,12/07/2016,V14.15,880.0,4800.0
205109,NaN,Ryze,Senna,0.0,0.0,0.0,0.00,0.0,172.19,Middle,4,02/21/2009,V14.8,260.0,4800.0

In [11]:
# Groupby 'Name' Column and count the number of times each champ has been played
merged_df_count = merged_df.groupby('Name').agg(
    Count=('Name', 'count'),
    Kills=('Kills', 'sum'),
    Deaths=('Deaths', 'sum'),
    Assist=('Assist', 'sum'),
    Game_Time=('Game Time (s)', 'sum')
)

# Function to convert total seconds to DD:HH:MM:SS format
def seconds_to_dhms(seconds):
    days = seconds // 86400  # 86400 seconds in a day
    hours = (seconds % 86400) // 3600  # 3600 seconds in an hour
    minutes = (seconds % 3600) // 60  # 60 seconds in a minute
    sec = seconds % 60  # Remaining seconds
    
    # Return formatted string in DD:HH:MM:SS
    return f"{int(days)}d {int(hours):02d}h {int(minutes):02d}m {int(sec):02d}s"

# Apply function to the 'Game_Time' column
merged_df_count['Game_Time'] = merged_df_count['Game_Time'].apply(seconds_to_dhms)

# Display updated dataframe
print(merged_df_count)

         Count    Kills   Deaths   Assist        Game_Time
Name
Aatrox    2105   9578.0  11049.0   9878.0  36d 16h 00m 44s
Ahri      1067   5519.0   4490.0   7625.0  18d 09h 24m 08s
Akali     1313   8391.0   6598.0   5473.0  22d 21h 24m 21s
Akshan     744   5405.0   3546.0   4170.0  13d 01h 54m 02s
Alistar   2379   3249.0  12779.0  31298.0  40d 20h 15m 39s
...        ...      ...      ...      ...              ...
Zeri      5586  35807.0  26942.0  33032.0  96d 10h 49m 45s
Ziggs      747   3610.0   3388.0   5094.0  12d 23h 31m 43s
Zilean     383    661.0   1644.0   4501.0   6d 19h 48m 03s
Zoe        591   3713.0   2671.0   4411.0  10d 12h 40m 07s
Zyra      1650   7545.0   7683.0  15138.0  29d 04h 15m 09s

[168 rows x 5 columns]

In [12]:
# Testing
test_time = merged_df_count.loc['Zoe', 'Game_Time']

In [13]:
# Testing
test_time

'10d 12h 40m 07s'

In [14]:
# 8 Groupby 'Name' Column and count each time a champ has been played
merged_df_count = merged_df.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(merged_df_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
# Convert Game_Time to HH:MM:SS formart

merged_df_count = merged_df.groupby('Name').agg(Count=('Name', 'count'), 
                                        Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))

merged_df_count

         Count
Name
Aatrox    2105
Ahri      1067
Akali     1313
Akshan     744
Alistar   2379
...        ...
Zeri      5586
Ziggs      747
Zilean     383
Zoe        591
Zyra      1650

[168 rows x 1 columns]

         Count    Kills   Deaths   Assist   Game_Time
Name
Aatrox    2105   9578.0  11049.0   9878.0  3168044.34
Ahri      1067   5519.0   4490.0   7625.0  1589048.16
Akali     1313   8391.0   6598.0   5473.0  1977861.02
Akshan     744   5405.0   3546.0   4170.0  1130042.88
Alistar   2379   3249.0  12779.0  31298.0  3528939.90
...        ...      ...      ...      ...         ...
Zeri      5586  35807.0  26942.0  33032.0  8333385.99
Ziggs      747   3610.0   3388.0   5094.0  1121503.06
Zilean     383    661.0   1644.0   4501.0   589683.18
Zoe        591   3713.0   2671.0   4411.0   909607.40
Zyra      1650   7545.0   7683.0  15138.0  2520909.82

[168 rows x 5 columns]

In [15]:
# 9 Groupby 'Banned Champ' column and count each time a champ has been banned
merged_df_banned_count = merged_df.groupby('Banned Champ').agg(Count=('Name', 'count'))

# Sort to get top 50 banned champs
top50_merged_banned = merged_df_banned_count.sort_values('Count', ascending=False).head(50)

# Reset index to make 'Banned Champ' a column
top50_merged_banned = top50_merged_banned.reset_index()

# Rename the columns to 'Name' and 'Count'
top50_merged_banned = top50_merged_banned.rename(columns={'Banned Champ': 'Name'})

# Display the result
top50_merged_banned

# Attach lane 
top50_merged_banned = pd.merge(top50_merged_banned, champs, on='Name', how='left')

# Dropping all columns but Name, Count, and Role
top50_merged_banned = top50_merged_banned[['Name',
                                           'Count',
                                           'Role',]]
# Top 50
top50_merged_banned

            Name  Count     Role
0         Aurora   8173   Middle
1         Draven   7846      Top
2        LeBlanc   7454   Middle
3           Pyke   7441  Support
4        Nidalee   6458   Jungle
5        Karthus   6391   Middle
6         Ezreal   5631   Bottom
7         Rengar   5411   Jungle
8           Ashe   3981   Bottom
9       Tristana   3948   Bottom
10       Skarner   3783   Jungle
11        Rumble   3570      Top
12           Jax   3096      Top
13         Yasuo   3030      Top
14      Bel'Veth   2920      NaN
15        Lillia   2586   Jungle
16          Zyra   2481  Support
17       Lee Sin   2433   Jungle
18         Leona   2411  Support
19       Taliyah   2409   Jungle
20      Nautilus   2352  Support
21       Kindred   2305      Top
22         Brand   2266   Jungle
23          Udyr   2261      Top
24           Zed   2188   Middle
25          Hwei   1935   Middle
26    Blitzcrank   1935  Support
27         Fiora   1862      Top
28       Hecarim   1843   Jungle
29        Kai'Sa   1821      NaN
30        Akshan   1806   Middle
31     Master Yi   1662      NaN
32       Kha'Zix   1592      NaN
33         Corki   1561   Middle
34        Kennen   1547   Jungle
35  Twisted Fate   1542   Middle
36        Darius   1521      Top
37         Shaco   1512   Jungle
38          Zeri   1428   Bottom
39       Caitlyn   1392   Bottom
40         Janna   1367  Support
41  Miss Fortune   1326      NaN
42         Poppy   1288      Top
43      Renekton   1259      Top
44          Rell   1257  Support
45         Akali   1251      Top
46      Katarina   1239      Top
47          Kayn   1222      Top
48       Camille   1173      Top
49      Malphite   1170      Top

In [16]:

merged_df_count['Game_Time'] = pd.to_numeric(merged_df_count['Game_Time'], errors='coerce')


merged_df_count['Game_Time'] = merged_df_count['Game_Time'].apply(
    lambda x: str(int(x // 86400)) + 'd ' + 
              str(int((x % 86400) // 3600)).zfill(2) + 'h ' + 
              str(int((x % 3600) // 60)).zfill(2) + 'm ' + 
              str(int(x % 60)).zfill(2) + 's' if pd.notna(x) else 'NaN'
)


merged_df_count.rename(columns={
    'Kills': 'Kills(Total)', 
    'Deaths': 'Deaths(Total)', 
    'Assist': 'Assist(Total)',
    'Game_Time': 'Game_Time(Total)', 
}, inplace=True)

# Display the result
print(merged_df_count)

         Count  Kills(Total)  Deaths(Total)  Assist(Total) Game_Time(Total)
Name
Aatrox    2105        9578.0        11049.0         9878.0  36d 16h 00m 44s
Ahri      1067        5519.0         4490.0         7625.0  18d 09h 24m 08s
Akali     1313        8391.0         6598.0         5473.0  22d 21h 24m 21s
Akshan     744        5405.0         3546.0         4170.0  13d 01h 54m 02s
Alistar   2379        3249.0        12779.0        31298.0  40d 20h 15m 39s
...        ...           ...            ...            ...              ...
Zeri      5586       35807.0        26942.0        33032.0  96d 10h 49m 45s
Ziggs      747        3610.0         3388.0         5094.0  12d 23h 31m 43s
Zilean     383         661.0         1644.0         4501.0   6d 19h 48m 03s
Zoe        591        3713.0         2671.0         4411.0  10d 12h 40m 07s
Zyra      1650        7545.0         7683.0        15138.0  29d 04h 15m 09s

[168 rows x 5 columns]

In [17]:
# 10 Rename count totals  
merged_df_count.rename(columns={'Kills' : 'Kills(Total)', 
                     'Deaths' : 'Deaths(Total)', 
                     'Assist' : 'Assist(Total)',
                     'Game_Time' : 'Game_Time(Total)',}, inplace=True)

merged_df_count

         Count  Kills(Total)  Deaths(Total)  Assist(Total) Game_Time(Total)
Name
Aatrox    2105        9578.0        11049.0         9878.0  36d 16h 00m 44s
Ahri      1067        5519.0         4490.0         7625.0  18d 09h 24m 08s
Akali     1313        8391.0         6598.0         5473.0  22d 21h 24m 21s
Akshan     744        5405.0         3546.0         4170.0  13d 01h 54m 02s
Alistar   2379        3249.0        12779.0        31298.0  40d 20h 15m 39s
...        ...           ...            ...            ...              ...
Zeri      5586       35807.0        26942.0        33032.0  96d 10h 49m 45s
Ziggs      747        3610.0         3388.0         5094.0  12d 23h 31m 43s
Zilean     383         661.0         1644.0         4501.0   6d 19h 48m 03s
Zoe        591        3713.0         2671.0         4411.0  10d 12h 40m 07s
Zyra      1650        7545.0         7683.0        15138.0  29d 04h 15m 09s

[168 rows x 5 columns]

In [18]:
# 11 Groupby 'Name' Column and count each time a champ has been played
merged_df_mean = merged_df.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(merged_df_mean)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
merged_df_mean = merged_df.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

merged_df_mean.round(2)

         Count
Name
Aatrox    2105
Ahri      1067
Akali     1313
Akshan     744
Alistar   2379
...        ...
Zeri      5586
Ziggs      747
Zilean     383
Zoe        591
Zyra      1650

[168 rows x 1 columns]

         Kills  Deaths  Assist   KDA  Game_Time
Name
Aatrox    4.55    5.25    4.69  2.50    1505.01
Ahri      5.17    4.21    7.15  4.11    1489.27
Akali     6.39    5.03    4.17  2.94    1506.37
Akshan    7.26    4.77    5.60  3.86    1518.87
Alistar   1.37    5.37   13.16  3.88    1483.37
...        ...     ...     ...   ...        ...
Zeri      6.41    4.82    5.91  3.70    1491.83
Ziggs     4.83    4.54    6.82  3.66    1501.34
Zilean    1.73    4.29   11.75  4.67    1539.64
Zoe       6.28    4.52    7.46  4.50    1539.10
Zyra      4.57    4.66    9.17  4.34    1527.82

[168 rows x 5 columns]

In [19]:
# 11 Groupby 'Name' Column and count each time a champ has been played
merged_df_mean = merged_df.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(merged_df_mean)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
merged_df_mean = merged_df.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'), 
                                        Game_Time=('Game Time (s)', 'mean')) 

merged_df_mean

         Count
Name
Aatrox    2105
Ahri      1067
Akali     1313
Akshan     744
Alistar   2379
...        ...
Zeri      5586
Ziggs      747
Zilean     383
Zoe        591
Zyra      1650

[168 rows x 1 columns]

            Kills    Deaths     Assist       KDA    Game_Time
Name
Aatrox   4.550119  5.248931   4.692637  2.495743  1505.009188
Ahri     5.172446  4.208060   7.146204  4.114321  1489.267254
Akali    6.390708  5.025133   4.168317  2.937174  1506.367875
Akshan   7.264785  4.766129   5.604839  3.863831  1518.874839
Alistar  1.365700  5.371585  13.155948  3.878411  1483.371122
...           ...       ...        ...       ...          ...
Zeri     6.410132  4.823129   5.913355  3.701937  1491.834227
Ziggs    4.832664  4.535475   6.819277  3.657376  1501.342784
Zilean   1.725849  4.292428  11.751958  4.666762  1539.642768
Zoe      6.282572  4.519459   7.463621  4.495601  1539.098816
Zyra     4.572727  4.656364   9.174545  4.341236  1527.824133

[168 rows x 5 columns]

In [20]:
# 12 Display merged_df_mean columns
merged_df_mean.columns

# Rename mean totals  
merged_df_mean.rename(columns={'Kills' : 'Kills(Mean)', 
                     'Deaths' : 'Deaths(Mean)', 
                     'Assist' : 'Assist(Mean)',
                     'KDA' : 'KDA(Mean)',
                     'Game_Time' : 'Game_Time(Mean)'}, inplace=True)

merged_df_mean

         Kills(Mean)  Deaths(Mean)  Assist(Mean)  KDA(Mean)  Game_Time(Mean)
Name
Aatrox      4.550119      5.248931      4.692637   2.495743      1505.009188
Ahri        5.172446      4.208060      7.146204   4.114321      1489.267254
Akali       6.390708      5.025133      4.168317   2.937174      1506.367875
Akshan      7.264785      4.766129      5.604839   3.863831      1518.874839
Alistar     1.365700      5.371585     13.155948   3.878411      1483.371122
...              ...           ...           ...        ...              ...
Zeri        6.410132      4.823129      5.913355   3.701937      1491.834227
Ziggs       4.832664      4.535475      6.819277   3.657376      1501.342784
Zilean      1.725849      4.292428     11.751958   4.666762      1539.642768
Zoe         6.282572      4.519459      7.463621   4.495601      1539.098816
Zyra        4.572727      4.656364      9.174545   4.341236      1527.824133

[168 rows x 5 columns]

In [21]:
# 13 Merge Sorted Lanes and Champ information

merged_count_mean = pd.merge(merged_df_count, merged_df_mean, on='Name', how='left')

merged_count_mean

,Count,Kills(Total),Deaths(Total),Assist(Total),Game_Time(Total),Kills(Mean),Deaths(Mean),Assist(Mean),KDA(Mean),Game_Time(Mean)
Name,,,,,,,,,,
Aatrox,2105,9578.0,11049.0,9878.0,36d 16h 00m 44s,4.550119,5.248931,4.692637,2.495743,1505.009188
Ahri,1067,5519.0,4490.0,7625.0,18d 09h 24m 08s,5.172446,4.208060,7.146204,4.114321,1489.267254
Akali,1313,8391.0,6598.0,5473.0,22d 21h 24m 21s,6.390708,5.025133,4.168317,2.937174,1506.367875
Akshan,744,5405.0,3546.0,4170.0,13d 01h 54m 02s,7.264785,4.766129,5.604839,3.863831,1518.874839
Alistar,2379,3249.0,12779.0,31298.0,40d 20h 15m 39s,1.365700,5.371585,13.155948,3.878411,1483.371122
...,...,...,...,...,...,...,...,...,...,...
Zeri,5586,35807.0,26942.0,33032.0,96d 10h 49m 45s,6.410132,4.823129,5.913355,3.701937,1491.834227
Ziggs,747,3610.0,3388.0,5094.0,12d 23h 31m 43s,4.832664,4.535475,6.819277,3.657376,1501.342784
Zilean,383,661.0,1644.0,4501.0,6d 19h 48m 03s,1.725849,4.292428,11.751958,4.666762,1539.642768
Zoe,591,3713.0,2671.0,4411.0,10d 12h 40m 07s,6.282572,4.519459,7.463621,4.495601,1539.098816
Zyra,1650,7545.0,7683.0,15138.0,29d 04h 15m 09s,4.572727,4.656364,9.174545,4.341236,1527.824133

In [22]:
# 14 Rearranging Total & Average Dataframe
# fix 'Game_Time(Mean)'
merged_count_mean = merged_count_mean[['Kills(Total)','Kills(Mean)', 'Deaths(Total)', 'Deaths(Mean)', 'Assist(Total)', 'Assist(Mean)', 'KDA(Mean)', 'Game_Time(Mean)']]

# KDA Leader (Mean)
kda_kill_leaders = merged_count_mean.sort_values('KDA(Mean)', ascending=False)

kda_kill_leaders

,Kills(Total),Kills(Mean),Deaths(Total),Deaths(Mean),Assist(Total),Assist(Mean),KDA(Mean),Game_Time(Mean)
Name,,,,,,,,
Yuumi,559.0,1.191898,1567.0,3.341151,6328.0,13.492537,6.628785,1449.815629
Ivern,1588.0,2.356083,2399.0,3.559347,8532.0,12.658754,6.445252,1479.663709
JarvanIV,5389.0,5.161877,5004.0,4.793103,11884.0,11.383142,5.301992,1501.781446
Nidalee,21556.0,6.772227,13477.0,4.234056,25342.0,7.961671,5.290330,1469.628712
Janna,1826.0,1.404615,5342.0,4.109231,17401.0,13.385385,5.222131,1507.814254
...,...,...,...,...,...,...,...,...
Irelia,7698.0,5.723420,8536.0,6.346468,5852.0,4.350929,2.191033,1503.201688
Mordekaiser,1672.0,4.320413,2073.0,5.356589,1494.0,3.860465,2.122455,1470.506305
Trundle,440.0,3.358779,658.0,5.022901,536.0,4.091603,2.099160,1449.397023
Yorick,286.0,3.445783,395.0,4.759036,283.0,3.409639,2.069277,1523.037952
Illaoi,1040.0,4.062500,1391.0,5.433594,1067.0,4.167969,2.046484,1534.850508

In [23]:
# 15 Sort Values by highest (Count) "Kills, Deaths, Assist, etc"

# Kills
merged_kills_count = merged_df_count.sort_values(by='Kills(Total)', ascending=False)

# Deaths
merged_deaths_count = merged_df_count.sort_values(by='Deaths(Total)', ascending=False)

# Assist
merged_assist_count = merged_df_count.sort_values(by='Assist(Total)', ascending=False)

In [24]:
# 16 Sort Values by highest (Mean)"Kills, Deaths, Assist, etc"

# Kills
merged_kills_mean = merged_df_mean.sort_values(by='Kills(Mean)', ascending=False)

# Deaths
merged_deaths_mean = merged_df_mean.sort_values(by='Deaths(Mean)', ascending=False)

# Assist
merged_assist_mean = merged_df_mean.sort_values(by='Assist(Mean)', ascending=False)

In [ ]:
# fix everthing above before proceeding (12/09)

In [ ]:
# 17 Top Data Frame

TOP = merged_df[merged_df['Position'].isin(['TOP'])]

TOP

In [ ]:
# 18 Groupby 'Name' Column and count each time a champ has been played
top_count = TOP.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(top_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
top_count = TOP.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(top_count)

# Kills
top_count_kills = top_count.sort_values(by='Kills(Total)', ascending=False)

# Deaths
top_count_deaths = top_count.sort_values(by='Deaths(Total)', ascending=False)

# Assist
top_count_assists = top_count.sort_values(by='Assist(Total)', ascending=False)

In [ ]:
# 19 Groupby 'Name' Column and count each time a champ has been played
top_sum = TOP.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(top_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
top_sum = TOP.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(top_sum)

In [ ]:
# 20 JUNGLE Data Frame

JUNGLE = merged_df[merged_df['Position'].isin(['JUNGLE'])]

JUNGLE

In [ ]:
# 21 Groupby 'Name' Column and count each time a champ has been played
jungle_count = JUNGLE.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(jungle_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
jungle_count = JUNGLE.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(jungle_count)

In [ ]:
# 22 Groupby 'Name' Column and count each time a champ has been played
jungle_sum = JUNGLE.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(jungle_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
jungle_sum = JUNGLE.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(jungle_sum)

In [ ]:
# 23 MIDDLE Data Frame

MIDDLE = merged_df[merged_df['Position'].isin(['MIDDLE'])]

MIDDLE

In [ ]:
# 24 Groupby 'Name' Column and count each time a champ has been played
middle_count = MIDDLE.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(middle_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
middle_count = MIDDLE.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(middle_count)

In [ ]:
# 25 Groupby 'Name' Column and count each time a champ has been played
middle_sum = MIDDLE.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(middle_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
middle_sum = MIDDLE.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(middle_sum)

In [ ]:
# 26 Bottom Dataframe

BOTTOM = merged_df[merged_df['Position'].isin(['BOTTOM'])]

BOTTOM

In [ ]:
# 27 Groupby 'Name' Column and count each time a champ has been played
bottom_count = BOTTOM.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(bottom_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
bottom_count = BOTTOM.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(bottom_count)

In [ ]:
# 28 Groupby 'Name' Column and count each time a champ has been played
bottom_sum = BOTTOM.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(bottom_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
bottom_sum = BOTTOM.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(bottom_sum)

In [ ]:
# 29 UTILITY Data Frame

UTILITY = merged_df[merged_df['Position'].isin(['UTILITY'])]

UTILITY

In [ ]:
# 30 Groupby 'Name' Column and count each time a champ has been played
utility_count = UTILITY.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(utility_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
utility_count = UTILITY.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(utility_count)

In [ ]:
# 31 Groupby 'Name' Column and count each time a champ has been played
utility_sum = UTILITY.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(utility_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
utility_sum = UTILITY.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(utility_sum)

In [ ]:
utility_count.columns

In [ ]:
# Everything above ok for now

# Anything below needs work