In [1]:
# 1 Importing Pandas

import pandas as pd

# Display max columns (watch out for match df over 200K rows)
#pd.set_option('display.max_rows', None)

In [2]:
# 2 Loading Data Sets

champs = df1= pd.read_excel("Data-Sets/Champions-2024.xlsx",).round(1)
match = df2 = pd.read_csv("Data-Sets/lol_match_data.csv",).round(1)

In [ ]:
# 2A Champion Details (Can Skip)
# https://www.kaggle.com/datasets/gabkgonzales/league-of-legends-dataset

champs

In [ ]:
# 2B Match Data (Can Skip)
# Link - https://www.kaggle.com/datasets/mldatastudent/league-of-legends-match-data (Big File)

match

In [3]:
# 3 Majors Changes to Match DF

# Count the occurrences for each value in 'Difficulty'
champ_difficulity_count = champs['Difficulty'].value_counts()

# Assigning Difficulty levels based on 1-6
champs['Difficulty'] = champs['Difficulty'].replace({'Beginner' : '1',
                                                     'Novice' : '2',
                                                     'Intermediate' : '3',
                                                     'Intermediate_Plus' : '4',
                                                     'Advanced' : '5',
                                                     'Expert' : '6',
                                                     })

# Count Difficulity Levels (1-6)
champ_difficulity_count = champs['Difficulty'].value_counts()

# Display df
print(champ_difficulity_count)

# Dropping unneccessary columns
champs.drop(['Nick Name',  
             'Range type', 
             'Resourse type', 
             'Base HP', 
             'Base mana',
             'Classes'], axis=1, inplace=True)

# Slicing secondary roles from Role column
champs['Role'] = champs['Role'].str.split(',').str[0]

# Sliced 'Release Date' to remove HH:MM:SS
champs['Release Date'] = pd.to_datetime(champs['Release Date'], errors='coerce')

champs['Release Date'] = pd.to_datetime(champs['Release Date'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

# Reformat 'Release Date' to MM/DD/YYYY format
champs['Release Date'] = champs['Release Date'].dt.strftime('%m/%d/%Y')

# Rearranging champs df 
champs = champs[['Name', 
               'Role', 
               'Difficulty',
               'Release Date', 
               'Last Changed', 
               'RP', 
               'Blue Essence',]]

# Replace mis-match names with punctation within name or spaces needed
champs['Name'] = champs['Name'].replace({'Dr. mundo': "Dr. Mundo",
                                               'Chogath' : "Cho'Gath",
                                               'Dr. mundo' : 'Dr. Mundo',
                                               'Jarvan Iv' : 'Jarvan IV',
                                               "KSante" : "K'Sante",
                                               "Kaisa" : "Kai'Sa",
                                               'Khazix' : "Kha'Zix",
                                               'KogMaw' : "Kog'Maw",
                                               'LeeSin' : "Lee Sin",
                                               'MasterYi' : 'Master Yi ',
                                               'MissFortune' : 'Miss Fortune ',
                                               'Nunu' : 'Nunu & Willump',
                                               'RekSai' : "Rek'Sai",
                                               'Renata' : 'Renata Glasc',
                                               'TahmKench' : 'Tahm Kench ',
                                               'TwistedFate' : 'Twisted Fate',
                                               'Velkoz' : "Vel'Koz",
                                               'MonkeyKing' : 'Wukong',
                                               'XinZhao' : 'Xin Zhao'})

blue_essence_count = champs['Blue Essence'].value_counts()

champs_rp_count = champs['RP'].value_counts

# Count the occurrences for each value in 'Blue Essence' and 'RP'

blue_essence_count = champs['Blue Essence'].value_counts()

champs_rp_count = champs['RP'].value_counts()

# Display the results

print(blue_essence_count)

print(champs_rp_count)

champs

Difficulty
2    43
3    38
1    29
4    28
5    15
6    15
Name: count, dtype: int64
Blue Essence
4800    59
3150    47
1350    31
450     23
6300     5
7800     1
4444     1
3141     1
Name: count, dtype: int64
RP
880    57
790    47
585    32
260    26
975     6
Name: count, dtype: int64

        Name     Role Difficulty Release Date Last Changed   RP  Blue Essence
0     Aatrox      Top          5   06/13/2013       V14.14  880          4800
1       Ahri   Middle          3   12/14/2011       V14.18  790          3150
2      Akali      Top          6   05/11/2010       V14.18  790          3150
3     Akshan   Middle          4   07/22/2021       V14.14  880          4800
4    Alistar  Support          2   02/21/2009       V14.16  585          1350
..       ...      ...        ...          ...          ...  ...           ...
163     Zeri   Bottom          4   01/20/2022       V14.18  880          4800
164    Ziggs   Bottom          2   02/01/2012       V14.18  880          4800
165   Zilean  Support          3   04/18/2009       V13.22  585          1350
166      Zoe   Middle          6   11/21/2017        V14.9  880          4800
167     Zyra  Support          4   07/24/2012       V14.15  790          3150

[168 rows x 7 columns]

In [ ]:
# 4 Cleaning / Removing unwanted columns for match df
# Dropping 99 columns retaining 9 columns from match df

match = df2[['player_teamPosition',
            'player_champName',
            'player_champName_ban',
            'player_kills', 
            'player_deaths', 
            'player_assists',
            'player_kda',
            'player_totalMinionsKilled', 
            'player_gameLength',]]

match

# 5 Creating copy of match(df)
match = match.copy()

# 5A Rename match columns to make key 'Name' for df merge (see #7)
match.rename(columns={'player_teamPosition' : 'Position', 
                     'player_champName' : 'Name', 
                     'player_champName_ban' : 'Banned Champ',
                     'player_kills' : 'Kills',
                     'player_deaths' : 'Deaths', 
                     'player_assists' : 'Assist', 
                     'player_kda' : 'KDA',
                     'player_totalMinionsKilled' : 'CS', 
                     'player_gameLength' : "Game Time (s)",}, inplace=True)

# Replace mis-match names with punctation within name or spaces needed
match['Name'] = match['Name'].replace({'AurelionSol': 'Aurelion Sol', 
                                               'Belveth': "Bel'veth",
                                               'Chogath' : "Cho'gath",
                                               'DrMundo' : 'Dr. Mundo',
                                               'JarvanIV' : 'Jarvan IV',
                                               "KSante" : "K'sante",
                                               "Kaisa" : "Kai'sa",
                                               'Khazix' : "Kha'zix",
                                               "Kogmaw" : "Kog'maw",
                                               'LeeSin' : "Lee Sin",
                                               'MasterYi ' : 'Master Yi',
                                               'MissFortune ' : 'Miss Fortune' ,
                                               'Nunu' : 'Nunu & Willump',
                                               "Rek'Sai" : "Rek'sai",
                                               'Renata' : 'Renata Glasc',
                                               'TahmKench ' : 'Tahm Kench' ,
                                               'TwistedFate' : 'Twisted Fate',
                                               'Velkoz' : "Vel'koz",
                                               'MonkeyKing' : 'Wukong',
                                               'XinZhao' : 'Xin Zhao',})



# Display the modified DataFrame
print(match)

match

       Position        Name  Banned Champ  Kills  Deaths  Assist  KDA     CS  \
0           TOP         Jax         Fiora   14.0     4.0     5.0  4.8  210.0
1        JUNGLE    Xin Zhao  Fiddlesticks    2.0     4.0    17.0  4.8   18.0
2        MIDDLE       Neeko      Volibear    2.0     6.0    16.0  3.0  184.0
3        BOTTOM      Kai'Sa          Pyke   19.0     7.0    10.0  4.1  229.0
4       UTILITY  Blitzcrank           Lux    2.0     5.0    24.0  5.2   34.0
...         ...         ...           ...    ...     ...     ...  ...    ...
205105      TOP        Zeri           NaN   19.0     8.0     7.0  3.2  254.0
205106   JUNGLE        Zyra       Karthus    7.0     7.0    15.0  3.1   85.0
205107   MIDDLE    Tristana           NaN    6.0     7.0     7.0  1.9  262.0
205108   BOTTOM        Ornn       Smolder    3.0     9.0    15.0  2.0  120.0
205109  UTILITY       Senna        Lillia    9.0     7.0    22.0  4.4   36.0

        Game Time (s)
0              1835.0
1              1835.0
2              1835.0
3              1835.0
4              1835.0
...               ...
205105         1851.8
205106         1851.8
205107         1851.8
205108         1851.8
205109         1851.8

[205110 rows x 9 columns]

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s)
0,TOP,Jax,Fiora,14.0,4.0,5.0,4.8,210.0,1835.0
1,JUNGLE,Xin Zhao,Fiddlesticks,2.0,4.0,17.0,4.8,18.0,1835.0
2,MIDDLE,Neeko,Volibear,2.0,6.0,16.0,3.0,184.0,1835.0
3,BOTTOM,Kai'Sa,Pyke,19.0,7.0,10.0,4.1,229.0,1835.0
4,UTILITY,Blitzcrank,Lux,2.0,5.0,24.0,5.2,34.0,1835.0
...,...,...,...,...,...,...,...,...,...
205105,TOP,Zeri,NaN,19.0,8.0,7.0,3.2,254.0,1851.8
205106,JUNGLE,Zyra,Karthus,7.0,7.0,15.0,3.1,85.0,1851.8
205107,MIDDLE,Tristana,NaN,6.0,7.0,7.0,1.9,262.0,1851.8
205108,BOTTOM,Ornn,Smolder,3.0,9.0,15.0,2.0,120.0,1851.8
205109,UTILITY,Senna,Lillia,9.0,7.0,22.0,4.4,36.0,1851.8

In [ ]:
# Remove later

champs['Name']

pd.set_option('display.max_rows', None)

0       Aatrox
1         Ahri
2        Akali
3       Akshan
4      Alistar
        ...
163       Zeri
164      Ziggs
165     Zilean
166        Zoe
167       Zyra
Name: Name, Length: 168, dtype: object

In [ ]:
# Move to above column after testing

# Replace specific values in a column
match['Position'] = match['Position'].replace({'TOP': 'Top',
                                    'MIDDLE': 'Middle',
                                    'JUNGLE' : 'Jungle',
                                    'BOTTOM' : 'Bottom',
                                    'UTILITY' : 'Support'})

match

In [ ]:
# Get the count of each champion picked (based on 'Name' column)
match_champ_count = match['Name'].value_counts()

# Display the results

match_champ_count

In [ ]:
# 6 Sort by Position and then by the desired column, if needed
match_sorted = match.sort_values(by=['Position'])

# Display the sorted dataframe
match_sorted

# Name sort to pick up NaN values for Positions
name_sorted = match.sort_values(by=['Name'])

name_sorted

In [ ]:

# 7 Merge Sorted Lanes and Champ information
# change how type from left to right
merged_df = pd.merge(match_sorted, champs, on='Name', how='left')

# Merge Sorted Names and Champ information (picked up NaN values not in 'merged df')
name_df = pd.merge(match_sorted, champs, on='Name', how='left')

In [ ]:
# Groupby 'Name' Column and count the number of times each champ has been played
merged_df_count = merged_df.groupby('Name').agg(
    Count=('Name', 'count'),
    Kills=('Kills', 'sum'),
    Deaths=('Deaths', 'sum'),
    Assist=('Assist', 'sum'),
    Game_Time=('Game Time (s)', 'sum')
)

# Function to convert total seconds to DD:HH:MM:SS format
def seconds_to_dhms(seconds):
    days = seconds // 86400  # 86400 seconds in a day
    hours = (seconds % 86400) // 3600  # 3600 seconds in an hour
    minutes = (seconds % 3600) // 60  # 60 seconds in a minute
    sec = seconds % 60  # Remaining seconds
    
    # Return formatted string in DD:HH:MM:SS
    return f"{int(days)}d {int(hours):02d}h {int(minutes):02d}m {int(sec):02d}s"

# Apply function to the 'Game_Time' column
merged_df_count['Game_Time'] = merged_df_count['Game_Time'].apply(seconds_to_dhms)

# Display updated dataframe
print(merged_df_count)

In [ ]:
# Testing
test_time = merged_df_count.loc['Zoe', 'Game_Time']

In [ ]:
# Testing
test_time

In [ ]:
#pd.set_option('display.max_rows', None)

# 8 Groupby 'Name' Column and count each time a champ has been played
merged_df_count = merged_df.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(merged_df_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
# Convert Game_Time to HH:MM:SS formart

merged_df_count = merged_df.groupby('Name').agg(Count=('Name', 'count'), 
                                        Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))

merged_df_count

In [ ]:
#df.set_option('display.max_rows', None)

# 9 Groupby 'Banned Champ' column and count each time a champ has been banned
merged_df_banned_count = merged_df.groupby('Banned Champ').agg(Count=('Name', 'count'))

# Sort to get top 50 banned champs
top50_merged_banned = merged_df_banned_count.sort_values('Count', ascending=False)#.head(50)

# Reset index to make 'Banned Champ' a column
top50_merged_banned = top50_merged_banned.reset_index()

# Rename the columns to 'Name' and 'Count'
top50_merged_banned = top50_merged_banned.rename(columns={'Banned Champ': 'Name'})

# Display the result
top50_merged_banned

# Attach lane 
top50_merged_banned = pd.merge(top50_merged_banned, champs, on='Name', how='right')

# Dropping all columns but Name, Count, and Role
top50_merged_banned = top50_merged_banned[['Name',
                                           'Count',
                                           'Role',]]
# Top 50
top50_merged_banned.head(50)

In [ ]:
merged_df_count['Game_Time'] = pd.to_numeric(merged_df_count['Game_Time'], errors='coerce')


merged_df_count['Game_Time'] = merged_df_count['Game_Time'].apply(
    lambda x: str(int(x // 86400)) + 'd ' + 
              str(int((x % 86400) // 3600)).zfill(2) + 'h ' + 
              str(int((x % 3600) // 60)).zfill(2) + 'm ' + 
              str(int(x % 60)).zfill(2) + 's' if pd.notna(x) else 'NaN'
)


merged_df_count.rename(columns={
    'Kills': 'Kills(Total)', 
    'Deaths': 'Deaths(Total)', 
    'Assist': 'Assist(Total)',
    'Game_Time': 'Game_Time(Total)', 
}, inplace=True)

# Display the result
print(merged_df_count)

In [ ]:
# 11 Groupby 'Name' Column and count each time a champ has been played
merged_df_mean = merged_df.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(merged_df_mean)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
merged_df_mean = merged_df.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

merged_df_mean.round(1)

merged_df_mean.rename(columns={
    'Kills': 'Kills(Mean)', 
    'Deaths': 'Deaths(Mean)', 
    'Assist': 'Assist(Mean)',
    'Game_Time': 'Game_Time(Mean)',
    'KDA' : 'KDA(Mean)' 
}, inplace=True)

In [ ]:
# 13 Merge Sorted Lanes and Champ information
merged_count_mean = pd.merge(merged_df_count, merged_df_mean, on='Name', how='left')

# Convert 'Game_Time(Mean)' to MM:SS format
merged_count_mean['Game_Time(Mean)'] = merged_count_mean['Game_Time(Mean)'].apply(
    lambda x: str(int(x // 60)).zfill(2) + 'm ' + 
              str(int(x % 60)).zfill(2) + 's' if pd.notna(x) else 'NaN')

# Display the merged DataFrame
merged_count_mean

In [ ]:
# 14 Rearranging Total & Average Dataframe
# fix 'Game_Time(Mean)'
merged_count_mean = merged_count_mean[['Kills(Total)','Kills(Total)', 'Deaths(Total)', 'Deaths(Total)', 'Assist(Total)', 'Assist(Mean)', 'KDA(Mean)', 'Game_Time(Mean)']]#removed(mean)

# KDA Leader (Mean)
kda_kill_leaders = merged_count_mean.sort_values('KDA(Mean)', ascending=False)

# KDA Leaders (Mean)
kda_kill_leaders

In [ ]:
# 15 Sort Values by highest (Count) "Kills, Deaths, Assist, etc"

# Kills
merged_kills_count = merged_df_count.sort_values(by='Kills(Total)', ascending=False)

# Deaths
merged_deaths_count = merged_df_count.sort_values(by='Deaths(Total)', ascending=False)

# Assist
merged_assist_count = merged_df_count.sort_values(by='Assist(Total)', ascending=False)

In [ ]:
# 16 Sort Values by highest (Mean)"Kills, Deaths, Assist, etc"

# Kills
merged_kills_mean = merged_df_mean.sort_values(by='Kills(Mean)', ascending=False)

# Deaths
merged_deaths_mean = merged_df_mean.sort_values(by='Deaths(Mean)', ascending=False)

# Assist
merged_assist_mean = merged_df_mean.sort_values(by='Assist(Mean)', ascending=False)

In [ ]:
# 17 Top Data Frame

TOP = merged_df[merged_df['Position'].isin(['Top'])]

TOP

In [ ]:
# 18 Groupby 'Name' Column and count each time a champ has been played
top_count = TOP.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(top_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
top_count = TOP.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(top_count)

# Kills
top_count_kills = top_count.sort_values(by='Kills', ascending=False)

# Deaths
top_count_deaths = top_count.sort_values(by='Deaths', ascending=False)

# Assist
top_count_assists = top_count.sort_values(by='Assist', ascending=False)

In [ ]:
# 19 Groupby 'Name' Column and count each time a champ has been played
top_sum = TOP.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(top_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
top_sum = TOP.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean')).round(1)

# New Dataframe (Average)
print(top_sum)

In [ ]:
# 20 JUNGLE Data Frame

JUNGLE = merged_df[merged_df['Position'].isin(['Jungle'])]

JUNGLE

In [ ]:
# 21 Groupby 'Name' Column and count each time a champ has been played
jungle_count = JUNGLE.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(jungle_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
jungle_count = JUNGLE.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(jungle_count)

In [ ]:
# 22 Groupby 'Name' Column and count each time a champ has been played
jungle_sum = JUNGLE.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(jungle_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
jungle_sum = JUNGLE.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean')).round(1)

# New Dataframe (Average)
print(jungle_sum)

In [ ]:
# 23 MIDDLE Data Frame

MIDDLE = merged_df[merged_df['Position'].isin(['Middle'])]

MIDDLE

In [ ]:
# 24 Groupby 'Name' Column and count each time a champ has been played
middle_count = MIDDLE.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(middle_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
middle_count = MIDDLE.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(middle_count)

In [ ]:
# 25 Groupby 'Name' Column and count each time a champ has been played
middle_sum = MIDDLE.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(middle_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
middle_sum = MIDDLE.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean')).round(1)

# New Dataframe (Average)
print(middle_sum)

In [ ]:
# 26 Bottom Dataframe

BOTTOM = merged_df[merged_df['Position'].isin(['Bottom'])]

BOTTOM

In [ ]:
# 27 Groupby 'Name' Column and count each time a champ has been played
bottom_count = BOTTOM.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(bottom_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
bottom_count = BOTTOM.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(bottom_count)

In [ ]:
# 28 Groupby 'Name' Column and count each time a champ has been played
bottom_sum = BOTTOM.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(bottom_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
bottom_sum = BOTTOM.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean')).round(1)

# New Dataframe (Average)
print(bottom_sum)

In [ ]:
# 29 SUPPORT Data Frame

SUPPORT = merged_df[merged_df['Position'].isin(['Support'])]

SUPPORT

In [ ]:
# 30 Groupby 'Name' Column and count each time a champ has been played
support_count = SUPPORT.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(support_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
support_count = SUPPORT.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(support_count)

In [ ]:
# 31 Groupby 'Name' Column and count each time a champ has been played
support_sum = SUPPORT.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(support_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
support_sum = SUPPORT.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean')).round(1)

# New Dataframe (Average)
print(support_sum)