In [1]:
# 1 Importing Pandas

import pandas as pd

In [2]:
# 2 Loading Data Sets

champs = df1= pd.read_excel("Data-Sets/Champions-2024.xlsx",)
match = df2 = pd.read_csv("Data-Sets/lol_match_data.csv",)
main_event = df3 = pd.read_csv("Data-Sets/champions.csv",)
swiss_stage = df4 = pd.read_csv("Data-Sets/lol_player_data.csv",)

In [ ]:
# 2A Champion Details (Can Skip)
# https://www.kaggle.com/datasets/gabkgonzales/league-of-legends-dataset

champs

In [ ]:
# 2B Match Data (Can Skip)
# Link - https://www.kaggle.com/datasets/mldatastudent/league-of-legends-match-data (Big File)

match

In [ ]:
# 2C 2024 Main Event Champion Latest Stats (Can Skip)
# https://www.kaggle.com/datasets/anmatngu/league-of-legends-worlds-2024-swiss-stage-stats

main_event

In [ ]:
# 2D 2024 (Can Skip)
# 

#swiss_stage

In [ ]:
# 3 Dropping Unneccessary columns
# Dropping 6 Columnsfrom champions df

champs.drop(['Nick Name', 
             'Role', 
             'Range type', 
             'Resourse type', 
             'Base HP', 
             'Base mana',
             'Difficulty',
             'Classes'], axis=1, inplace=True)

# Display Champs DF
champs

# (Fix Below) Slice 'Release Date' -9 to remove HH:MM:SS

#champs['Release Date'].str[:-9]

#champs

        Name         Release Date Last Changed  Blue Essence   RP
0     Aatrox  2013-06-13 00:00:00       V14.14          4800  880
1       Ahri  2011-12-14 00:00:00       V14.18          3150  790
2      Akali  2010-05-11 00:00:00       V14.18          3150  790
3     Akshan  2021-07-22 00:00:00       V14.14          4800  880
4    Alistar  2009-02-21 00:00:00       V14.16          1350  585
..       ...                  ...          ...           ...  ...
163     Zeri  2022-01-20 00:00:00       V14.18          4800  880
164    Ziggs  2012-02-01 00:00:00       V14.18          4800  880
165   Zilean  2009-04-18 00:00:00       V13.22          1350  585
166      Zoe  2017-11-21 00:00:00        V14.9          4800  880
167     Zyra  2012-07-24 00:00:00       V14.15          3150  790

[168 rows x 5 columns]

In [4]:
# 4 Cleaning / Removing unwanted columns
# Dropping 97 columns retaining 11 columns from match df

match = df2[['player_teamPosition',
            'player_champName',
            'player_champName_ban',
            'player_kills', 
            'player_deaths', 
            'player_assists',
            'player_kda',
            'player_totalMinionsKilled', 
            'player_gameLength',
            'player_longestTimeSpentLiving', 
            'player_totalTimeSpentDead']]

match

,player_teamPosition,player_champName,player_champName_ban,player_kills,player_deaths,player_assists,player_kda,player_totalMinionsKilled,player_gameLength,player_longestTimeSpentLiving,player_totalTimeSpentDead
0,TOP,Jax,Fiora,14.0,4.0,5.0,4.750000,210.0,1834.973667,633.0,110.0
1,JUNGLE,XinZhao,Fiddlesticks,2.0,4.0,17.0,4.750000,18.0,1834.973667,1247.0,127.0
2,MIDDLE,Neeko,Volibear,2.0,6.0,16.0,3.000000,184.0,1834.973667,615.0,176.0
3,BOTTOM,Kaisa,Pyke,19.0,7.0,10.0,4.142857,229.0,1834.973667,498.0,177.0
4,UTILITY,Blitzcrank,Lux,2.0,5.0,24.0,5.200000,34.0,1834.973667,599.0,89.0
...,...,...,...,...,...,...,...,...,...,...,...
205105,TOP,Zeri,NaN,19.0,8.0,7.0,3.250000,254.0,1851.837190,358.0,308.0
205106,JUNGLE,Zyra,Karthus,7.0,7.0,15.0,3.142857,85.0,1851.837190,708.0,137.0
205107,MIDDLE,Tristana,NaN,6.0,7.0,7.0,1.857143,262.0,1851.837190,519.0,227.0
205108,BOTTOM,Ornn,Smolder,3.0,9.0,15.0,2.000000,120.0,1851.837190,296.0,251.0
205109,UTILITY,Senna,Lillia,9.0,7.0,22.0,4.428571,36.0,1851.837190,473.0,204.0

In [5]:
# 5 Creating copy of match(df)
match = match.copy()

# 5A Rename match columns to make key 'Name' for df merge (see #8)
match.rename(columns={'player_teamPosition' : 'Position', 
                     'player_champName' : 'Name', 
                     'player_champName_ban' : 'Banned Champ',
                     'player_kills' : 'Kills',
                     'player_deaths' : 'Deaths', 
                     'player_assists' : 'Assist', 
                     'player_kda' : 'KDA',
                     'player_totalMinionsKilled' : 'CS', 
                     'player_gameLength' : "Game Time (s)", 
                     'player_longestTimeSpentLiving' : 'Longest Alive Time (s)', 
                     'player_totalTimeSpentDead' : 'Total Time Dead (s)'}, inplace=True)

match

# Drop Longest Alive Time, Total Dead, Game Time

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s)
0,TOP,Jax,Fiora,14.0,4.0,5.0,4.750000,210.0,1834.973667,633.0,110.0
1,JUNGLE,XinZhao,Fiddlesticks,2.0,4.0,17.0,4.750000,18.0,1834.973667,1247.0,127.0
2,MIDDLE,Neeko,Volibear,2.0,6.0,16.0,3.000000,184.0,1834.973667,615.0,176.0
3,BOTTOM,Kaisa,Pyke,19.0,7.0,10.0,4.142857,229.0,1834.973667,498.0,177.0
4,UTILITY,Blitzcrank,Lux,2.0,5.0,24.0,5.200000,34.0,1834.973667,599.0,89.0
...,...,...,...,...,...,...,...,...,...,...,...
205105,TOP,Zeri,NaN,19.0,8.0,7.0,3.250000,254.0,1851.837190,358.0,308.0
205106,JUNGLE,Zyra,Karthus,7.0,7.0,15.0,3.142857,85.0,1851.837190,708.0,137.0
205107,MIDDLE,Tristana,NaN,6.0,7.0,7.0,1.857143,262.0,1851.837190,519.0,227.0
205108,BOTTOM,Ornn,Smolder,3.0,9.0,15.0,2.000000,120.0,1851.837190,296.0,251.0
205109,UTILITY,Senna,Lillia,9.0,7.0,22.0,4.428571,36.0,1851.837190,473.0,204.0

In [6]:
# 6 Sort by Position and then by the desired column, if needed
df2_sorted = match.sort_values(by=['Position'])

# Display the sorted dataframe
df2_sorted

# Position picked up NaN values

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s)
102540,BOTTOM,Sejuani,Twisted Fate,3.0,6.0,5.0,1.333333,123.0,1234.258736,375.0,143.0
171813,BOTTOM,Zeri,Rell,6.0,6.0,5.0,1.833333,216.0,1506.631740,496.0,143.0
66588,BOTTOM,Kalista,NaN,11.0,8.0,12.0,2.875000,202.0,1934.453402,710.0,246.0
66593,BOTTOM,Jhin,Illaoi,4.0,4.0,6.0,2.500000,269.0,1839.546475,809.0,102.0
171808,BOTTOM,MissFortune,NaN,3.0,3.0,2.0,1.666667,118.0,942.345683,543.0,37.0
...,...,...,...,...,...,...,...,...,...,...,...
192708,NaN,Lucian,Ashe,0.0,0.0,0.0,0.000000,0.0,202.219378,0.0,0.0
196498,NaN,Smolder,Tristana,0.0,0.0,0.0,0.000000,0.0,120.275661,0.0,0.0
198596,NaN,Viego,Aatrox,0.0,0.0,0.0,0.000000,0.0,149.008173,0.0,0.0
202520,NaN,Camille,Yuumi,0.0,0.0,0.0,0.000000,0.0,224.102184,0.0,0.0
203237,NaN,Ryze,Senna,0.0,0.0,0.0,0.000000,0.0,172.189841,0.0,0.0

In [7]:

# 7 Sort the dataframe by 'Position'
df2_sorted = match.sort_values(by='Position')

# Display the sorted dataframe
df2_sorted

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s)
102540,BOTTOM,Sejuani,Twisted Fate,3.0,6.0,5.0,1.333333,123.0,1234.258736,375.0,143.0
171813,BOTTOM,Zeri,Rell,6.0,6.0,5.0,1.833333,216.0,1506.631740,496.0,143.0
66588,BOTTOM,Kalista,NaN,11.0,8.0,12.0,2.875000,202.0,1934.453402,710.0,246.0
66593,BOTTOM,Jhin,Illaoi,4.0,4.0,6.0,2.500000,269.0,1839.546475,809.0,102.0
171808,BOTTOM,MissFortune,NaN,3.0,3.0,2.0,1.666667,118.0,942.345683,543.0,37.0
...,...,...,...,...,...,...,...,...,...,...,...
192708,NaN,Lucian,Ashe,0.0,0.0,0.0,0.000000,0.0,202.219378,0.0,0.0
196498,NaN,Smolder,Tristana,0.0,0.0,0.0,0.000000,0.0,120.275661,0.0,0.0
198596,NaN,Viego,Aatrox,0.0,0.0,0.0,0.000000,0.0,149.008173,0.0,0.0
202520,NaN,Camille,Yuumi,0.0,0.0,0.0,0.000000,0.0,224.102184,0.0,0.0
203237,NaN,Ryze,Senna,0.0,0.0,0.0,0.000000,0.0,172.189841,0.0,0.0

In [8]:

# 8 Merge Sorted Lanes and Champ information

merged_df = pd.merge(df2_sorted, champs, on='Name', how='left')

merged_df

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s),Release Date,Last Changed,Blue Essence,RP
0,BOTTOM,Sejuani,Twisted Fate,3.0,6.0,5.0,1.333333,123.0,1234.258736,375.0,143.0,2012-01-17 00:00:00,V14.15,450.0,260.0
1,BOTTOM,Zeri,Rell,6.0,6.0,5.0,1.833333,216.0,1506.631740,496.0,143.0,2022-01-20 00:00:00,V14.18,4800.0,880.0
2,BOTTOM,Kalista,NaN,11.0,8.0,12.0,2.875000,202.0,1934.453402,710.0,246.0,2014-11-20 00:00:00,V14.13,4800.0,880.0
3,BOTTOM,Jhin,Illaoi,4.0,4.0,6.0,2.500000,269.0,1839.546475,809.0,102.0,2016-02-01 00:00:00,V14.8,4444.0,880.0
4,BOTTOM,MissFortune,NaN,3.0,3.0,2.0,1.666667,118.0,942.345683,543.0,37.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205105,NaN,Lucian,Ashe,0.0,0.0,0.0,0.000000,0.0,202.219378,0.0,0.0,2013-08-22 00:00:00,V14.16,1350.0,585.0
205106,NaN,Smolder,Tristana,0.0,0.0,0.0,0.000000,0.0,120.275661,0.0,0.0,2024-01-31 00:00:00,V14.18,6300.0,975.0
205107,NaN,Viego,Aatrox,0.0,0.0,0.0,0.000000,0.0,149.008173,0.0,0.0,2021-01-21 00:00:00,V14.18,4800.0,880.0
205108,NaN,Camille,Yuumi,0.0,0.0,0.0,0.000000,0.0,224.102184,0.0,0.0,2016-12-07 00:00:00,V14.15,4800.0,880.0
205109,NaN,Ryze,Senna,0.0,0.0,0.0,0.000000,0.0,172.189841,0.0,0.0,2009-02-21 00:00:00,V14.8,4800.0,260.0

In [10]:
# Groupby 'Name' Column and count each time a champ has been played
merged_df_count = merged_df.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(merged_df_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
# Convert Game_Time to HH:MM:SS formart

merged_df_count = merged_df.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(merged_df_count)

         Count
Name
Aatrox    2105
Ahri      1067
Akali     1313
Akshan     744
Alistar   2379
...        ...
Zeri      5586
Ziggs      747
Zilean     383
Zoe        591
Zyra      1650

[168 rows x 1 columns]
           Kills   Deaths   Assist     Game_Time
Name
Aatrox    9578.0  11049.0   9878.0  3.168044e+06
Ahri      5519.0   4490.0   7625.0  1.589048e+06
Akali     8391.0   6598.0   5473.0  1.977861e+06
Akshan    5405.0   3546.0   4170.0  1.130043e+06
Alistar   3249.0  12779.0  31298.0  3.528940e+06
...          ...      ...      ...           ...
Zeri     35807.0  26942.0  33032.0  8.333386e+06
Ziggs     3610.0   3388.0   5094.0  1.121503e+06
Zilean     661.0   1644.0   4501.0  5.896831e+05
Zoe       3713.0   2671.0   4411.0  9.096074e+05
Zyra      7545.0   7683.0  15138.0  2.520910e+06

[168 rows x 4 columns]

In [11]:
# Rename count totals  
merged_df_count.rename(columns={'Kills' : 'Kills(Total)', 
                     'Deaths' : 'Deaths(Total)', 
                     'Assist' : 'Assist(Total)',
                     'Game_Time' : 'Game_Time(Total)',}, inplace=True)

merged_df_count

         Kills(Total)  Deaths(Total)  Assist(Total)  Game_Time(Total)
Name
Aatrox         9578.0        11049.0         9878.0      3.168044e+06
Ahri           5519.0         4490.0         7625.0      1.589048e+06
Akali          8391.0         6598.0         5473.0      1.977861e+06
Akshan         5405.0         3546.0         4170.0      1.130043e+06
Alistar        3249.0        12779.0        31298.0      3.528940e+06
...               ...            ...            ...               ...
Zeri          35807.0        26942.0        33032.0      8.333386e+06
Ziggs          3610.0         3388.0         5094.0      1.121503e+06
Zilean          661.0         1644.0         4501.0      5.896831e+05
Zoe            3713.0         2671.0         4411.0      9.096074e+05
Zyra           7545.0         7683.0        15138.0      2.520910e+06

[168 rows x 4 columns]

In [ ]:
# Groupby 'Name' Column and count each time a champ has been played
merged_df_mean = merged_df.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(merged_df_mean)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
merged_df_mean = merged_df.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

merged_df_mean

         Count
Name
Aatrox    2105
Ahri      1067
Akali     1313
Akshan     744
Alistar   2379
...        ...
Zeri      5586
Ziggs      747
Zilean     383
Zoe        591
Zyra      1650

[168 rows x 1 columns]

            Kills    Deaths     Assist       KDA    Game_Time
Name
Aatrox   4.550119  5.248931   4.692637  2.495716  1505.009092
Ahri     5.172446  4.208060   7.146204  4.114403  1489.267186
Akali    6.390708  5.025133   4.168317  2.937133  1506.367877
Akshan   7.264785  4.766129   5.604839  3.863695  1518.874907
Alistar  1.365700  5.371585  13.155948  3.878432  1483.371130
...           ...       ...        ...       ...          ...
Zeri     6.410132  4.823129   5.913355  3.701912  1491.834254
Ziggs    4.832664  4.535475   6.819277  3.657378  1501.342875
Zilean   1.725849  4.292428  11.751958  4.666656  1539.642564
Zoe      6.282572  4.519459   7.463621  4.495521  1539.098882
Zyra     4.572727  4.656364   9.174545  4.341281  1527.824078

[168 rows x 5 columns]

In [15]:
merged_df_mean.columns

# Rename count totals  
merged_df_mean.rename(columns={'Kills' : 'Kills(Mean)', 
                     'Deaths' : 'Deaths(Mean)', 
                     'Assist' : 'Assist(Mean)',
                     'Game_Time' : 'Game_Time(Mean)',
                     'Game_Time' : 'Game_Time(Mean)'}, inplace=True)

merged_df_mean

         Kills(Mean)  Deaths(Mean)  Assist(Mean)       KDA  Game_Time(Mean)
Name
Aatrox      4.550119      5.248931      4.692637  2.495716      1505.009092
Ahri        5.172446      4.208060      7.146204  4.114403      1489.267186
Akali       6.390708      5.025133      4.168317  2.937133      1506.367877
Akshan      7.264785      4.766129      5.604839  3.863695      1518.874907
Alistar     1.365700      5.371585     13.155948  3.878432      1483.371130
...              ...           ...           ...       ...              ...
Zeri        6.410132      4.823129      5.913355  3.701912      1491.834254
Ziggs       4.832664      4.535475      6.819277  3.657378      1501.342875
Zilean      1.725849      4.292428     11.751958  4.666656      1539.642564
Zoe         6.282572      4.519459      7.463621  4.495521      1539.098882
Zyra        4.572727      4.656364      9.174545  4.341281      1527.824078

[168 rows x 5 columns]

In [ ]:
# Attempt to change 'Game Time' to minutes and seconds
# Fix Game_Time

#merged_df_mean = merged_df_mean['Game_Time'].apply(lambda x: x/60)

#merged_df_mean

In [ ]:
# Sort Values by highest "Kills, Deaths, Assist, etc"

# Kills
merged_kills_count = merged_df_count.sort_values(by='Kills', ascending=False)

# Deaths
merged_deaths_count = merged_df_count.sort_values(by='Deaths', ascending=False)


# Assist
merged_assist_count = merged_df_count.sort_values(by='Assist', ascending=False)

In [ ]:
# Sort Values by highest "Kills, Deaths, Assist, etc"

# Kills
merged_kills_mean = merged_df_mean.sort_values(by='Kills', ascending=False)


# Deaths
merged_deaths_mean = merged_df_mean.sort_values(by='Deaths', ascending=False)


# Assist
merged_assist_mean = merged_df_mean.sort_values(by='Assist', ascending=False)

In [17]:
# 8 Merge Sorted Lanes and Champ information

merged_count_mean = pd.merge(merged_df_count, merged_df_mean, on='Name', how='left')

merged_count_mean

,Kills(Total),Deaths(Total),Assist(Total),Game_Time(Total),Kills(Mean),Deaths(Mean),Assist(Mean),KDA,Game_Time(Mean)
Name,,,,,,,,,
Aatrox,9578.0,11049.0,9878.0,3.168044e+06,4.550119,5.248931,4.692637,2.495716,1505.009092
Ahri,5519.0,4490.0,7625.0,1.589048e+06,5.172446,4.208060,7.146204,4.114403,1489.267186
Akali,8391.0,6598.0,5473.0,1.977861e+06,6.390708,5.025133,4.168317,2.937133,1506.367877
Akshan,5405.0,3546.0,4170.0,1.130043e+06,7.264785,4.766129,5.604839,3.863695,1518.874907
Alistar,3249.0,12779.0,31298.0,3.528940e+06,1.365700,5.371585,13.155948,3.878432,1483.371130
...,...,...,...,...,...,...,...,...,...
Zeri,35807.0,26942.0,33032.0,8.333386e+06,6.410132,4.823129,5.913355,3.701912,1491.834254
Ziggs,3610.0,3388.0,5094.0,1.121503e+06,4.832664,4.535475,6.819277,3.657378,1501.342875
Zilean,661.0,1644.0,4501.0,5.896831e+05,1.725849,4.292428,11.751958,4.666656,1539.642564
Zoe,3713.0,2671.0,4411.0,9.096074e+05,6.282572,4.519459,7.463621,4.495521,1539.098882
Zyra,7545.0,7683.0,15138.0,2.520910e+06,4.572727,4.656364,9.174545,4.341281,1527.824078

In [18]:
merged_count_mean = merged_count_mean[['Kills(Total)','Kills(Mean)', 'Deaths(Total)', 'Deaths(Mean)', 'Assist(Total)', 'Assist(Mean)', 'KDA', 'Game_Time(Mean)']]

In [19]:
merged_count_mean

,Kills(Total),Kills(Mean),Deaths(Total),Deaths(Mean),Assist(Total),Assist(Mean),KDA,Game_Time(Mean)
Name,,,,,,,,
Aatrox,9578.0,4.550119,11049.0,5.248931,9878.0,4.692637,2.495716,1505.009092
Ahri,5519.0,5.172446,4490.0,4.208060,7625.0,7.146204,4.114403,1489.267186
Akali,8391.0,6.390708,6598.0,5.025133,5473.0,4.168317,2.937133,1506.367877
Akshan,5405.0,7.264785,3546.0,4.766129,4170.0,5.604839,3.863695,1518.874907
Alistar,3249.0,1.365700,12779.0,5.371585,31298.0,13.155948,3.878432,1483.371130
...,...,...,...,...,...,...,...,...
Zeri,35807.0,6.410132,26942.0,4.823129,33032.0,5.913355,3.701912,1491.834254
Ziggs,3610.0,4.832664,3388.0,4.535475,5094.0,6.819277,3.657378,1501.342875
Zilean,661.0,1.725849,1644.0,4.292428,4501.0,11.751958,4.666656,1539.642564
Zoe,3713.0,6.282572,2671.0,4.519459,4411.0,7.463621,4.495521,1539.098882
Zyra,7545.0,4.572727,7683.0,4.656364,15138.0,9.174545,4.341281,1527.824078

In [ ]:
# Top Data Frame

TOP = merged_df[merged_df['Position'].isin(['TOP'])]

TOP

In [ ]:
# Groupby 'Name' Column and count each time a champ has been played
top_count = TOP.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(top_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
top_count = TOP.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(top_count)

In [ ]:
# Groupby 'Name' Column and count each time a champ has been played
top_sum = TOP.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(top_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
top_sum = TOP.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(top_sum)

In [ ]:
# JUNGLE Data Frame

JUNGLE = merged_df[merged_df['Position'].isin(['JUNGLE'])]

JUNGLE

In [ ]:
# Groupby 'Name' Column and count each time a champ has been played
jungle_count = JUNGLE.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(jungle_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
jungle_count = JUNGLE.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(jungle_count)

In [ ]:
# Groupby 'Name' Column and count each time a champ has been played
jungle_sum = JUNGLE.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(jungle_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
jungle_sum = JUNGLE.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(jungle_sum)

In [ ]:
# MIDDLE Data Frame

MIDDLE = merged_df[merged_df['Position'].isin(['MIDDLE'])]

MIDDLE

In [ ]:
# Groupby 'Name' Column and count each time a champ has been played
middle_count = MIDDLE.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(middle_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
middle_count = MIDDLE.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(middle_count)

In [ ]:
# Groupby 'Name' Column and count each time a champ has been played
middle_sum = MIDDLE.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(middle_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
middle_sum_sum = MIDDLE.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(middle_sum)

In [ ]:
BOTTOM = merged_df[merged_df['Position'].isin(['BOTTOM'])]

BOTTOM

In [ ]:
# Groupby 'Name' Column and count each time a champ has been played
bottom_count = BOTTOM.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(bottom_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
bottom_count = BOTTOM.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(bottom_count)

In [ ]:
# Groupby 'Name' Column and count each time a champ has been played
bottom_sum = BOTTOM.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(bottom_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
bottom_sum = BOTTOM.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(bottom_sum)

In [ ]:
# UTILITY Data Frame

UTILITY = merged_df[merged_df['Position'].isin(['UTILITY'])]

UTILITY

In [ ]:
# Groupby 'Name' Column and count each time a champ has been played
utility_count = UTILITY.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(utility_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
utility_count = UTILITY.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(utility_count)

In [ ]:
# Groupby 'Name' Column and count each time a champ has been played
utility_sum = UTILITY.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(utility_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
utility_sum = UTILITY.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(utility_sum)

In [ ]:
# Everything above ok for now

# Anything below needs work

In [ ]:
match.isna().any(axis=None)