In [1]:
# 1 Importing Pandas

import pandas as pd

In [2]:
# 2 Loading Data Sets

champs = df1= pd.read_excel("Data-Sets/Champions-2024.xlsx",)
match = df2 = pd.read_csv("Data-Sets/lol_match_data.csv",)
main_event = df3 = pd.read_csv("Data-Sets/champions.csv",)
swiss_stage = df4 = pd.read_csv("Data-Sets/lol_player_data.csv",)

In [ ]:
# 2A Champion Details (Can Skip)
# https://www.kaggle.com/datasets/gabkgonzales/league-of-legends-dataset

champs

In [ ]:
# 2B Match Data (Can Skip)
# Link - https://www.kaggle.com/datasets/mldatastudent/league-of-legends-match-data (Big File)

match

In [ ]:
# 2C 2024 Main Event Champion Latest Stats (Can Skip)
# https://www.kaggle.com/datasets/anmatngu/league-of-legends-worlds-2024-swiss-stage-stats

main_event

In [ ]:
# 2D 2024 (Can Skip)
# 

#swiss_stage

In [3]:
# 3 Dropping Unneccessary columns
# Dropping 6 Columnsfrom champions df

champs.drop(['Nick Name', 
             'Role', 
             'Range type', 
             'Resourse type', 
             'Base HP', 
             'Base mana'], axis=1, inplace=True)

# Display Champs DF
champs

# (Fix Below) Slice 'Release Date' -9 to remove HH:MM:SS

#champs['Release Date'].str[:-9]

#champs

,Name,Classes,Release Date,Last Changed,Blue Essence,RP,Difficulty
0,Aatrox,Juggernaut,2013-06-13 00:00:00,V14.14,4800,880,Advanced
1,Ahri,Burst,2011-12-14 00:00:00,V14.18,3150,790,Intermediate
2,Akali,Assassin,2010-05-11 00:00:00,V14.18,3150,790,Expert
3,Akshan,Marksman Assassin,2021-07-22 00:00:00,V14.14,4800,880,Intermediate_Plus
4,Alistar,Vanguard,2009-02-21 00:00:00,V14.16,1350,585,Novice
...,...,...,...,...,...,...,...
163,Zeri,Marksman,2022-01-20 00:00:00,V14.18,4800,880,Intermediate_Plus
164,Ziggs,Artillery,2012-02-01 00:00:00,V14.18,4800,880,Novice
165,Zilean,Specialist,2009-04-18 00:00:00,V13.22,1350,585,Intermediate
166,Zoe,Burst,2017-11-21 00:00:00,V14.9,4800,880,Expert
167,Zyra,Catcher,2012-07-24 00:00:00,V14.15,3150,790,Intermediate_Plus

In [4]:
# 4 Cleaning / Removing unwanted columns
# Dropping 97 columns retaining 11 columns from match df

match = df2[['player_teamPosition',
            'player_champName',
            'player_champName_ban',
            'player_kills', 
            'player_deaths', 
            'player_assists',
            'player_kda',
            'player_totalMinionsKilled', 
            'player_gameLength',
            'player_longestTimeSpentLiving', 
            'player_totalTimeSpentDead']]

match

,player_teamPosition,player_champName,player_champName_ban,player_kills,player_deaths,player_assists,player_kda,player_totalMinionsKilled,player_gameLength,player_longestTimeSpentLiving,player_totalTimeSpentDead
0,TOP,Jax,Fiora,14.0,4.0,5.0,4.750000,210.0,1834.973667,633.0,110.0
1,JUNGLE,XinZhao,Fiddlesticks,2.0,4.0,17.0,4.750000,18.0,1834.973667,1247.0,127.0
2,MIDDLE,Neeko,Volibear,2.0,6.0,16.0,3.000000,184.0,1834.973667,615.0,176.0
3,BOTTOM,Kaisa,Pyke,19.0,7.0,10.0,4.142857,229.0,1834.973667,498.0,177.0
4,UTILITY,Blitzcrank,Lux,2.0,5.0,24.0,5.200000,34.0,1834.973667,599.0,89.0
...,...,...,...,...,...,...,...,...,...,...,...
205105,TOP,Zeri,NaN,19.0,8.0,7.0,3.250000,254.0,1851.837190,358.0,308.0
205106,JUNGLE,Zyra,Karthus,7.0,7.0,15.0,3.142857,85.0,1851.837190,708.0,137.0
205107,MIDDLE,Tristana,NaN,6.0,7.0,7.0,1.857143,262.0,1851.837190,519.0,227.0
205108,BOTTOM,Ornn,Smolder,3.0,9.0,15.0,2.000000,120.0,1851.837190,296.0,251.0
205109,UTILITY,Senna,Lillia,9.0,7.0,22.0,4.428571,36.0,1851.837190,473.0,204.0

In [5]:
# 5 Creating copy of match(df)
match = match.copy()

# 5A Rename match columns to make key 'Position' for df merge (see #8)
match.rename(columns={'player_teamPosition' : 'Position', 
                     'player_champName' : 'Name', 
                     'player_champName_ban' : 'Banned Champ',
                     'player_kills' : 'Kills',
                     'player_deaths' : 'Deaths', 
                     'player_assists' : 'Assist', 
                     'player_kda' : 'KDA',
                     'player_totalMinionsKilled' : 'CS', 
                     'player_gameLength' : "Game Time (s)", 
                     'player_longestTimeSpentLiving' : 'Longest Alive Time (s)', 
                     'player_totalTimeSpentDead' : 'Total Time Dead (s)'}, inplace=True)

match

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s)
0,TOP,Jax,Fiora,14.0,4.0,5.0,4.750000,210.0,1834.973667,633.0,110.0
1,JUNGLE,XinZhao,Fiddlesticks,2.0,4.0,17.0,4.750000,18.0,1834.973667,1247.0,127.0
2,MIDDLE,Neeko,Volibear,2.0,6.0,16.0,3.000000,184.0,1834.973667,615.0,176.0
3,BOTTOM,Kaisa,Pyke,19.0,7.0,10.0,4.142857,229.0,1834.973667,498.0,177.0
4,UTILITY,Blitzcrank,Lux,2.0,5.0,24.0,5.200000,34.0,1834.973667,599.0,89.0
...,...,...,...,...,...,...,...,...,...,...,...
205105,TOP,Zeri,NaN,19.0,8.0,7.0,3.250000,254.0,1851.837190,358.0,308.0
205106,JUNGLE,Zyra,Karthus,7.0,7.0,15.0,3.142857,85.0,1851.837190,708.0,137.0
205107,MIDDLE,Tristana,NaN,6.0,7.0,7.0,1.857143,262.0,1851.837190,519.0,227.0
205108,BOTTOM,Ornn,Smolder,3.0,9.0,15.0,2.000000,120.0,1851.837190,296.0,251.0
205109,UTILITY,Senna,Lillia,9.0,7.0,22.0,4.428571,36.0,1851.837190,473.0,204.0

In [6]:
# 6 Sort by Position and then by the desired column, if needed
df2_sorted = match.sort_values(by=['Position'])

# Display the sorted dataframe
df2_sorted

# Position picked up NaN values

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s)
102540,BOTTOM,Sejuani,Twisted Fate,3.0,6.0,5.0,1.333333,123.0,1234.258736,375.0,143.0
171813,BOTTOM,Zeri,Rell,6.0,6.0,5.0,1.833333,216.0,1506.631740,496.0,143.0
66588,BOTTOM,Kalista,NaN,11.0,8.0,12.0,2.875000,202.0,1934.453402,710.0,246.0
66593,BOTTOM,Jhin,Illaoi,4.0,4.0,6.0,2.500000,269.0,1839.546475,809.0,102.0
171808,BOTTOM,MissFortune,NaN,3.0,3.0,2.0,1.666667,118.0,942.345683,543.0,37.0
...,...,...,...,...,...,...,...,...,...,...,...
192708,NaN,Lucian,Ashe,0.0,0.0,0.0,0.000000,0.0,202.219378,0.0,0.0
196498,NaN,Smolder,Tristana,0.0,0.0,0.0,0.000000,0.0,120.275661,0.0,0.0
198596,NaN,Viego,Aatrox,0.0,0.0,0.0,0.000000,0.0,149.008173,0.0,0.0
202520,NaN,Camille,Yuumi,0.0,0.0,0.0,0.000000,0.0,224.102184,0.0,0.0
203237,NaN,Ryze,Senna,0.0,0.0,0.0,0.000000,0.0,172.189841,0.0,0.0

In [7]:

# 7 Sort the dataframe by 'Position'
df2_sorted = match.sort_values(by='Position')

# Display the sorted dataframe
df2_sorted

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s)
102540,BOTTOM,Sejuani,Twisted Fate,3.0,6.0,5.0,1.333333,123.0,1234.258736,375.0,143.0
171813,BOTTOM,Zeri,Rell,6.0,6.0,5.0,1.833333,216.0,1506.631740,496.0,143.0
66588,BOTTOM,Kalista,NaN,11.0,8.0,12.0,2.875000,202.0,1934.453402,710.0,246.0
66593,BOTTOM,Jhin,Illaoi,4.0,4.0,6.0,2.500000,269.0,1839.546475,809.0,102.0
171808,BOTTOM,MissFortune,NaN,3.0,3.0,2.0,1.666667,118.0,942.345683,543.0,37.0
...,...,...,...,...,...,...,...,...,...,...,...
192708,NaN,Lucian,Ashe,0.0,0.0,0.0,0.000000,0.0,202.219378,0.0,0.0
196498,NaN,Smolder,Tristana,0.0,0.0,0.0,0.000000,0.0,120.275661,0.0,0.0
198596,NaN,Viego,Aatrox,0.0,0.0,0.0,0.000000,0.0,149.008173,0.0,0.0
202520,NaN,Camille,Yuumi,0.0,0.0,0.0,0.000000,0.0,224.102184,0.0,0.0
203237,NaN,Ryze,Senna,0.0,0.0,0.0,0.000000,0.0,172.189841,0.0,0.0

In [8]:

# 8 Merge Sorted Lanes and Champ information

merged_df = pd.merge(df2_sorted, champs, on='Name')

merged_df

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s),Classes,Release Date,Last Changed,Blue Essence,RP,Difficulty
0,BOTTOM,Sejuani,Twisted Fate,3.0,6.0,5.0,1.333333,123.0,1234.258736,375.0,143.0,Vanguard,2012-01-17 00:00:00,V14.15,450,260,Novice
1,BOTTOM,Zeri,Rell,6.0,6.0,5.0,1.833333,216.0,1506.631740,496.0,143.0,Marksman,2022-01-20 00:00:00,V14.18,4800,880,Intermediate_Plus
2,BOTTOM,Kalista,NaN,11.0,8.0,12.0,2.875000,202.0,1934.453402,710.0,246.0,Marksman,2014-11-20 00:00:00,V14.13,4800,880,Intermediate_Plus
3,BOTTOM,Jhin,Illaoi,4.0,4.0,6.0,2.500000,269.0,1839.546475,809.0,102.0,Marksman Catcher,2016-02-01 00:00:00,V14.8,4444,880,Intermediate_Plus
4,BOTTOM,Lux,Caitlyn,3.0,7.0,9.0,1.714286,222.0,1839.546475,319.0,189.0,Burst Artillery,2010-10-19 00:00:00,V14.10,450,260,Novice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177646,NaN,Lucian,Ashe,0.0,0.0,0.0,0.000000,0.0,202.219378,0.0,0.0,Marksman,2013-08-22 00:00:00,V14.16,1350,585,Novice
177647,NaN,Smolder,Tristana,0.0,0.0,0.0,0.000000,0.0,120.275661,0.0,0.0,Marksman,2024-01-31 00:00:00,V14.18,6300,975,Novice
177648,NaN,Viego,Aatrox,0.0,0.0,0.0,0.000000,0.0,149.008173,0.0,0.0,Skirmisher,2021-01-21 00:00:00,V14.18,4800,880,Intermediate
177649,NaN,Camille,Yuumi,0.0,0.0,0.0,0.000000,0.0,224.102184,0.0,0.0,Diver,2016-12-07 00:00:00,V14.15,4800,880,Expert
177650,NaN,Ryze,Senna,0.0,0.0,0.0,0.000000,0.0,172.189841,0.0,0.0,Battlemage,2009-02-21 00:00:00,V14.8,4800,260,Intermediate_Plus

In [9]:
# Top Data Frame

TOP = merged_df[merged_df['Position'].isin(['TOP'])]

TOP

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s),Classes,Release Date,Last Changed,Blue Essence,RP,Difficulty
100467,TOP,Renekton,Draven,6.0,5.0,8.0,2.800000,254.0,1883.433612,622.0,199.0,Diver,2011-01-18 00:00:00,V14.13,4800,880,Novice
100468,TOP,Gwen,Draven,2.0,8.0,1.0,0.375000,109.0,1149.242613,261.0,180.0,Skirmisher,2021-04-15 00:00:00,V14.9,4800,880,Novice
100469,TOP,Zac,Master Yi,1.0,2.0,0.0,0.500000,154.0,1093.835309,867.0,35.0,Vanguard,2013-03-29 00:00:00,V14.13,4800,880,Novice
100470,TOP,Nocturne,Kai'Sa,3.0,7.0,4.0,1.000000,128.0,1376.050835,606.0,180.0,Assassin,2011-03-15 00:00:00,V14.9,3150,790,Beginner
100471,TOP,Garen,NaN,12.0,2.0,6.0,9.000000,205.0,1647.793209,816.0,79.0,Juggernaut,2010-04-27 00:00:00,V14.9,450,260,Beginner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137367,TOP,Aatrox,Draven,2.0,3.0,2.0,1.333333,169.0,1402.045592,1052.0,125.0,Juggernaut,2013-06-13 00:00:00,V14.14,4800,880,Advanced
137368,TOP,Aatrox,Illaoi,7.0,7.0,1.0,1.142857,140.0,1414.195085,476.0,254.0,Juggernaut,2013-06-13 00:00:00,V14.14,4800,880,Advanced
137369,TOP,Gangplank,Vladimir,4.0,9.0,8.0,1.333333,171.0,1665.599187,297.0,219.0,Specialist,2009-08-19 00:00:00,V14.13,3150,790,Expert
137370,TOP,Riven,Ezreal,7.0,5.0,7.0,2.800000,174.0,1567.382087,489.0,134.0,Skirmisher,2011-09-14 00:00:00,V14.2,4800,880,Expert
137371,TOP,Riven,Pyke,10.0,9.0,5.0,1.666667,238.0,1916.540128,355.0,243.0,Skirmisher,2011-09-14 00:00:00,V14.2,4800,880,Expert

In [11]:
# Groupby 'Name' Column and count each time a champ has been played
top_count = TOP.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(top_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
top_count = TOP.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(top_count)

         Count
Name
Aatrox    2050
Ahri        16
Akali      553
Akshan     109
Alistar      5
...        ...
Zeri       196
Ziggs        3
Zilean      21
Zoe          9
Zyra         1

[139 rows x 1 columns]
          Kills   Deaths  Assist          KDA     Game_Time
Name
Aatrox   9265.0  10718.0  9540.0  5110.103150  3.085312e+06
Ahri       58.0     72.0    75.0    36.768182  2.352976e+04
Akali    3177.0   2982.0  2141.0  1330.311328  8.405803e+05
Akshan    626.0    545.0   545.0   296.185823  1.666318e+05
Alistar     8.0     16.0    59.0    23.666667  8.116433e+03
...         ...      ...     ...          ...           ...
Zeri     1056.0   1091.0   944.0   523.398474  2.983304e+05
Ziggs      18.0     19.0    20.0     6.444444  5.103649e+03
Zilean     48.0     84.0   208.0    80.431746  3.272480e+04
Zoe        35.0     46.0    34.0    24.265967  1.226203e+04
Zyra        3.0      9.0     8.0     1.222222  1.410597e+03

[139 rows x 5 columns]

In [12]:
# JUNGLE Data Frame

JUNGLE = merged_df[merged_df['Position'].isin(['JUNGLE'])]

JUNGLE

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s),Classes,Release Date,Last Changed,Blue Essence,RP,Difficulty
31564,JUNGLE,Shyvana,Rell,11.0,3.0,11.0,7.333333,40.0,1472.727382,375.0,39.0,Juggernaut,2011-11-01 00:00:00,V14.15,3150,790,Beginner
31565,JUNGLE,Brand,Rengar,15.0,6.0,17.0,5.333333,38.0,2040.552580,516.0,165.0,Burst,2011-04-12 00:00:00,V14.14,450,260,Novice
31566,JUNGLE,Brand,Varus,5.0,7.0,11.0,2.285714,32.0,1780.387067,393.0,195.0,Burst,2011-04-12 00:00:00,V14.14,450,260,Novice
31567,JUNGLE,Viego,Akshan,2.0,3.0,2.0,1.333333,14.0,927.357492,511.0,37.0,Skirmisher,2021-01-21 00:00:00,V14.18,4800,880,Intermediate
31568,JUNGLE,Maokai,Pyke,5.0,5.0,14.0,3.800000,22.0,1731.145248,572.0,133.0,Vanguard,2011-02-16 00:00:00,V14.18,4800,880,Beginner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63372,JUNGLE,Morgana,Karthus,2.0,5.0,5.0,1.400000,27.0,1358.678613,505.0,95.0,Catcher,2009-02-21 00:00:00,V14.18,1350,585,Novice
63373,JUNGLE,Kindred,Darius,2.0,6.0,2.0,0.666667,22.0,1387.212009,621.0,137.0,Marksman,2015-10-14 00:00:00,V14.14,4800,880,Advanced
63374,JUNGLE,Graves,Rumble,9.0,2.0,13.0,11.000000,42.0,1568.532835,602.0,45.0,Specialist,2011-10-19 00:00:00,V14.13,4800,880,Intermediate
63375,JUNGLE,Lillia,LeBlanc,1.0,4.0,2.0,0.750000,12.0,916.415137,385.0,48.0,Skirmisher,2020-07-22 00:00:00,V14.18,4800,880,Expert
63376,JUNGLE,Gragas,NaN,12.0,3.0,10.0,7.333333,29.0,1616.727254,725.0,80.0,Vanguard,2010-02-02 00:00:00,V14.13,3150,790,Intermediate

In [13]:
# Groupby 'Name' Column and count each time a champ has been played
jungle_count = JUNGLE.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(jungle_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
jungle_count = JUNGLE.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(jungle_count)

         Count
Name
Aatrox       3
Ahri         1
Akali        2
Akshan       2
Alistar      1
...        ...
Zac        641
Zed        169
Zeri        23
Ziggs        1
Zyra      1491

[108 rows x 1 columns]
          Kills  Deaths   Assist          KDA     Game_Time
Name
Aatrox      9.0    29.0     24.0     3.605617  5.270148e+03
Ahri        0.0     1.0      0.0     0.000000  2.246605e+02
Akali       0.0     0.0      0.0     0.000000  2.062087e+02
Akshan      9.0    10.0     26.0     6.714286  3.506238e+03
Alistar     0.0     0.0      0.0     0.000000  1.112151e+02
...         ...     ...      ...          ...           ...
Zac      3088.0  2660.0   6425.0  3618.283414  9.575011e+05
Zed      1284.0   949.0   1035.0   582.715754  2.665835e+05
Zeri      156.0   120.0    156.0    73.847222  3.343126e+04
Ziggs       5.0     9.0     17.0     2.444444  1.795176e+03
Zyra     7014.0  6730.0  13455.0  6703.780149  2.256927e+06

[108 rows x 5 columns]

In [14]:
# MIDDLE Data Frame

MIDDLE = merged_df[merged_df['Position'].isin(['MIDDLE'])]

MIDDLE

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s),Classes,Release Date,Last Changed,Blue Essence,RP,Difficulty
63377,MIDDLE,Qiyana,NaN,5.0,8.0,5.0,1.250000,159.0,1302.713070,373.0,194.0,Assassin,2019-06-28 00:00:00,V14.16,4800,880,Expert
63378,MIDDLE,Tristana,Rumble,9.0,3.0,3.0,4.000000,121.0,919.017514,327.0,68.0,Marksman,2009-02-21 00:00:00,V14.14,1350,585,Beginner
63379,MIDDLE,Corki,LeBlanc,6.0,7.0,3.0,1.285714,181.0,1253.507989,435.0,193.0,Marksman,2009-09-19 00:00:00,V14.18,3150,790,Intermediate
63380,MIDDLE,Corki,Taliyah,2.0,4.0,3.0,1.250000,279.0,1631.555813,902.0,121.0,Marksman,2009-09-19 00:00:00,V14.18,3150,790,Intermediate
63381,MIDDLE,Lux,Ezreal,10.0,3.0,3.0,4.333333,190.0,1222.838540,462.0,74.0,Burst Artillery,2010-10-19 00:00:00,V14.10,450,260,Novice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100462,MIDDLE,Zeri,Sejuani,2.0,4.0,2.0,1.000000,251.0,1703.066437,668.0,70.0,Marksman,2022-01-20 00:00:00,V14.18,4800,880,Intermediate_Plus
100463,MIDDLE,Corki,Nidalee,13.0,1.0,2.0,15.000000,184.0,1324.054675,704.0,26.0,Marksman,2009-09-19 00:00:00,V14.18,3150,790,Intermediate
100464,MIDDLE,Cassiopeia,Jhin,8.0,8.0,5.0,1.625000,185.0,1600.181417,822.0,282.0,Battlemage,2010-12-14 00:00:00,V14.16,4800,880,Intermediate
100465,MIDDLE,Lucian,Ezreal,1.0,5.0,0.0,0.200000,114.0,924.781051,449.0,121.0,Marksman,2013-08-22 00:00:00,V14.16,1350,585,Novice
100466,MIDDLE,Corki,Ziggs,4.0,8.0,5.0,1.125000,302.0,2043.152499,664.0,314.0,Marksman,2009-09-19 00:00:00,V14.18,3150,790,Intermediate

In [16]:
# Groupby 'Name' Column and count each time a champ has been played
middle_count = MIDDLE.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(middle_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
middle_count = MIDDLE.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(middle_count)

         Count
Name
Aatrox      46
Ahri      1041
Akali      756
Akshan     619
Alistar      8
...        ...
Zeri      1050
Ziggs      223
Zilean      69
Zoe        517
Zyra         5

[140 rows x 1 columns]
          Kills  Deaths  Assist          KDA     Game_Time
Name
Aatrox    278.0   264.0   277.0   131.811255  6.864347e+04
Ahri     5433.0  4386.0  7512.0  4336.966775  1.556559e+06
Akali    5208.0  3605.0  3329.0  2524.443723  1.134633e+06
Akshan   4697.0  2941.0  3518.0  2514.805983  9.413493e+05
Alistar    19.0    47.0    87.0    19.828571  1.193418e+04
...         ...     ...     ...          ...           ...
Zeri     6412.0  5386.0  5684.0  3386.745599  1.568696e+06
Ziggs    1133.0   937.0  1481.0   889.438203  3.403317e+05
Zilean    210.0   202.0   651.0   400.670635  1.040587e+05
Zoe      3438.0  2248.0  3765.0  2438.575216  7.980691e+05
Zyra       22.0    28.0    49.0    12.530952  9.045321e+03

[140 rows x 5 columns]

In [19]:
BOTTOM = merged_df[merged_df['Position'].isin(['BOTTOM'])]

BOTTOM

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s),Classes,Release Date,Last Changed,Blue Essence,RP,Difficulty
0,BOTTOM,Sejuani,Twisted Fate,3.0,6.0,5.0,1.333333,123.0,1234.258736,375.0,143.0,Vanguard,2012-01-17 00:00:00,V14.15,450,260,Novice
1,BOTTOM,Zeri,Rell,6.0,6.0,5.0,1.833333,216.0,1506.631740,496.0,143.0,Marksman,2022-01-20 00:00:00,V14.18,4800,880,Intermediate_Plus
2,BOTTOM,Kalista,NaN,11.0,8.0,12.0,2.875000,202.0,1934.453402,710.0,246.0,Marksman,2014-11-20 00:00:00,V14.13,4800,880,Intermediate_Plus
3,BOTTOM,Jhin,Illaoi,4.0,4.0,6.0,2.500000,269.0,1839.546475,809.0,102.0,Marksman Catcher,2016-02-01 00:00:00,V14.8,4444,880,Intermediate_Plus
4,BOTTOM,Lux,Caitlyn,3.0,7.0,9.0,1.714286,222.0,1839.546475,319.0,189.0,Burst Artillery,2010-10-19 00:00:00,V14.10,450,260,Novice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31559,BOTTOM,Ezreal,Sylas,0.0,3.0,3.0,1.000000,153.0,1200.035041,360.0,30.0,Marksman,2010-03-16 00:00:00,V14.15,1350,585,Intermediate
31560,BOTTOM,Jinx,LeBlanc,7.0,0.0,5.0,12.000000,150.0,1117.261354,0.0,0.0,Marksman,2013-10-10 00:00:00,V14.18,3150,790,Beginner
31561,BOTTOM,Caitlyn,Akali,11.0,5.0,4.0,3.000000,236.0,1743.317306,1091.0,172.0,Marksman,2011-01-04 00:00:00,V14.11,450,260,Advanced
31562,BOTTOM,Lucian,LeBlanc,2.0,12.0,2.0,0.333333,185.0,1777.351057,197.0,234.0,Marksman,2013-08-22 00:00:00,V14.16,1350,585,Novice
31563,BOTTOM,Ezreal,NaN,3.0,1.0,4.0,7.000000,143.0,1048.784198,416.0,14.0,Marksman,2010-03-16 00:00:00,V14.15,1350,585,Intermediate

In [20]:
# Groupby 'Name' Column and count each time a champ has been played
bottom_count = BOTTOM.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(bottom_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
bottom_count = BOTTOM.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(bottom_count)

         Count
Name
Aatrox       1
Ahri         3
Akali        2
Akshan      13
Alistar      1
...        ...
Zeri      4314
Ziggs      510
Zilean       2
Zoe          4
Zyra        23

[111 rows x 1 columns]
           Kills   Deaths   Assist           KDA     Game_Time
Name
Aatrox       6.0      5.0     15.0      4.200000  2.318578e+03
Ahri        20.0      9.0     14.0     11.333333  3.875656e+03
Akali        6.0     11.0      3.0      1.700000  2.441202e+03
Akshan      65.0     49.0     76.0     43.883333  1.762378e+04
Alistar      2.0      9.0     11.0      1.444444  1.643463e+03
...          ...      ...      ...           ...           ...
Zeri     28183.0  20345.0  26248.0  16694.889556  6.432577e+06
Ziggs     2438.0   2376.0   3523.0   1805.040057  7.629105e+05
Zilean      10.0      8.0     19.0      7.250000  3.118536e+03
Zoe         20.0     14.0     32.0     19.550000  5.834909e+03
Zyra       113.0    102.0    207.0     95.069444  3.994136e+04

[111 rows x 5 columns]

In [21]:
# UTILITY Data Frame

UTILITY = merged_df[merged_df['Position'].isin(['UTILITY'])]

UTILITY

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s),Classes,Release Date,Last Changed,Blue Essence,RP,Difficulty
137372,UTILITY,Sona,Skarner,0.0,4.0,13.0,3.250000,22.0,1275.004247,837.0,108.0,Enchanter,2010-09-21 00:00:00,V14.7,450,260,Novice
137373,UTILITY,Leona,Karthus,3.0,4.0,6.0,2.250000,36.0,1554.307792,1073.0,34.0,Vanguard,2011-07-13 00:00:00,V14.18,450,260,Novice
137374,UTILITY,Leona,Karthus,1.0,2.0,14.0,7.500000,15.0,1208.750137,363.0,20.0,Vanguard,2011-07-13 00:00:00,V14.18,450,260,Novice
137375,UTILITY,Lulu,Ezreal,4.0,4.0,29.0,8.250000,27.0,2010.770459,1161.0,165.0,Enchanter,2012-03-20 00:00:00,V14.18,4800,880,Novice
137376,UTILITY,Leona,Lillia,0.0,6.0,5.0,0.833333,32.0,1399.190690,363.0,118.0,Vanguard,2011-07-13 00:00:00,V14.18,450,260,Novice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177569,UTILITY,Soraka,Darius,2.0,5.0,15.0,3.400000,35.0,1717.689830,658.0,130.0,Enchanter,2009-02-21 00:00:00,V14.4,450,260,Beginner
177570,UTILITY,Lulu,Karthus,2.0,1.0,16.0,18.000000,25.0,1807.810723,432.0,10.0,Enchanter,2012-03-20 00:00:00,V14.18,4800,880,Novice
177571,UTILITY,Braum,Lee Sin,2.0,5.0,28.0,6.000000,23.0,1927.368586,644.0,130.0,Warden,2014-05-12 00:00:00,V14.9,3150,790,Novice
177572,UTILITY,Thresh,Pyke,2.0,5.0,18.0,4.000000,39.0,1829.115311,742.0,139.0,Catcher,2013-01-23 00:00:00,V14.8,3150,790,Advanced
177573,UTILITY,Senna,Lillia,9.0,7.0,22.0,4.428571,36.0,1851.837190,473.0,204.0,Marksman Enchanter,2019-11-10 00:00:00,V14.16,3150,790,Advanced

In [22]:
# Groupby 'Name' Column and count each time a champ has been played
utility_count = UTILITY.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(utility_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
utility_count = UTILITY.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(utility_count)

         Count
Name
Aatrox       4
Ahri         3
Akshan       1
Alistar   2364
Amumu       87
...        ...
Zac        178
Ziggs       10
Zilean     290
Zoe         61
Zyra       130

[112 rows x 1 columns]
          Kills   Deaths   Assist          KDA     Game_Time
Name
Aatrox     20.0     33.0     22.0     3.762121  6.347660e+03
Ahri        8.0     22.0     24.0     5.000000  4.436478e+03
Akshan      8.0      1.0      5.0    13.000000  9.318050e+02
Alistar  3220.0  12707.0  31141.0  9181.849505  3.507135e+06
Amumu     212.0    636.0   1104.0   270.972580  1.365660e+05
...         ...      ...      ...          ...           ...
Zac       459.0    910.0   2066.0   774.883580  2.609244e+05
Ziggs      16.0     47.0     53.0    28.694372  1.136215e+04
Zilean    393.0   1350.0   3623.0  1298.976890  4.496376e+05
Zoe       220.0    363.0    580.0   174.461441  9.344137e+04
Zyra      393.0    814.0   1419.0   350.510220  2.135855e+05

[112 rows x 5 columns]

In [ ]:
# Everything above ok for now

# Anything below needs work