In [1]:
# Importing Pandas

import pandas as pd

In [2]:
# Loading Data Sets

champs = df1= pd.read_excel("Data-Sets/Champions-2024.xlsx",)
match = df2 = pd.read_csv("Data-Sets/lol_match_data.csv",)
main_event = df3 = pd.read_csv("Data-Sets/champions.csv",)
swiss_stage = df4 = pd.read_csv("Data-Sets/lol_player_data.csv",)

In [3]:
# Champion Details
# https://www.kaggle.com/datasets/gabkgonzales/league-of-legends-dataset

champs

,Name,Nick Name,Classes,Release Date,Last Changed,Blue Essence,RP,Difficulty,Role,Range type,Resourse type,Base HP,Base mana
0,Aatrox,The darkin blade,Juggernaut,2013-06-13 00:00:00,V14.14,4800,880,Advanced,Top,Melee,Blood Well,650,0
1,Ahri,The nine-tailed fox,Burst,2011-12-14 00:00:00,V14.18,3150,790,Intermediate,Middle,Ranged,Mana,590,418
2,Akali,The rogue assassin,Assassin,2010-05-11 00:00:00,V14.18,3150,790,Expert,"Top,Middle",Melee,Energy,600,200
3,Akshan,The rogue sentinel,Marksman Assassin,2021-07-22 00:00:00,V14.14,4800,880,Intermediate_Plus,Middle,Ranged,Mana,630,350
4,Alistar,The minotaur,Vanguard,2009-02-21 00:00:00,V14.16,1350,585,Novice,Support,Melee,Mana,685,350
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Zeri,The spark of zaun,Marksman,2022-01-20 00:00:00,V14.18,4800,880,Intermediate_Plus,Bottom,Ranged,Mana,600,250
164,Ziggs,The hexplosives expert,Artillery,2012-02-01 00:00:00,V14.18,4800,880,Novice,"Bottom,Middle",Ranged,Mana,606,480
165,Zilean,The chronokeeper,Specialist,2009-04-18 00:00:00,V13.22,1350,585,Intermediate,Support,Ranged,Mana,574,452
166,Zoe,The aspect of twilight,Burst,2017-11-21 00:00:00,V14.9,4800,880,Expert,Middle,Ranged,Mana,630,425
167,Zyra,Rise of the thorns,Catcher,2012-07-24 00:00:00,V14.15,3150,790,Intermediate_Plus,Support,Ranged,Mana,574,418

In [4]:
# Match Data
# Link - https://www.kaggle.com/datasets/mldatastudent/league-of-legends-match-data (Big File)

match

,match_matchId,match_gameStartTimestamp,match_gameEndTimestamp,match_gameDuration,match_mapId,match_platformId,player_puuid,player_teamId,player_teamPosition,player_lane,...,player_item3_categories,player_item3_priceTotal,player_item4_name,player_item4_description,player_item4_categories,player_item4_priceTotal,player_item5_name,player_item5_description,player_item5_categories,player_item5_priceTotal
0,LA1_1531159804,1.720820e+12,1.720820e+12,1834.0,11.0,LA1,QPstXBo4FWSoly8yTtzmHFjsgtwUJrVzRhFTWlO3irBaEd...,blue,TOP,JUNGLE,...,"['Health', 'Damage', 'CooldownReduction', 'Abi...",3100,Sterak's Gage,<mainText><stats><attention> 400</attention> H...,"['Health', 'Damage', 'Tenacity']",3200,Stealth Ward,<mainText><stats></stats><br><br> <active>ACTI...,"['Active', 'Jungle', 'Lane', 'Trinket', 'Vision']",0
1,LA1_1531159804,1.720820e+12,1.720820e+12,1834.0,11.0,LA1,QzyPH9vc2hbRPURIrgqsSCO433YtjtgkMFE9e1H9_c351N...,blue,JUNGLE,JUNGLE,...,"['Armor', 'Boots']",1000,Sundered Sky,<mainText><stats><attention> 45</attention> At...,"['Health', 'Damage', 'CooldownReduction', 'Abi...",3100,Oracle Lens,<mainText><stats></stats><br><br> <active>ACTI...,"['Active', 'Trinket', 'Vision']",0
2,LA1_1531159804,1.720820e+12,1.720820e+12,1834.0,11.0,LA1,YuVhOcfatPV1SXJXC13Rq0WnzmlZOaarfRNj_cq0LPPn4k...,blue,MIDDLE,MIDDLE,...,"['Boots', 'MagicPenetration']",1100,Doran's Ring,<mainText><stats><attention> 18</attention> Ab...,"['Health', 'Lane', 'ManaRegen', 'SpellDamage']",400,Farsight Alteration,<mainText><stats></stats><br><br> <active>ACTI...,"['Active', 'Trinket', 'Vision']",0
3,LA1_1531159804,1.720820e+12,1.720820e+12,1834.0,11.0,LA1,MX4cgaNMIE7mc0yui4eWbJiR2oY7NHQiqKyOnZuYaG5_Np...,blue,BOTTOM,BOTTOM,...,"['AttackSpeed', 'Boots']",1100,Statikk Shiv,<mainText><stats><attention> 55</attention> At...,"['Damage', 'AttackSpeed', 'OnHit', 'NonbootsMo...",2800,Farsight Alteration,<mainText><stats></stats><br><br> <active>ACTI...,"['Active', 'Trinket', 'Vision']",0
4,LA1_1531159804,1.720820e+12,1.720820e+12,1834.0,11.0,LA1,b3imXxVO7QIdV2svkLrD9KUBxPYFvCQMnIinyVGBz7tbDd...,blue,UTILITY,BOTTOM,...,['Armor'],300,Cloth Armor,<mainText><stats><attention> 15</attention> Ar...,['Armor'],300,Oracle Lens,<mainText><stats></stats><br><br> <active>ACTI...,"['Active', 'Trinket', 'Vision']",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205105,KR_7237060555,1.724337e+12,1.724339e+12,1851.0,11.0,KR,v6u_FhRreY-ZLdgHD7dWYBV_IXsb7dqPIPBSbwCKbr0KVJ...,red,TOP,TOP,...,"['AttackSpeed', 'Boots']",1100,Immortal Shieldbow,<mainText><stats><attention> 55</attention> At...,"['Damage', 'CriticalStrike']",3000,Farsight Alteration,<mainText><stats></stats><br><br> <active>ACTI...,"['Active', 'Trinket', 'Vision']",0
205106,KR_7237060555,1.724337e+12,1.724339e+12,1851.0,11.0,KR,WFOrSTTv1PTUGVOG5X014vDOlsDSZQlh9Bbn9Jnp3QOfzT...,red,JUNGLE,JUNGLE,...,"['Health', 'SpellDamage']",3000,Rylai's Crystal Scepter,<mainText><stats><attention> 75</attention> Ab...,"['Health', 'SpellDamage', 'Slow']",2600,Oracle Lens,<mainText><stats></stats><br><br> <active>ACTI...,"['Active', 'Trinket', 'Vision']",0
205107,KR_7237060555,1.724337e+12,1.724339e+12,1851.0,11.0,KR,htPUrnuZc_NLcd5GTeuWpTzWD47Z_b-xFkmvPPMd63j-24...,red,MIDDLE,MIDDLE,...,"['Health', 'Damage', 'SpellVamp', 'Lane']",450,Bloodthirster,<mainText><stats><attention> 80</attention> At...,"['Damage', 'LifeSteal']",3400,Oracle Lens,<mainText><stats></stats><br><br> <active>ACTI...,"['Active', 'Trinket', 'Vision']",0
205108,KR_7237060555,1.724337e+12,1.724339e+12,1851.0,11.0,KR,qqUpt5aAAcx450pGLlbZTK6PSRRBeG1FwUbF-wrHYlnD3P...,red,BOTTOM,BOTTOM,...,"['Health', 'Armor', 'Aura', 'AbilityHaste']",2700,"Jak'Sho, The Protean",<mainText><stats><attention> 300</attention> H...,"['Health', 'SpellBlock', 'Armor', 'MagicResist']",3200,Farsight Alteration,<mainText><stats></stats><br><br> <active>ACTI...,"['Active', 'Trinket', 'Vision']",0
205109,KR_7237060555,1.724337e+12,1.724339e+12,1851.0,11.0,KR,aAPeNXsw43xzKUd5lDNkaL2I2LtDs5QA1x-6DkjK7-WPMI...,red,UTILITY,BOTTOM,...,"['Health', 'SpellBlock', 'Armor', 'Vision', 'A...",1100,Boots of Swiftness,<mainText><stats><attention> 60</attention> Mo...,['Boots'],1000,Oracle Lens,<mainText><stats></stats><br><br> <active>ACTI...,"['Active', 'Trinket', 'Vision']",0

In [5]:
# 2024 Main Event Champion Latest Stats
# https://www.kaggle.com/datasets/anmatngu/league-of-legends-worlds-2024-swiss-stage-stats

main_event

,Champion,Picks,Bans,Presence,Wins,Losses,Winrate,KDA,Avg BT,GT,CSM,DPM,GPM,CSD@15,GD@15,XPD@15
0,Aurora,14,60,96%,9.0,5.0,64%,5.6,3.5,33:36:00,7.6,684.0,394.0,-2.6,-7.0,-94.0
1,Yone,28,45,95%,18.0,10.0,64%,4.3,3.4,32:14:00,9.5,645.0,442.0,5.4,303.0,265.0
2,Skarner,32,35,87%,23.0,9.0,72%,5.7,3.9,32:02:00,5.9,346.0,338.0,-0.8,11.0,82.0
3,Jax,35,28,82%,19.0,16.0,54%,3,5.2,34:25:00,8.0,440.0,402.0,-5.1,38.0,-164.0
4,Ashe,18,43,79%,13.0,5.0,72%,6.2,6.1,33:30:00,9.5,553.0,444.0,-2.8,-156.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Belveth,0,0,0%,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,Nilah,0,0,0%,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,Milio,0,0,0%,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,Naafiri,0,0,0%,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,Briar,0,0,0%,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
swiss_stage

,rank,summonerId,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak,platform,region,puuid
0,1,5MIZh6LYpkncs9nOkQUF2TMTd3w71O_PXv-GwRQ-RkbhIB...,2368,294,183,True,False,False,True,vn2,sea,VxUXKa928bJ5AkKL_J1WUdUtxLwRyoQ84Qgf_t7irRpPuP...
1,2,p-J3fRcPUUWQrpVYsOAAI1xNi1c1ZAmyXjUeWrAuyVizPD...,2336,203,111,True,False,False,True,tr1,europe,-edjIVE1InrulqUo29f47hu0SbnvzCRaI7K7O6_j7QKTep...
2,3,H9YSzAPUuV69Mc-kDuLY3WVRiluzSHF4paVdKyHQhqgbkS0,2129,198,117,True,False,False,False,na1,americas,pSw9uDjEw9eJzljZeCZbFmj9nMvNRRbtsm1GgjEtMM4Od8...
3,4,THTu60DOqUE3l7PslVL2tHXL7_ZFcsFoXYm-oM7k7VlH-A,2111,329,202,True,False,False,False,la1,americas,pKvgeKb1PbFygLcPtYXxUPfpqezrjEPZbNlwcqkrEwkA5y...
4,5,cZZp9MY71dpIbtfRx_h30UtQWhzKUznBdCuxarDPp7DzZqGk,2051,363,283,True,False,False,True,euw1,europe,-djrDLgkOiCS0dEuS3y7lO6zltGrTgcPyohRAGluDy8Sk4...
...,...,...,...,...,...,...,...,...,...,...,...,...
2908,2909,rDUUylptUnu8Kol-en76tzAib3f1LeCxKu_3tiS9LPiER9...,501,79,59,False,False,True,True,sg2,sea,DWFY_JAEomkQiJxF6xUOvSU6WJJTqM2aL961EvHwdj2Zvt...
2909,2910,Kfqu10pTMUQwIduxAVbIqPlbnETYt_Uarf4J9rlOc6F61Q,481,137,110,True,False,False,False,ru,europe,O2Ej9QqINBzQHv2GvzSVeZ9tcFXZ9gNakPn1y9obJClmKp...
2910,2911,lJgrTeBPX8Mb253944UeWnNyj61BiMssz_-i6EBgvH0Niw,472,71,51,False,False,True,False,ru,europe,TzFnuVeplJQzn66PMOc8X1sN7A4mouGD3m6gKCOcvkMHZW...
2911,2912,4gtyoLF3Ux0kCgXzEXv__lCumh6AXzLHaCEPjzeK7fn6Ab...,442,148,135,False,False,True,False,ph2,sea,E6QeTF3IlJdE5ts5x8AYNH8BxzzeFqWldKB6uEnkn6hj2b...
2912,2913,4Kk6AL-ZBoqQxFu7Y_m8PVYUgv3Pfk9kKvInrz9gbNjE99E,433,153,137,False,False,False,False,ru,europe,jsLO-Y3lMcNJTHaZgduZYcypFSBJ0jQcggE3uANPOgQqqV...

In [7]:
# Dropping Unneccessary columns

champs.drop(['Nick Name', 'Role', 'Range type', 'Resourse type', 'Base HP', 'Base mana'], axis=1, inplace=True)

# Display Champs DF
champs

,Name,Classes,Release Date,Last Changed,Blue Essence,RP,Difficulty
0,Aatrox,Juggernaut,2013-06-13 00:00:00,V14.14,4800,880,Advanced
1,Ahri,Burst,2011-12-14 00:00:00,V14.18,3150,790,Intermediate
2,Akali,Assassin,2010-05-11 00:00:00,V14.18,3150,790,Expert
3,Akshan,Marksman Assassin,2021-07-22 00:00:00,V14.14,4800,880,Intermediate_Plus
4,Alistar,Vanguard,2009-02-21 00:00:00,V14.16,1350,585,Novice
...,...,...,...,...,...,...,...
163,Zeri,Marksman,2022-01-20 00:00:00,V14.18,4800,880,Intermediate_Plus
164,Ziggs,Artillery,2012-02-01 00:00:00,V14.18,4800,880,Novice
165,Zilean,Specialist,2009-04-18 00:00:00,V13.22,1350,585,Intermediate
166,Zoe,Burst,2017-11-21 00:00:00,V14.9,4800,880,Expert
167,Zyra,Catcher,2012-07-24 00:00:00,V14.15,3150,790,Intermediate_Plus

In [8]:
# Cleaning / Removing unwanted columns

match = df2[['player_teamPosition','player_champName','player_champName_ban','player_kills', 'player_deaths', 'player_assists','player_kda','player_totalMinionsKilled', 'player_gameLength','player_longestTimeSpentLiving', 'player_totalTimeSpentDead']]

#4B Display column names
match

,player_teamPosition,player_champName,player_champName_ban,player_kills,player_deaths,player_assists,player_kda,player_totalMinionsKilled,player_gameLength,player_longestTimeSpentLiving,player_totalTimeSpentDead
0,TOP,Jax,Fiora,14.0,4.0,5.0,4.750000,210.0,1834.973667,633.0,110.0
1,JUNGLE,XinZhao,Fiddlesticks,2.0,4.0,17.0,4.750000,18.0,1834.973667,1247.0,127.0
2,MIDDLE,Neeko,Volibear,2.0,6.0,16.0,3.000000,184.0,1834.973667,615.0,176.0
3,BOTTOM,Kaisa,Pyke,19.0,7.0,10.0,4.142857,229.0,1834.973667,498.0,177.0
4,UTILITY,Blitzcrank,Lux,2.0,5.0,24.0,5.200000,34.0,1834.973667,599.0,89.0
...,...,...,...,...,...,...,...,...,...,...,...
205105,TOP,Zeri,NaN,19.0,8.0,7.0,3.250000,254.0,1851.837190,358.0,308.0
205106,JUNGLE,Zyra,Karthus,7.0,7.0,15.0,3.142857,85.0,1851.837190,708.0,137.0
205107,MIDDLE,Tristana,NaN,6.0,7.0,7.0,1.857143,262.0,1851.837190,519.0,227.0
205108,BOTTOM,Ornn,Smolder,3.0,9.0,15.0,2.000000,120.0,1851.837190,296.0,251.0
205109,UTILITY,Senna,Lillia,9.0,7.0,22.0,4.428571,36.0,1851.837190,473.0,204.0

In [9]:
# Rename match columns
match.rename(columns={'player_teamPosition' : 'Position', 'player_champName' : 'Name', 'player_champName_ban' : 'Banned Champ',
       'player_kills' : 'Kills', 'player_deaths' : 'Deaths', 'player_assists' : 'Assist', 'player_kda' : 'KDA',
       'player_totalMinionsKilled' : 'CS', 'player_gameLength' : "Game Time (s)",
       'player_longestTimeSpentLiving' : 'Longest Alive Time (s)', 'player_totalTimeSpentDead' : 'Total Time Dead (s)'}, inplace=True)

match

C:\Users\l8oni\AppData\Local\Temp\ipykernel_21280\4190348110.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  match.rename(columns={'player_teamPosition' : 'Position', 'player_champName' : 'Name', 'player_champName_ban' : 'Banned Champ',

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s)
0,TOP,Jax,Fiora,14.0,4.0,5.0,4.750000,210.0,1834.973667,633.0,110.0
1,JUNGLE,XinZhao,Fiddlesticks,2.0,4.0,17.0,4.750000,18.0,1834.973667,1247.0,127.0
2,MIDDLE,Neeko,Volibear,2.0,6.0,16.0,3.000000,184.0,1834.973667,615.0,176.0
3,BOTTOM,Kaisa,Pyke,19.0,7.0,10.0,4.142857,229.0,1834.973667,498.0,177.0
4,UTILITY,Blitzcrank,Lux,2.0,5.0,24.0,5.200000,34.0,1834.973667,599.0,89.0
...,...,...,...,...,...,...,...,...,...,...,...
205105,TOP,Zeri,NaN,19.0,8.0,7.0,3.250000,254.0,1851.837190,358.0,308.0
205106,JUNGLE,Zyra,Karthus,7.0,7.0,15.0,3.142857,85.0,1851.837190,708.0,137.0
205107,MIDDLE,Tristana,NaN,6.0,7.0,7.0,1.857143,262.0,1851.837190,519.0,227.0
205108,BOTTOM,Ornn,Smolder,3.0,9.0,15.0,2.000000,120.0,1851.837190,296.0,251.0
205109,UTILITY,Senna,Lillia,9.0,7.0,22.0,4.428571,36.0,1851.837190,473.0,204.0

In [10]:
# Sort By Positions

df2_sorted = match.groupby('Position').apply(lambda x: x.sort_values('Position'))

df2_sorted

C:\Users\l8oni\AppData\Local\Temp\ipykernel_21280\105323257.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df2_sorted = match.groupby('Position').apply(lambda x: x.sort_values('Position'))

                Position      Name Banned Champ  Kills  Deaths  Assist  \
Position
BOTTOM   3        BOTTOM     Kaisa         Pyke   19.0     7.0    10.0
         136688   BOTTOM     Kaisa        Milio    5.0     3.0    16.0
         136693   BOTTOM  Aphelios         Pyke   12.0     7.0     4.0
         136698   BOTTOM     Xayah          NaN    5.0     6.0    17.0
         136703   BOTTOM      Zeri          NaN   10.0     9.0     5.0
...                  ...       ...          ...    ...     ...     ...
UTILITY  68394   UTILITY      Lulu       Illaoi    4.0     8.0    23.0
         68399   UTILITY      Rell      Taliyah    4.0     4.0    19.0
         68404   UTILITY      Nami     Tristana    1.0     7.0    25.0
         67314   UTILITY      Rell          NaN    1.0     4.0    25.0
         205109  UTILITY     Senna       Lillia    9.0     7.0    22.0

                      KDA     CS  Game Time (s)  Longest Alive Time (s)  \
Position
BOTTOM   3       4.142857  229.0    1834.973667                   498.0
         136688  7.000000  202.0    1314.524774                   216.0
         136693  2.285714  189.0    1668.838085                   362.0
         136698  3.666667  211.0    1668.838085                   486.0
         136703  1.666667  223.0    1576.395929                   384.0
...                   ...    ...            ...                     ...
UTILITY  68394   3.375000   28.0    1508.738376                   193.0
         68399   5.750000   23.0    1508.738376                  1001.0
         68404   3.714286   16.0    1659.569352                   308.0
         67314   6.500000   13.0    1371.414923                   476.0
         205109  4.428571   36.0    1851.837190                   473.0

                 Total Time Dead (s)
Position
BOTTOM   3                     177.0
         136688                 28.0
         136693                128.0
         136698                141.0
         136703                222.0
...                              ...
UTILITY  68394                 104.0
         68399                  90.0
         68404                 130.0
         67314                  78.0
         205109                204.0

[205024 rows x 11 columns]

In [ ]:
# Sort By Positions

df2_sorted = match.groupby('Position').apply(lambda x: x.sort_values('Position'))

df2_sorted

C:\Users\l8oni\AppData\Local\Temp\ipykernel_21280\105323257.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df2_sorted = match.groupby('Position').apply(lambda x: x.sort_values('Position'))

                Position      Name Banned Champ  Kills  Deaths  Assist  \
Position
BOTTOM   3        BOTTOM     Kaisa         Pyke   19.0     7.0    10.0
         136688   BOTTOM     Kaisa        Milio    5.0     3.0    16.0
         136693   BOTTOM  Aphelios         Pyke   12.0     7.0     4.0
         136698   BOTTOM     Xayah          NaN    5.0     6.0    17.0
         136703   BOTTOM      Zeri          NaN   10.0     9.0     5.0
...                  ...       ...          ...    ...     ...     ...
UTILITY  68394   UTILITY      Lulu       Illaoi    4.0     8.0    23.0
         68399   UTILITY      Rell      Taliyah    4.0     4.0    19.0
         68404   UTILITY      Nami     Tristana    1.0     7.0    25.0
         67314   UTILITY      Rell          NaN    1.0     4.0    25.0
         205109  UTILITY     Senna       Lillia    9.0     7.0    22.0

                      KDA     CS  Game Time (s)  Longest Alive Time (s)  \
Position
BOTTOM   3       4.142857  229.0    1834.973667                   498.0
         136688  7.000000  202.0    1314.524774                   216.0
         136693  2.285714  189.0    1668.838085                   362.0
         136698  3.666667  211.0    1668.838085                   486.0
         136703  1.666667  223.0    1576.395929                   384.0
...                   ...    ...            ...                     ...
UTILITY  68394   3.375000   28.0    1508.738376                   193.0
         68399   5.750000   23.0    1508.738376                  1001.0
         68404   3.714286   16.0    1659.569352                   308.0
         67314   6.500000   13.0    1371.414923                   476.0
         205109  4.428571   36.0    1851.837190                   473.0

                 Total Time Dead (s)
Position
BOTTOM   3                     177.0
         136688                 28.0
         136693                128.0
         136698                141.0
         136703                222.0
...                              ...
UTILITY  68394                 104.0
         68399                  90.0
         68404                 130.0
         67314                  78.0
         205109                204.0

[205024 rows x 11 columns]

In [ ]:
# Merge Sorted Lanes and Champ information

merged_df = pd.merge(df2_sorted, champs, on='Name')

merged_df

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Longest Alive Time (s),Total Time Dead (s),Classes,Release Date,Last Changed,Blue Essence,RP,Difficulty
0,BOTTOM,Aphelios,Pyke,12.0,7.0,4.0,2.285714,189.0,1668.838085,362.0,128.0,Marksman,2019-12-11 00:00:00,V14.14,4800,880,Expert
1,BOTTOM,Xayah,NaN,5.0,6.0,17.0,3.666667,211.0,1668.838085,486.0,141.0,Marksman,2017-04-19 00:00:00,V14.14,4800,880,Intermediate
2,BOTTOM,Zeri,NaN,10.0,9.0,5.0,1.666667,223.0,1576.395929,384.0,222.0,Marksman,2022-01-20 00:00:00,V14.18,4800,880,Intermediate_Plus
3,BOTTOM,Samira,Nilah,17.0,9.0,8.0,2.777778,210.0,1576.395929,271.0,213.0,Marksman,2020-09-21 00:00:00,V14.18,3150,790,Expert
4,BOTTOM,Zeri,Yasuo,1.0,5.0,0.0,0.200000,131.0,982.830599,188.0,48.0,Marksman,2022-01-20 00:00:00,V14.18,4800,880,Intermediate_Plus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177569,UTILITY,Lulu,Illaoi,4.0,8.0,23.0,3.375000,28.0,1508.738376,193.0,104.0,Enchanter,2012-03-20 00:00:00,V14.18,4800,880,Novice
177570,UTILITY,Rell,Taliyah,4.0,4.0,19.0,5.750000,23.0,1508.738376,1001.0,90.0,Vanguard,2020-12-10 00:00:00,V14.18,4800,880,Intermediate
177571,UTILITY,Nami,Tristana,1.0,7.0,25.0,3.714286,16.0,1659.569352,308.0,130.0,Enchanter,2012-12-07 00:00:00,V14.11,3150,790,Intermediate
177572,UTILITY,Rell,NaN,1.0,4.0,25.0,6.500000,13.0,1371.414923,476.0,78.0,Vanguard,2020-12-10 00:00:00,V14.18,4800,880,Intermediate
177573,UTILITY,Senna,Lillia,9.0,7.0,22.0,4.428571,36.0,1851.837190,473.0,204.0,Marksman Enchanter,2019-11-10 00:00:00,V14.16,3150,790,Advanced