In [1]:
# 1 Importing Pandas

import pandas as pd

# Display max columns (watch out for match df over 200K rows)
#pd.set_option('display.max_rows', None)

In [2]:
# 2 Loading Data Sets

champs = df1= pd.read_excel("Data-Sets/Champions-2024.xlsx",).round(1)
match = df2 = pd.read_csv("Data-Sets/lol_match_data.csv",).round(1)
#main_event = df3 = pd.read_csv("Data-Sets/champions.csv",)
#swiss_stage = df4 = pd.read_csv("Data-Sets/lol_player_data.csv",)

In [ ]:
# 2A Champion Details (Can Skip)
# https://www.kaggle.com/datasets/gabkgonzales/league-of-legends-dataset

#Investigate NaN values for champs 'Role' need to display all
champs

In [ ]:
# 2B Match Data (Can Skip)
# Link - https://www.kaggle.com/datasets/mldatastudent/league-of-legends-match-data (Big File)

#Investigate NaN values for champs 'Role' need to display all
match

In [ ]:
# 2C 2024 Main Event Champion Latest Stats (Can Skip)
# https://www.kaggle.com/datasets/anmatngu/league-of-legends-worlds-2024-swiss-stage-stats

#main_event

In [ ]:
# 2D 2024 (Can Skip)
# 

#swiss_stage

In [3]:
# 3 Updating Difficulity & Data Cleaning of champs df
# Dropping 8 Columns from champions df(cleaning)

# Count the occurrences for each value in 'Difficulty'
champ_difficulity_count = champs['Difficulty'].value_counts()

# Assigning Difficulty levels based on 1-6

champs['Difficulty'] = champs['Difficulty'].replace({'Beginner' : '1',
                                                     'Novice' : '2',
                                                     'Intermediate' : '3',
                                                     'Intermediate_Plus' : '4',
                                                     'Advanced' : '5',
                                                     'Expert' : '6',
                                                     })

# Count Difficulity Levels (1-6)
champ_difficulity_count = champs['Difficulty'].value_counts()

champ_difficulity_count

champs.drop(['Nick Name',  
             'Range type', 
             'Resourse type', 
             'Base HP', 
             'Base mana',
             'Classes'], axis=1, inplace=True)

# Slicing secondary roles from Role column
champs['Role'] = champs['Role'].str.split(',').str[0]

# Sliced 'Release Date' to remove HH:MM:SS
champs['Release Date'] = pd.to_datetime(champs['Release Date'], errors='coerce')

champs['Release Date'] = pd.to_datetime(champs['Release Date'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

# Convert 'Release Date' to datetime
champs['Release Date'] = pd.to_datetime(champs['Release Date'], errors='coerce')

# Reformat 'Release Date' to MM/DD/YYYY format
champs['Release Date'] = champs['Release Date'].dt.strftime('%m/%d/%Y')

# Rearranging champs df 
champs = champs[['Name', 
               'Role', 
               'Difficulty',
               'Release Date', 
               'Last Changed', 
               'RP', 
               'Blue Essence',]]

# Replace mis-match names with punctation within name or spaces needed
champs['Name'] = champs['Name'].replace({'Dr. mundo': "Dr. Mundo",
                                               'Chogath' : "Cho'Gath",
                                               'Dr. mundo' : 'Dr. Mundo',
                                               'Jarvan Iv' : 'Jarvan IV',
                                               "KSante" : "K'Sante",
                                               "Kaisa" : "Kai'Sa",
                                               'Khazix' : "Kha'Zix",
                                               'KogMaw' : "Kog'Maw",
                                               'LeeSin' : "Lee Sin",
                                               'MasterYi' : 'Master Yi ',
                                               'MissFortune' : 'Miss Fortune ',
                                               'Nunu' : 'Nunu & Willump',
                                               'RekSai' : "Rek'Sai",
                                               'Renata' : 'Renata Glasc',
                                               'TahmKench' : 'Tahm Kench ',
                                               'TwistedFate' : 'Twisted Fate',
                                               'Velkoz' : "Vel'Koz",
                                               'MonkeyKing' : 'Wukong',
                                               'XinZhao' : 'Xin Zhao'})

champs

        Name     Role Difficulty Release Date Last Changed   RP  Blue Essence
0     Aatrox      Top          5   06/13/2013       V14.14  880          4800
1       Ahri   Middle          3   12/14/2011       V14.18  790          3150
2      Akali      Top          6   05/11/2010       V14.18  790          3150
3     Akshan   Middle          4   07/22/2021       V14.14  880          4800
4    Alistar  Support          2   02/21/2009       V14.16  585          1350
..       ...      ...        ...          ...          ...  ...           ...
163     Zeri   Bottom          4   01/20/2022       V14.18  880          4800
164    Ziggs   Bottom          2   02/01/2012       V14.18  880          4800
165   Zilean  Support          3   04/18/2009       V13.22  585          1350
166      Zoe   Middle          6   11/21/2017        V14.9  880          4800
167     Zyra  Support          4   07/24/2012       V14.15  790          3150

[168 rows x 7 columns]

In [4]:
# Figure out different values for "Blue Essence" & "RP"

blue_essence_count = champs['Blue Essence'].value_counts()

champs_rp_count = champs['RP'].value_counts

# Count the occurrences for each value in 'Blue Essence' and 'RP'

blue_essence_count = champs['Blue Essence'].value_counts()

champs_rp_count = champs['RP'].value_counts()

# Display the results

blue_essence_count

champs_rp_count

RP
880    57
790    47
585    32
260    26
975     6
Name: count, dtype: int64

In [5]:
# 4 Cleaning / Removing unwanted columns for match df
# Dropping 99 columns retaining 9 columns from match df

match = df2[['player_teamPosition',
            'player_champName',
            'player_champName_ban',
            'player_kills', 
            'player_deaths', 
            'player_assists',
            'player_kda',
            'player_totalMinionsKilled', 
            'player_gameLength',]]

match

# 5 Creating copy of match(df)
match = match.copy()

# 5A Rename match columns to make key 'Name' for df merge (see #7)
match.rename(columns={'player_teamPosition' : 'Position', 
                     'player_champName' : 'Name', 
                     'player_champName_ban' : 'Banned Champ',
                     'player_kills' : 'Kills',
                     'player_deaths' : 'Deaths', 
                     'player_assists' : 'Assist', 
                     'player_kda' : 'KDA',
                     'player_totalMinionsKilled' : 'CS', 
                     'player_gameLength' : "Game Time (s)",}, inplace=True)

# Replace mis-match names with punctation within name or spaces needed
match['Name'] = match['Name'].replace({'AurelionSol': 'Aurelion Sol', 
                                               'Belveth': "Bel'Veth",# v
                                               'Chogath' : "Cho'Gath",
                                               'DrMundo' : 'Dr. Mundo',#M
                                               'JarvanIV' : 'Jarvan IV',#v
                                               "KSante" : "K'Sante",#S
                                               "Kaisa" : "Kai'Sa",#S
                                               'Khazix' : "Kha'Zix",#Z
                                               "Kog'Maw" : "Kog'Maw",
                                               'LeeSin' : "Lee Sin",
                                               'Master Yi ' : 'Master Yi',
                                               'Miss Fortune ' : 'Miss Fortune' ,
                                               'Nunu' : 'Nunu & Willump',
                                               'RekSai' : "Rek'Sai",
                                               'Renata' : 'Renata Glasc',
                                               'Tahm Kench ' : 'Tahm Kench' ,
                                               'TwistedFate' : 'Twisted Fate',
                                               'Velkoz' : "Vel'Koz",
                                               'MonkeyKing' : 'Wukong',
                                               'XinZhao' : 'Xin Zhao'})

# Display the modified DataFrame
print(match)

# Converting Game Time to MM:SS format
#match['Game Time (s)'] = match['Game Time (s)'].apply(lambda x: str(int((x % 3600) // 60)).zfill(2) + ':' + str(int(x % 60)).zfill(2))

# Changing Game Time (s) to Game Time ()
# testing due to total errors
#match.rename(columns={'Game Time (s)' : 'Game Time (MM:SS)',}, inplace=True)

match

       Position        Name  Banned Champ  Kills  Deaths  Assist  KDA     CS  \
0           TOP         Jax         Fiora   14.0     4.0     5.0  4.8  210.0
1        JUNGLE    Xin Zhao  Fiddlesticks    2.0     4.0    17.0  4.8   18.0
2        MIDDLE       Neeko      Volibear    2.0     6.0    16.0  3.0  184.0
3        BOTTOM      Kai'Sa          Pyke   19.0     7.0    10.0  4.1  229.0
4       UTILITY  Blitzcrank           Lux    2.0     5.0    24.0  5.2   34.0
...         ...         ...           ...    ...     ...     ...  ...    ...
205105      TOP        Zeri           NaN   19.0     8.0     7.0  3.2  254.0
205106   JUNGLE        Zyra       Karthus    7.0     7.0    15.0  3.1   85.0
205107   MIDDLE    Tristana           NaN    6.0     7.0     7.0  1.9  262.0
205108   BOTTOM        Ornn       Smolder    3.0     9.0    15.0  2.0  120.0
205109  UTILITY       Senna        Lillia    9.0     7.0    22.0  4.4   36.0

        Game Time (s)
0              1835.0
1              1835.0
2              1835.0
3              1835.0
4              1835.0
...               ...
205105         1851.8
205106         1851.8
205107         1851.8
205108         1851.8
205109         1851.8

[205110 rows x 9 columns]

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s)
0,TOP,Jax,Fiora,14.0,4.0,5.0,4.8,210.0,1835.0
1,JUNGLE,Xin Zhao,Fiddlesticks,2.0,4.0,17.0,4.8,18.0,1835.0
2,MIDDLE,Neeko,Volibear,2.0,6.0,16.0,3.0,184.0,1835.0
3,BOTTOM,Kai'Sa,Pyke,19.0,7.0,10.0,4.1,229.0,1835.0
4,UTILITY,Blitzcrank,Lux,2.0,5.0,24.0,5.2,34.0,1835.0
...,...,...,...,...,...,...,...,...,...
205105,TOP,Zeri,NaN,19.0,8.0,7.0,3.2,254.0,1851.8
205106,JUNGLE,Zyra,Karthus,7.0,7.0,15.0,3.1,85.0,1851.8
205107,MIDDLE,Tristana,NaN,6.0,7.0,7.0,1.9,262.0,1851.8
205108,BOTTOM,Ornn,Smolder,3.0,9.0,15.0,2.0,120.0,1851.8
205109,UTILITY,Senna,Lillia,9.0,7.0,22.0,4.4,36.0,1851.8

In [6]:
# Get the count of each champion picked (based on 'Name' column)
match_champ_count = match['Name'].value_counts()

# Display the results

match_champ_count

Name
Ezreal          6897
Kai'Sa          6729
Zeri            5586
Leona           4326
Rell            3934
                ...
Vel'Koz          180
Singed           169
Heimerdinger     163
Trundle          131
Yorick            83
Name: count, Length: 168, dtype: int64

In [7]:
# 6 Sort by Position and then by the desired column, if needed
match_sorted = match.sort_values(by=['Position'])

# Display the sorted dataframe
match_sorted

# Name sort to pick up NaN values for Positions
name_sorted = match.sort_values(by=['Name'])

name_sorted

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s)
49610,TOP,Aatrox,LeBlanc,7.0,10.0,6.0,1.3,219.0,2104.9
12645,TOP,Aatrox,Nautilus,3.0,9.0,3.0,0.7,276.0,2385.6
167025,TOP,Aatrox,Aurora,0.0,7.0,1.0,0.1,87.0,912.4
179200,TOP,Aatrox,Hecarim,10.0,4.0,2.0,3.0,192.0,1285.2
167010,TOP,Aatrox,Leona,12.0,10.0,3.0,1.5,106.0,1319.7
...,...,...,...,...,...,...,...,...,...
137651,JUNGLE,Zyra,LeBlanc,0.0,1.0,0.0,0.0,0.0,353.8
20681,JUNGLE,Zyra,LeBlanc,0.0,4.0,3.0,0.8,9.0,920.9
107355,JUNGLE,Zyra,Ezreal,1.0,5.0,10.0,2.2,8.0,1111.6
42736,JUNGLE,Zyra,NaN,6.0,2.0,16.0,11.0,31.0,1437.5
5336,JUNGLE,Zyra,NaN,13.0,5.0,16.0,5.8,39.0,1723.2

In [8]:

# 7 Merge Sorted Lanes and Champ information
# change how type from left to right
merged_df = pd.merge(match_sorted, champs, on='Name', how='left')

# Merge Sorted Names and Champ information (picked up NaN values not in 'merged df')
name_df = pd.merge(match_sorted, champs, on='Name', how='left')

In [11]:
# Groupby 'Name' Column and count the number of times each champ has been played
merged_df_count = merged_df.groupby('Name').agg(
    Count=('Name', 'count'),
    Kills=('Kills', 'sum'),
    Deaths=('Deaths', 'sum'),
    Assist=('Assist', 'sum'),
    Game_Time=('Game Time (s)', 'sum')
)

# Function to convert total seconds to DD:HH:MM:SS format
def seconds_to_dhms(seconds):
    days = seconds // 86400  # 86400 seconds in a day
    hours = (seconds % 86400) // 3600  # 3600 seconds in an hour
    minutes = (seconds % 3600) // 60  # 60 seconds in a minute
    sec = seconds % 60  # Remaining seconds
    
    # Return formatted string in DD:HH:MM:SS
    return f"{int(days)}d {int(hours):02d}h {int(minutes):02d}m {int(sec):02d}s"

# Apply function to the 'Game_Time' column
merged_df_count['Game_Time'] = merged_df_count['Game_Time'].apply(seconds_to_dhms)

# Display updated dataframe
print(merged_df_count)

         Count    Kills   Deaths   Assist        Game_Time
Name
Aatrox    2105   9578.0  11049.0   9878.0  36d 16h 00m 44s
Ahri      1067   5519.0   4490.0   7625.0  18d 09h 24m 07s
Akali     1313   8391.0   6598.0   5473.0  22d 21h 24m 20s
Akshan     744   5405.0   3546.0   4170.0  13d 01h 54m 02s
Alistar   2379   3249.0  12779.0  31298.0  40d 20h 15m 39s
...        ...      ...      ...      ...              ...
Zeri      5586  35807.0  26942.0  33032.0  96d 10h 49m 43s
Ziggs      747   3610.0   3388.0   5094.0  12d 23h 31m 43s
Zilean     383    661.0   1644.0   4501.0   6d 19h 48m 02s
Zoe        591   3713.0   2671.0   4411.0  10d 12h 40m 08s
Zyra      1650   7545.0   7683.0  15138.0  29d 04h 15m 09s

[168 rows x 5 columns]

In [ ]:
# Testing
test_time = merged_df_count.loc['Zoe', 'Game_Time']

In [ ]:
# Testing
test_time

In [12]:
#pd.set_option('display.max_rows', None)

# 8 Groupby 'Name' Column and count each time a champ has been played
merged_df_count = merged_df.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(merged_df_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
# Convert Game_Time to HH:MM:SS formart

merged_df_count = merged_df.groupby('Name').agg(Count=('Name', 'count'), 
                                        Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))

merged_df_count

         Count
Name
Aatrox    2105
Ahri      1067
Akali     1313
Akshan     744
Alistar   2379
...        ...
Zeri      5586
Ziggs      747
Zilean     383
Zoe        591
Zyra      1650

[168 rows x 1 columns]

         Count    Kills   Deaths   Assist  Game_Time
Name
Aatrox    2105   9578.0  11049.0   9878.0  3168044.2
Ahri      1067   5519.0   4490.0   7625.0  1589047.3
Akali     1313   8391.0   6598.0   5473.0  1977860.7
Akshan     744   5405.0   3546.0   4170.0  1130042.6
Alistar   2379   3249.0  12779.0  31298.0  3528939.4
...        ...      ...      ...      ...        ...
Zeri      5586  35807.0  26942.0  33032.0  8333383.4
Ziggs      747   3610.0   3388.0   5094.0  1121503.4
Zilean     383    661.0   1644.0   4501.0   589682.7
Zoe        591   3713.0   2671.0   4411.0   909608.3
Zyra      1650   7545.0   7683.0  15138.0  2520909.5

[168 rows x 5 columns]

In [13]:
#df.set_option('display.max_rows', None)

# 9 Groupby 'Banned Champ' column and count each time a champ has been banned
merged_df_banned_count = merged_df.groupby('Banned Champ').agg(Count=('Name', 'count'))

# Sort to get top 50 banned champs
top50_merged_banned = merged_df_banned_count.sort_values('Count', ascending=False)#.head(50)

# Reset index to make 'Banned Champ' a column
top50_merged_banned = top50_merged_banned.reset_index()

# Rename the columns to 'Name' and 'Count'
top50_merged_banned = top50_merged_banned.rename(columns={'Banned Champ': 'Name'})

# Display the result
top50_merged_banned

# Attach lane 
top50_merged_banned = pd.merge(top50_merged_banned, champs, on='Name', how='right')

# Dropping all columns but Name, Count, and Role
top50_merged_banned = top50_merged_banned[['Name',
                                           'Count',
                                           'Role',]]
# Top 50
top50_merged_banned.head(50)

            Name   Count     Role
0         Aatrox  1130.0      Top
1           Ahri   468.0   Middle
2          Akali  1251.0      Top
3         Akshan  1806.0   Middle
4        Alistar   672.0  Support
5          Amumu   185.0   Jungle
6         Anivia   189.0   Middle
7          Annie    68.0   Middle
8       Aphelios   201.0   Bottom
9           Ashe  3981.0   Bottom
10  Aurelion Sol   179.0   Middle
11        Aurora  8173.0   Middle
12          Azir   181.0   Middle
13          Bard   164.0  Support
14      Bel'veth     NaN   Jungle
15    Blitzcrank  1935.0  Support
16         Brand  2266.0   Jungle
17         Braum  1100.0  Support
18         Briar   292.0   Jungle
19       Caitlyn  1392.0   Bottom
20       Camille  1173.0      Top
21    Cassiopeia   686.0   Middle
22      Cho'gath     NaN      Top
23         Corki  1561.0   Middle
24        Darius  1521.0      Top
25         Diana   200.0   Jungle
26     Dr. Mundo   214.0   Bottom
27        Draven  7846.0      Top
28          Ekko   305.0   Jungle
29         Elise   304.0   Jungle
30       Evelynn   826.0   Jungle
31        Ezreal  5631.0   Bottom
32  Fiddlesticks   525.0   Jungle
33         Fiora  1862.0      Top
34          Fizz   169.0   Middle
35         Galio   122.0   Middle
36     Gangplank    60.0      Top
37         Garen   298.0      Top
38          Gnar   207.0      Top
39        Gragas   431.0   Jungle
40        Graves   482.0   Jungle
41          Gwen   365.0      Top
42       Hecarim  1843.0   Jungle
43  Heimerdinger    59.0  Support
44          Hwei  1935.0   Middle
45        Illaoi   281.0      Top
46        Irelia  1039.0      Top
47         Ivern   456.0   Jungle
48         Janna  1367.0  Support
49     Jarvan IV   203.0   Jungle

In [14]:
merged_df_count['Game_Time'] = pd.to_numeric(merged_df_count['Game_Time'], errors='coerce')


merged_df_count['Game_Time'] = merged_df_count['Game_Time'].apply(
    lambda x: str(int(x // 86400)) + 'd ' + 
              str(int((x % 86400) // 3600)).zfill(2) + 'h ' + 
              str(int((x % 3600) // 60)).zfill(2) + 'm ' + 
              str(int(x % 60)).zfill(2) + 's' if pd.notna(x) else 'NaN'
)


merged_df_count.rename(columns={
    'Kills': 'Kills(Total)', 
    'Deaths': 'Deaths(Total)', 
    'Assist': 'Assist(Total)',
    'Game_Time': 'Game_Time(Total)', 
}, inplace=True)

# Display the result
print(merged_df_count)

         Count  Kills(Total)  Deaths(Total)  Assist(Total) Game_Time(Total)
Name
Aatrox    2105        9578.0        11049.0         9878.0  36d 16h 00m 44s
Ahri      1067        5519.0         4490.0         7625.0  18d 09h 24m 07s
Akali     1313        8391.0         6598.0         5473.0  22d 21h 24m 20s
Akshan     744        5405.0         3546.0         4170.0  13d 01h 54m 02s
Alistar   2379        3249.0        12779.0        31298.0  40d 20h 15m 39s
...        ...           ...            ...            ...              ...
Zeri      5586       35807.0        26942.0        33032.0  96d 10h 49m 43s
Ziggs      747        3610.0         3388.0         5094.0  12d 23h 31m 43s
Zilean     383         661.0         1644.0         4501.0   6d 19h 48m 02s
Zoe        591        3713.0         2671.0         4411.0  10d 12h 40m 08s
Zyra      1650        7545.0         7683.0        15138.0  29d 04h 15m 09s

[168 rows x 5 columns]

In [15]:
# 11 Groupby 'Name' Column and count each time a champ has been played
merged_df_mean = merged_df.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(merged_df_mean)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
merged_df_mean = merged_df.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

merged_df_mean.round(1)

merged_df_mean.rename(columns={
    'Kills': 'Kills(Mean)', 
    'Deaths': 'Deaths(Mean)', 
    'Assist': 'Assist(Mean)',
    'Game_Time': 'Game_Time(Mean)',
    'KDA' : 'KDA(Mean)' 
}, inplace=True)

         Count
Name
Aatrox    2105
Ahri      1067
Akali     1313
Akshan     744
Alistar   2379
...        ...
Zeri      5586
Ziggs      747
Zilean     383
Zoe        591
Zyra      1650

[168 rows x 1 columns]

In [16]:
# 13 Merge Sorted Lanes and Champ information
merged_count_mean = pd.merge(merged_df_count, merged_df_mean, on='Name', how='left')

# Convert 'Game_Time(Mean)' to MM:SS format
merged_count_mean['Game_Time(Mean)'] = merged_count_mean['Game_Time(Mean)'].apply(
    lambda x: str(int(x // 60)).zfill(2) + 'm ' + 
              str(int(x % 60)).zfill(2) + 's' if pd.notna(x) else 'NaN')

# Display the merged DataFrame
merged_count_mean

,Count,Kills(Total),Deaths(Total),Assist(Total),Game_Time(Total),Kills(Mean),Deaths(Mean),Assist(Mean),KDA(Mean),Game_Time(Mean)
Name,,,,,,,,,,
Aatrox,2105,9578.0,11049.0,9878.0,36d 16h 00m 44s,4.550119,5.248931,4.692637,2.495439,25m 05s
Ahri,1067,5519.0,4490.0,7625.0,18d 09h 24m 07s,5.172446,4.208060,7.146204,4.113590,24m 49s
Akali,1313,8391.0,6598.0,5473.0,22d 21h 24m 20s,6.390708,5.025133,4.168317,2.937700,25m 06s
Akshan,744,5405.0,3546.0,4170.0,13d 01h 54m 02s,7.264785,4.766129,5.604839,3.864785,25m 18s
Alistar,2379,3249.0,12779.0,31298.0,40d 20h 15m 39s,1.365700,5.371585,13.155948,3.878142,24m 43s
...,...,...,...,...,...,...,...,...,...,...
Zeri,5586,35807.0,26942.0,33032.0,96d 10h 49m 43s,6.410132,4.823129,5.913355,3.702166,24m 51s
Ziggs,747,3610.0,3388.0,5094.0,12d 23h 31m 43s,4.832664,4.535475,6.819277,3.656359,25m 01s
Zilean,383,661.0,1644.0,4501.0,6d 19h 48m 02s,1.725849,4.292428,11.751958,4.667363,25m 39s
Zoe,591,3713.0,2671.0,4411.0,10d 12h 40m 08s,6.282572,4.519459,7.463621,4.495431,25m 39s
Zyra,1650,7545.0,7683.0,15138.0,29d 04h 15m 09s,4.572727,4.656364,9.174545,4.341030,25m 27s

In [17]:
# 14 Rearranging Total & Average Dataframe
# fix 'Game_Time(Mean)'
merged_count_mean = merged_count_mean[['Kills(Total)','Kills(Total)', 'Deaths(Total)', 'Deaths(Total)', 'Assist(Total)', 'Assist(Mean)', 'KDA(Mean)', 'Game_Time(Mean)']]#removed(mean)

# KDA Leader (Mean)
kda_kill_leaders = merged_count_mean.sort_values('KDA(Mean)', ascending=False)

kda_kill_leaders

,Kills(Total),Kills(Total),Deaths(Total),Deaths(Total),Assist(Total),Assist(Mean),KDA(Mean),Game_Time(Mean)
Name,,,,,,,,
Yuumi,559.0,559.0,1567.0,1567.0,6328.0,13.492537,6.627719,24m 09s
Ivern,1588.0,1588.0,2399.0,2399.0,8532.0,12.658754,6.444659,24m 39s
Jarvan IV,5389.0,5389.0,5004.0,5004.0,11884.0,11.383142,5.300958,25m 01s
Nidalee,21556.0,21556.0,13477.0,13477.0,25342.0,7.961671,5.289947,24m 29s
Janna,1826.0,1826.0,5342.0,5342.0,17401.0,13.385385,5.221615,25m 07s
...,...,...,...,...,...,...,...,...
Irelia,7698.0,7698.0,8536.0,8536.0,5852.0,4.350929,2.190335,25m 03s
Mordekaiser,1672.0,1672.0,2073.0,2073.0,1494.0,3.860465,2.121705,24m 30s
Trundle,440.0,440.0,658.0,658.0,536.0,4.091603,2.100000,24m 09s
Yorick,286.0,286.0,395.0,395.0,283.0,3.409639,2.067470,25m 23s
Illaoi,1040.0,1040.0,1391.0,1391.0,1067.0,4.167969,2.048437,25m 34s

In [18]:
# 15 Sort Values by highest (Count) "Kills, Deaths, Assist, etc"

# Kills
merged_kills_count = merged_df_count.sort_values(by='Kills(Total)', ascending=False)

# Deaths
merged_deaths_count = merged_df_count.sort_values(by='Deaths(Total)', ascending=False)

# Assist
merged_assist_count = merged_df_count.sort_values(by='Assist(Total)', ascending=False)

In [19]:
# 16 Sort Values by highest (Mean)"Kills, Deaths, Assist, etc"

# Kills
merged_kills_mean = merged_df_mean.sort_values(by='Kills(Mean)', ascending=False)

# Deaths
merged_deaths_mean = merged_df_mean.sort_values(by='Deaths(Mean)', ascending=False)

# Assist
merged_assist_mean = merged_df_mean.sort_values(by='Assist(Mean)', ascending=False)

In [ ]:
# fix everthing above before proceeding (12/09)

In [20]:
# 17 Top Data Frame

TOP = merged_df[merged_df['Position'].isin(['TOP'])]

TOP

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Role,Difficulty,Release Date,Last Changed,RP,Blue Essence
123013,TOP,Renekton,Draven,6.0,5.0,8.0,2.8,254.0,1883.4,Top,2,01/18/2011,V14.13,880.0,4800.0
123014,TOP,Gwen,Draven,2.0,8.0,1.0,0.4,109.0,1149.2,Top,2,04/15/2021,V14.9,880.0,4800.0
123015,TOP,Zac,Master Yi,1.0,2.0,0.0,0.5,154.0,1093.8,Jungle,2,03/29/2013,V14.13,880.0,4800.0
123016,TOP,Nocturne,Kai'Sa,3.0,7.0,4.0,1.0,128.0,1376.1,Jungle,1,03/15/2011,V14.9,790.0,3150.0
123017,TOP,Garen,NaN,12.0,2.0,6.0,9.0,205.0,1647.8,Top,1,04/27/2010,V14.9,260.0,450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164011,TOP,Aatrox,Draven,2.0,3.0,2.0,1.3,169.0,1402.0,Top,5,06/13/2013,V14.14,880.0,4800.0
164012,TOP,Aatrox,Illaoi,7.0,7.0,1.0,1.1,140.0,1414.2,Top,5,06/13/2013,V14.14,880.0,4800.0
164013,TOP,Gangplank,Vladimir,4.0,9.0,8.0,1.3,171.0,1665.6,Top,6,08/19/2009,V14.13,790.0,3150.0
164014,TOP,Riven,Ezreal,7.0,5.0,7.0,2.8,174.0,1567.4,Top,6,09/14/2011,V14.2,880.0,4800.0
164015,TOP,Riven,Pyke,10.0,9.0,5.0,1.7,238.0,1916.5,Top,6,09/14/2011,V14.2,880.0,4800.0

In [24]:
# 18 Groupby 'Name' Column and count each time a champ has been played
top_count = TOP.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(top_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
top_count = TOP.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(top_count)

# Kills
top_count_kills = top_count.sort_values(by='Kills', ascending=False)

# Deaths
top_count_deaths = top_count.sort_values(by='Deaths', ascending=False)

# Assist
top_count_assists = top_count.sort_values(by='Assist', ascending=False)

         Count
Name
Aatrox    2050
Ahri        16
Akali      553
Akshan     109
Alistar      5
...        ...
Zeri       196
Ziggs        3
Zilean      21
Zoe          9
Zyra         1

[160 rows x 1 columns]
          Kills   Deaths  Assist     KDA  Game_Time
Name
Aatrox   9265.0  10718.0  9540.0  5109.8  3085312.7
Ahri       58.0     72.0    75.0    36.8    23529.7
Akali    3177.0   2982.0  2141.0  1330.8   840579.5
Akshan    626.0    545.0   545.0   296.3   166631.8
Alistar     8.0     16.0    59.0    23.6     8116.4
...         ...      ...     ...     ...        ...
Zeri     1056.0   1091.0   944.0   523.2   298330.5
Ziggs      18.0     19.0    20.0     6.4     5103.6
Zilean     48.0     84.0   208.0    80.3    32724.9
Zoe        35.0     46.0    34.0    24.3    12261.9
Zyra        3.0      9.0     8.0     1.2     1410.6

[160 rows x 5 columns]

In [25]:
# 19 Groupby 'Name' Column and count each time a champ has been played
top_sum = TOP.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(top_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
top_sum = TOP.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(top_sum)

         Count
Name
Aatrox    2050
Ahri        16
Akali      553
Akshan     109
Alistar      5
...        ...
Zeri       196
Ziggs        3
Zilean      21
Zoe          9
Zyra         1

[160 rows x 1 columns]
            Kills    Deaths     Assist       KDA    Game_Time
Name
Aatrox   4.519512  5.228293   4.653659  2.492585  1505.030585
Ahri     3.625000  4.500000   4.687500  2.300000  1470.606250
Akali    5.745027  5.392405   3.871609  2.406510  1520.035262
Akshan   5.743119  5.000000   5.000000  2.718349  1528.732110
Alistar  1.600000  3.200000  11.800000  4.720000  1623.280000
...           ...       ...        ...       ...          ...
Zeri     5.387755  5.566327   4.816327  2.669388  1522.094388
Ziggs    6.000000  6.333333   6.666667  2.133333  1701.200000
Zilean   2.285714  4.000000   9.904762  3.823810  1558.328571
Zoe      3.888889  5.111111   3.777778  2.700000  1362.433333
Zyra     3.000000  9.000000   8.000000  1.200000  1410.600000

[160 rows x 5 columns]

In [26]:
# 20 JUNGLE Data Frame

JUNGLE = merged_df[merged_df['Position'].isin(['JUNGLE'])]

JUNGLE

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Role,Difficulty,Release Date,Last Changed,RP,Blue Essence
41007,JUNGLE,Lee Sin,Rumble,4.0,1.0,8.0,12.0,5.0,1138.7,Jungle,6,04/01/2011,V14.14,585.0,1350.0
41008,JUNGLE,Shyvana,Rell,11.0,3.0,11.0,7.3,40.0,1472.7,Jungle,1,11/01/2011,V14.15,790.0,3150.0
41009,JUNGLE,Brand,Rengar,15.0,6.0,17.0,5.3,38.0,2040.6,Jungle,2,04/12/2011,V14.14,260.0,450.0
41010,JUNGLE,Brand,Varus,5.0,7.0,11.0,2.3,32.0,1780.4,Jungle,2,04/12/2011,V14.14,260.0,450.0
41011,JUNGLE,Jarvan IV,Draven,5.0,9.0,9.0,1.6,22.0,1820.3,Jungle,2,03/01/2011,V14.18,790.0,3150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82008,JUNGLE,Graves,Rumble,9.0,2.0,13.0,11.0,42.0,1568.5,Jungle,3,10/19/2011,V14.13,880.0,4800.0
82009,JUNGLE,Jarvan IV,Talon,3.0,2.0,17.0,10.0,25.0,1808.7,Jungle,2,03/01/2011,V14.18,790.0,3150.0
82010,JUNGLE,Xin Zhao,Vladimir,0.0,7.0,8.0,1.1,30.0,1848.9,Jungle,2,07/13/2010,V14.18,585.0,1350.0
82011,JUNGLE,Lillia,LeBlanc,1.0,4.0,2.0,0.8,12.0,916.4,Jungle,6,07/22/2020,V14.18,880.0,4800.0
82012,JUNGLE,Gragas,NaN,12.0,3.0,10.0,7.3,29.0,1616.7,Jungle,3,02/02/2010,V14.13,790.0,3150.0

In [27]:
# 21 Groupby 'Name' Column and count each time a champ has been played
jungle_count = JUNGLE.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(jungle_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
jungle_count = JUNGLE.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(jungle_count)

         Count
Name
Aatrox       3
Ahri         1
Akali        2
Akshan       2
Alistar      1
...        ...
Zac        641
Zed        169
Zeri        23
Ziggs        1
Zyra      1491

[125 rows x 1 columns]
          Kills  Deaths   Assist     KDA  Game_Time
Name
Aatrox      9.0    29.0     24.0     3.6     5270.2
Ahri        0.0     1.0      0.0     0.0      224.7
Akali       0.0     0.0      0.0     0.0      206.2
Akshan      9.0    10.0     26.0     6.7     3506.3
Alistar     0.0     0.0      0.0     0.0      111.2
...         ...     ...      ...     ...        ...
Zac      3088.0  2660.0   6425.0  3617.4   957500.2
Zed      1284.0   949.0   1035.0   583.2   266584.2
Zeri      156.0   120.0    156.0    73.9    33431.1
Ziggs       5.0     9.0     17.0     2.4     1795.2
Zyra     7014.0  6730.0  13455.0  6703.4  2256926.5

[125 rows x 5 columns]

In [28]:
# 22 Groupby 'Name' Column and count each time a champ has been played
jungle_sum = JUNGLE.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(jungle_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
jungle_sum = JUNGLE.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(jungle_sum)

         Count
Name
Aatrox       3
Ahri         1
Akali        2
Akshan       2
Alistar      1
...        ...
Zac        641
Zed        169
Zeri        23
Ziggs        1
Zyra      1491

[125 rows x 1 columns]
            Kills    Deaths     Assist       KDA    Game_Time
Name
Aatrox   3.000000  9.666667   8.000000  1.200000  1756.733333
Ahri     0.000000  1.000000   0.000000  0.000000   224.700000
Akali    0.000000  0.000000   0.000000  0.000000   103.100000
Akshan   4.500000  5.000000  13.000000  3.350000  1753.150000
Alistar  0.000000  0.000000   0.000000  0.000000   111.200000
...           ...       ...        ...       ...          ...
Zac      4.817473  4.149766  10.023401  5.643370  1493.760062
Zed      7.597633  5.615385   6.124260  3.450888  1577.421302
Zeri     6.782609  5.217391   6.782609  3.213043  1453.526087
Ziggs    5.000000  9.000000  17.000000  2.400000  1795.200000
Zyra     4.704225  4.513749   9.024145  4.495909  1513.699866

[125 rows x 5 columns]

In [29]:
# 23 MIDDLE Data Frame

MIDDLE = merged_df[merged_df['Position'].isin(['MIDDLE'])]

MIDDLE

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Role,Difficulty,Release Date,Last Changed,RP,Blue Essence
82013,MIDDLE,Qiyana,NaN,5.0,8.0,5.0,1.2,159.0,1302.7,Middle,6,06/28/2019,V14.16,880.0,4800.0
82014,MIDDLE,Tristana,Rumble,9.0,3.0,3.0,4.0,121.0,919.0,Bottom,1,02/21/2009,V14.14,585.0,1350.0
82015,MIDDLE,Corki,LeBlanc,6.0,7.0,3.0,1.3,181.0,1253.5,Middle,3,09/19/2009,V14.18,790.0,3150.0
82016,MIDDLE,Corki,Taliyah,2.0,4.0,3.0,1.2,279.0,1631.6,Middle,3,09/19/2009,V14.18,790.0,3150.0
82017,MIDDLE,Lux,Ezreal,10.0,3.0,3.0,4.3,190.0,1222.8,Middle,2,10/19/2010,V14.10,260.0,450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123008,MIDDLE,Corki,Nidalee,13.0,1.0,2.0,15.0,184.0,1324.1,Middle,3,09/19/2009,V14.18,790.0,3150.0
123009,MIDDLE,Cassiopeia,Jhin,8.0,8.0,5.0,1.6,185.0,1600.2,Middle,3,12/14/2010,V14.16,880.0,4800.0
123010,MIDDLE,Lucian,Ezreal,1.0,5.0,0.0,0.2,114.0,924.8,Bottom,2,08/22/2013,V14.16,585.0,1350.0
123011,MIDDLE,Leblanc,Ezreal,5.0,3.0,14.0,6.3,242.0,1714.3,NaN,NaN,NaN,NaN,NaN,NaN
123012,MIDDLE,Corki,Ziggs,4.0,8.0,5.0,1.1,302.0,2043.2,Middle,3,09/19/2009,V14.18,790.0,3150.0

In [30]:
# 24 Groupby 'Name' Column and count each time a champ has been played
middle_count = MIDDLE.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(middle_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
middle_count = MIDDLE.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(middle_count)

         Count
Name
Aatrox      46
Ahri      1041
Akali      756
Akshan     619
Alistar      8
...        ...
Zeri      1050
Ziggs      223
Zilean      69
Zoe        517
Zyra         5

[161 rows x 1 columns]
          Kills  Deaths  Assist     KDA  Game_Time
Name
Aatrox    278.0   264.0   277.0   131.6    68643.1
Ahri     5433.0  4386.0  7512.0  4336.1  1556558.4
Akali    5208.0  3605.0  3329.0  2524.7  1134633.8
Akshan   4697.0  2941.0  3518.0  2515.7   941348.9
Alistar    19.0    47.0    87.0    19.9    11934.2
...         ...     ...     ...     ...        ...
Zeri     6412.0  5386.0  5684.0  3386.4  1568696.4
Ziggs    1133.0   937.0  1481.0   889.1   340332.3
Zilean    210.0   202.0   651.0   400.7   104058.5
Zoe      3438.0  2248.0  3765.0  2438.4   798070.3
Zyra       22.0    28.0    49.0    12.5     9045.4

[161 rows x 5 columns]

In [31]:
# 25 Groupby 'Name' Column and count each time a champ has been played
middle_sum = MIDDLE.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(middle_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
middle_sum = MIDDLE.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(middle_sum)

         Count
Name
Aatrox      46
Ahri      1041
Akali      756
Akshan     619
Alistar      8
...        ...
Zeri      1050
Ziggs      223
Zilean      69
Zoe        517
Zyra         5

[161 rows x 1 columns]
            Kills    Deaths     Assist       KDA    Game_Time
Name
Aatrox   6.043478  5.739130   6.021739  2.860870  1492.241304
Ahri     5.219020  4.213256   7.216138  4.165322  1495.253026
Akali    6.888889  4.768519   4.403439  3.339550  1500.838360
Akshan   7.588045  4.751212   5.683360  4.064136  1520.757512
Alistar  2.375000  5.875000  10.875000  2.487500  1491.775000
...           ...       ...        ...       ...          ...
Zeri     6.106667  5.129524   5.413333  3.225143  1493.996571
Ziggs    5.080717  4.201794   6.641256  3.986996  1526.153812
Zilean   3.043478  2.927536   9.434783  5.807246  1508.094203
Zoe      6.649903  4.348162   7.282398  4.716441  1543.656286
Zyra     4.400000  5.600000   9.800000  2.500000  1809.080000

[161 rows x 5 columns]

In [32]:
# 26 Bottom Dataframe

BOTTOM = merged_df[merged_df['Position'].isin(['BOTTOM'])]

BOTTOM

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Role,Difficulty,Release Date,Last Changed,RP,Blue Essence
0,BOTTOM,Sejuani,Twisted Fate,3.0,6.0,5.0,1.3,123.0,1234.3,Jungle,2,01/17/2012,V14.15,260.0,450.0
1,BOTTOM,Zeri,Rell,6.0,6.0,5.0,1.8,216.0,1506.6,Bottom,4,01/20/2022,V14.18,880.0,4800.0
2,BOTTOM,Kalista,NaN,11.0,8.0,12.0,2.9,202.0,1934.5,Middle,4,11/20/2014,V14.13,880.0,4800.0
3,BOTTOM,Jhin,Illaoi,4.0,4.0,6.0,2.5,269.0,1839.5,Bottom,4,02/01/2016,V14.8,880.0,4444.0
4,BOTTOM,MissFortune,NaN,3.0,3.0,2.0,1.7,118.0,942.3,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41002,BOTTOM,Jinx,LeBlanc,7.0,0.0,5.0,12.0,150.0,1117.3,Bottom,1,10/10/2013,V14.18,790.0,3150.0
41003,BOTTOM,Kai'Sa,Zeri,10.0,8.0,1.0,1.4,188.0,1491.0,NaN,NaN,NaN,NaN,NaN,NaN
41004,BOTTOM,Caitlyn,Akali,11.0,5.0,4.0,3.0,236.0,1743.3,Bottom,5,01/04/2011,V14.11,260.0,450.0
41005,BOTTOM,Lucian,LeBlanc,2.0,12.0,2.0,0.3,185.0,1777.4,Bottom,2,08/22/2013,V14.16,585.0,1350.0
41006,BOTTOM,Ezreal,NaN,3.0,1.0,4.0,7.0,143.0,1048.8,Bottom,3,03/16/2010,V14.15,585.0,1350.0

In [33]:
# 27 Groupby 'Name' Column and count each time a champ has been played
bottom_count = BOTTOM.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(bottom_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
bottom_count = BOTTOM.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(bottom_count)

         Count
Name
Aatrox       1
Ahri         3
Akali        2
Akshan      13
Alistar      1
...        ...
Zeri      4314
Ziggs      510
Zilean       2
Zoe          4
Zyra        23

[128 rows x 1 columns]
           Kills   Deaths   Assist      KDA  Game_Time
Name
Aatrox       6.0      5.0     15.0      4.2     2318.6
Ahri        20.0      9.0     14.0     11.3     3875.6
Akali        6.0     11.0      3.0      1.7     2441.2
Akshan      65.0     49.0     76.0     43.7    17623.8
Alistar      2.0      9.0     11.0      1.4     1643.5
...          ...      ...      ...      ...        ...
Zeri     28183.0  20345.0  26248.0  16696.8  6432574.4
Ziggs     2438.0   2376.0   3523.0   1804.7   762910.1
Zilean      10.0      8.0     19.0      7.3     3118.6
Zoe         20.0     14.0     32.0     19.6     5834.9
Zyra       113.0    102.0    207.0     95.1    39941.3

[128 rows x 5 columns]

In [34]:
# 28 Groupby 'Name' Column and count each time a champ has been played
bottom_sum = BOTTOM.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(bottom_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
bottom_sum = BOTTOM.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(bottom_sum)

         Count
Name
Aatrox       1
Ahri         3
Akali        2
Akshan      13
Alistar      1
...        ...
Zeri      4314
Ziggs      510
Zilean       2
Zoe          4
Zyra        23

[128 rows x 1 columns]
            Kills    Deaths     Assist       KDA    Game_Time
Name
Aatrox   6.000000  5.000000  15.000000  4.200000  2318.600000
Ahri     6.666667  3.000000   4.666667  3.766667  1291.866667
Akali    3.000000  5.500000   1.500000  0.850000  1220.600000
Akshan   5.000000  3.769231   5.846154  3.361538  1355.676923
Alistar  2.000000  9.000000  11.000000  1.400000  1643.500000
...           ...       ...        ...       ...          ...
Zeri     6.532916  4.716041   6.084376  3.870376  1491.092814
Ziggs    4.780392  4.658824   6.907843  3.538627  1495.902157
Zilean   5.000000  4.000000   9.500000  3.650000  1559.300000
Zoe      5.000000  3.500000   8.000000  4.900000  1458.725000
Zyra     4.913043  4.434783   9.000000  4.134783  1736.578261

[128 rows x 5 columns]

In [35]:
# 29 UTILITY Data Frame

UTILITY = merged_df[merged_df['Position'].isin(['UTILITY'])]

UTILITY

,Position,Name,Banned Champ,Kills,Deaths,Assist,KDA,CS,Game Time (s),Role,Difficulty,Release Date,Last Changed,RP,Blue Essence
164016,UTILITY,Sona,Skarner,0.0,4.0,13.0,3.2,22.0,1275.0,Support,2,09/21/2010,V14.7,260.0,450.0
164017,UTILITY,Leona,Karthus,3.0,4.0,6.0,2.2,36.0,1554.3,Support,2,07/13/2011,V14.18,260.0,450.0
164018,UTILITY,Leona,Karthus,1.0,2.0,14.0,7.5,15.0,1208.8,Support,2,07/13/2011,V14.18,260.0,450.0
164019,UTILITY,Lulu,Ezreal,4.0,4.0,29.0,8.2,27.0,2010.8,Support,2,03/20/2012,V14.18,880.0,4800.0
164020,UTILITY,Leona,Lillia,0.0,6.0,5.0,0.8,32.0,1399.2,Support,2,07/13/2011,V14.18,260.0,450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205019,UTILITY,Soraka,Darius,2.0,5.0,15.0,3.4,35.0,1717.7,Support,1,02/21/2009,V14.4,260.0,450.0
205020,UTILITY,Lulu,Karthus,2.0,1.0,16.0,18.0,25.0,1807.8,Support,2,03/20/2012,V14.18,880.0,4800.0
205021,UTILITY,Braum,Lee Sin,2.0,5.0,28.0,6.0,23.0,1927.4,Support,2,05/12/2014,V14.9,790.0,3150.0
205022,UTILITY,Thresh,Pyke,2.0,5.0,18.0,4.0,39.0,1829.1,Support,5,01/23/2013,V14.8,790.0,3150.0
205023,UTILITY,Senna,Lillia,9.0,7.0,22.0,4.4,36.0,1851.8,Bottom,5,11/10/2019,V14.16,790.0,3150.0

In [36]:
# 30 Groupby 'Name' Column and count each time a champ has been played
utility_count = UTILITY.groupby('Name').agg(Count=('Kills', 'count'))

# Display # of times a champ has been played
print(utility_count)

# Groupby to get counts for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
utility_count = UTILITY.groupby('Name').agg(Kills=('Kills', 'sum'), 
                                        Deaths=('Deaths', 'sum'),
                                        Assist=('Assist', 'sum'),
                                        KDA=('KDA', 'sum'),
                                        Game_Time=('Game Time (s)', 'sum'))



# New Dataframe (Count)
print(utility_count)

         Count
Name
Aatrox       4
Ahri         3
Akshan       1
Alistar   2364
Amumu       87
...        ...
Zac        178
Ziggs       10
Zilean     290
Zoe         61
Zyra       130

[130 rows x 1 columns]
          Kills   Deaths   Assist     KDA  Game_Time
Name
Aatrox     20.0     33.0     22.0     3.7     6347.7
Ahri        8.0     22.0     24.0     5.0     4436.5
Akshan      8.0      1.0      5.0    13.0      931.8
Alistar  3220.0  12707.0  31141.0  9181.2  3507134.1
Amumu     212.0    636.0   1104.0   271.3   136565.8
...         ...      ...      ...     ...        ...
Zac       459.0    910.0   2066.0   775.0   260923.9
Ziggs      16.0     47.0     53.0    28.7    11362.2
Zilean    393.0   1350.0   3623.0  1299.3   449637.3
Zoe       220.0    363.0    580.0   174.5    93441.2
Zyra      393.0    814.0   1419.0   350.5   213585.7

[130 rows x 5 columns]

In [37]:
# 31 Groupby 'Name' Column and count each time a champ has been played
utility_sum = UTILITY.groupby('Name').agg(Count=('Name', 'count'))

# Display # of times a champ has been played
print(utility_sum)

# Groupby to get averages for each champs stats (Kills, Deaths, Assist, KDA, Game Time)
utility_sum = UTILITY.groupby('Name').agg(Kills=('Kills', 'mean'), 
                                        Deaths=('Deaths', 'mean'),
                                        Assist=('Assist', 'mean'),
                                        KDA=('KDA', 'mean'),
                                        Game_Time=('Game Time (s)', 'mean'))

# New Dataframe (Average)
print(utility_sum)

         Count
Name
Aatrox       4
Ahri         3
Akshan       1
Alistar   2364
Amumu       87
...        ...
Zac        178
Ziggs       10
Zilean     290
Zoe         61
Zyra       130

[130 rows x 1 columns]
            Kills    Deaths     Assist        KDA    Game_Time
Name
Aatrox   5.000000  8.250000   5.500000   0.925000  1586.925000
Ahri     2.666667  7.333333   8.000000   1.666667  1478.833333
Akshan   8.000000  1.000000   5.000000  13.000000   931.800000
Alistar  1.362098  5.375212  13.173012   3.883756  1483.559264
Amumu    2.436782  7.310345  12.689655   3.118391  1569.721839
...           ...       ...        ...        ...          ...
Zac      2.578652  5.112360  11.606742   4.353933  1465.864607
Ziggs    1.600000  4.700000   5.300000   2.870000  1136.220000
Zilean   1.355172  4.655172  12.493103   4.480345  1550.473448
Zoe      3.606557  5.950820   9.508197   2.860656  1531.822951
Zyra     3.023077  6.261538  10.915385   2.696154  1642.966923

[130 rows x 5 columns]

In [ ]:
# Everything above ok for now

# Anything below needs work